Repository ActiveState/cli, pull requests merged in 2021-06, with the labels that each got.

#1402 Add bash path function to script expander
  activestate.yaml
  internal/osutils/osutils.go
  internal/osutils/osutils_test.go
  internal/subshell/sscommon/sscommon.go
  pkg/project/expander.go
  test/integration/komodo_int_test.go
  test/integration/scripts_int_test.go
Labels: run integration tests, run-int-test-only:scripts

#1399 State push creates a project without state init
  internal/runners/initialize/init.go
  internal/runners/push/push.go
  locale/en-us.yaml
  test/integration/push_int_test.go
Labels: run integration tests, run-int-test-only:push

#1417 Auth logout fix
  cmd/state-installer/installer.go
  cmd/state-svc/main.go
  cmd/state-transition-update/main.go
  cmd/state-tray/main.go
  cmd/state-update-dialog/main.go
  cmd/state/main.go
  internal/analytics/analytics.go
  internal/runbits/panics/panics.go
  test/integration/auth_int_test.go
  test/integration/komodo_int_test.go
  test/integration/vscode_int_test.go
Labels: run integration tests, run-int-test-only:auth

#1413 Invalidate executors on update
  internal/config/instance.go
  internal/runners/prepare/prepare.go
  pkg/platform/runtime/artifact/artifact_test.go
  pkg/platform/runtime/runtime.go
  pkg/platform/runtime/setup/implementations/camel/runtime.go
  pkg/platform/runtime/store/store.go
  test/integration/prepare_int_test.go
Labels: run integration tests, run-int-test-only:prepare

#1428 Always stop services during state clean (config|cache|uninstall)
  cmd/state/internal/cmdtree/clean.go
  internal/runners/clean/cache.go
  internal/runners/clean/config.go
  internal/runners/clean/run_lin_mac.go
  internal/runners/clean/run_win.go
  internal/runners/clean/stop.go
  internal/runners/clean/uninstall.go
  locale/en-us.yaml
Labels: run integration tests, run-int-test-only:uninstall
