Repository ActiveState/cli, pull requests merged in 2021-04, with the labels that each got.

#1297 set project name in project file after push
  changelog.md
  internal/runners/push/push.go
  pkg/platform/model/vcs.go
  test/integration/push_int_test.go
Labels: run integration tests, run-int-test-only:push

#1305 Created the executor package (used by globaldefault)
  assets/executors/executor.bat
  assets/executors/executor.sh
  assets/shim/shim.bat
  assets/shim/shim.sh
  cmd/state/internal/cmdtree/cmdtree.go
  cmd/state/internal/cmdtree/exec.go
  internal/appinfo/appinfo.go
  internal/constants/constants.go
  internal/executor/executor.go
  internal/executor/executor_lin_mac.go
  internal/executor/executor_test.go
  internal/executor/executor_windows.go
  internal/fileutils/fileutils.go
  internal/globaldefault/default.go
  internal/globaldefault/default_lin_mac.go
  internal/globaldefault/default_windows.go
  internal/logging/defaults.go
  internal/runners/activate/activate.go
  internal/runners/exec/exec.go
  internal/testhelpers/tagsuite/tagsuite.go
  locale/en-us.yaml
  pkg/platform/runtime/runtime.go
  test/integration/activate_int_test.go
  test/integration/exec_int_test.go
Labels: run integration tests, run-int-test-only:exec

#1318 Deploy does not use executors
  internal/runners/deploy/deploy.go
  test/integration/deploy_int_test.go
Labels: run integration tests, run-int-test-only:deploy
