Repository ActiveState/cli, pull requests merged in 2021-01, with the labels that each got.

#1198 State pull can replace project url
  cmd/state/internal/cmdtree/pull.go
  internal/runners/pull/pull.go
  locale/en-us.yaml
  test/integration/activate_int_test.go
  test/integration/pull_int_test.go
Labels: run integration tests, run-int-test-only:pull

#1201 State info can handle versions
  cmd/state/internal/cmdtree/packages.go
  internal/runners/packages/info.go
  internal/testhelpers/tagsuite/tagsuite.go
  pkg/platform/model/inventory.go
  test/integration/info_integration_test.go
Labels: run integration tests, run-int-test-only:info

#1203 add vscode integration tests
  test/integration/activate_int_test.go
  test/integration/komodo_int_test.go
  test/integration/vscode_int_test.go
Labels: run integration tests, run-int-test-only:vscode

#1215 add ArgMarshaler for package@version args
  cmd/state/internal/cmdtree/bundles.go
  cmd/state/internal/cmdtree/packages.go
  cmd/state/internal/cmdtree/platforms.go
  internal/captain/nameversion.go
  internal/runners/packages/info.go
  internal/runners/packages/install.go
  internal/runners/packages/packages.go
  internal/runners/platforms/add.go
  internal/runners/platforms/platforms.go
  internal/runners/platforms/remove.go
  internal/runners/update/lock.go
  test/integration/languages_int_test.go
Labels: run integration tests, run-int-test-only:languages
