Repository ActiveState/cli, pull requests merged in 2021-02, with the labels that each got.

#1236 remove project.Get() and project.GetSafe() usage
  cmd/state/internal/cmdtree/platforms.go
  internal/runners/activate/activation.go
  internal/runners/export/apikey.go
  internal/runners/export/recipe.go
  internal/runners/packages/info.go
  internal/runners/packages/list.go
  internal/runners/packages/search.go
  internal/runners/platforms/add.go
  internal/runners/platforms/list.go
  internal/runners/platforms/remove.go
  internal/runners/run/run.go
  internal/runners/scripts/edit.go
  internal/runners/scripts/edit_test.go
  internal/runners/secrets/secrets.go
  internal/subshell/bash/bash.go
  internal/subshell/cmd/cmd.go
  internal/subshell/fish/fish.go
  internal/subshell/sscommon/rcfile.go
  internal/subshell/subshell.go
  internal/subshell/tcsh/tcsh.go
  internal/subshell/zsh/zsh.go
  pkg/cmdlets/checker/checker.go
Labels: run integration tests, run-int-test-only:package, run-int-test-only:platforms

#1240 Add state cve report
  cmd/state/internal/cmdtree/cmdtree.go
  cmd/state/internal/cmdtree/cve.go
  internal/runners/cve/cve.go
  internal/runners/cve/report.go
  locale/en-us.yaml
  pkg/platform/api/mediator/model/cve.go
  pkg/platform/model/cve.go
  test/integration/cve_int_test.go
Labels: run integration tests, run-int-test-only:cve

#1246 Add listing and creation of branches
  cmd/state/internal/cmdtree/branch.go
  cmd/state/internal/cmdtree/cmdtree.go
  internal/runners/branch/add.go
  internal/runners/branch/list.go
  internal/testhelpers/tagsuite/tagsuite.go
  locale/en-us.yaml
  pkg/platform/model/projects.go
  pkg/platform/model/vcs.go
  test/integration/branch_int_test.go
Labels: run integration tests, run-int-test-only:branches

#1254 Add state branch switch
  cmd/state/internal/cmdtree/branch.go
  cmd/state/internal/cmdtree/cmdtree.go
  internal/runbits/refresh.go
  internal/runbits/runtimemsg.go
  internal/runners/branch/add.go
  internal/runners/branch/list.go
  internal/runners/branch/switch.go
  internal/runners/packages/import.go
  internal/runners/packages/packages.go
  internal/runners/push/push.go
  locale/en-us.yaml
  pkg/platform/runtime/internal_test.go
  pkg/projectfile/projectfield.go
  pkg/projectfile/projectfile.go
  test/integration/branch_int_test.go
Labels: run integration tests, run-int-test-only:branches

#1209 add `state cve` command
  cmd/state/internal/cmdtree/cmdtree.go
  cmd/state/internal/cmdtree/cve.go
  internal/constants/constants.go
  internal/runners/cve/cve.go
  internal/runners/cve/report.go
  internal/testhelpers/tagsuite/tagsuite.go
  locale/en-us.yaml
  pkg/platform/api/mediator/mediator.go
  pkg/platform/api/mediator/model/cve.go
  pkg/platform/api/mediator/model/model.go
  pkg/platform/api/mediator/request/cve.go
  pkg/platform/api/settings.go
  pkg/platform/model/cve.go
  test/integration/cve_int_test.go
Labels: run integration tests, run-int-test-only:cve
