Repository ActiveState/cli, pull requests merged in 2021-11, with the labels that each got.

#1624 Fix installer not reporting errors
  activestate.yaml
  cmd/state-svc/service.go
  cmd/state/errors.go
  internal/condition/condition.go
  internal/condition/condition_test.go
  internal/constants/preprocess/preprocess.go
  internal/installation/paths.go
  internal/logging/defaults.go
  internal/rtutils/ci.go
  internal/rtutils/local.go
  internal/runners/state/state.go
  locale/en-us.yaml
  scripts/constants-generator/main.go
  scripts/constants-generator/main_test.go
  test/integration/version_int_test.go
Labels: Test: Critical

#1605 Start subshell for new installs
  cmd/state-installer/cmd.go
  internal/subshell/bash/bash.go
  internal/subshell/cmd/cmd.go
  internal/subshell/fish/fish.go
  internal/subshell/sscommon/env.go
  internal/subshell/sscommon/sscommon.go
  internal/subshell/tcsh/tcsh.go
  internal/subshell/zsh/zsh.go
  test/integration/install_scripts_int_test.go
Labels: Test: install-scripts

#1632 Runtime heartbeat event
  .gotestfmt/package.gotpl
  cmd/state-installer/cmd.go
  cmd/state-svc/internal/resolver/resolver.go
  cmd/state-svc/internal/rtwatcher/entry.go
  cmd/state-svc/internal/rtwatcher/watcher.go
  cmd/state-svc/internal/rtwatcher/watcher_test.go
  cmd/state-svc/internal/server/generated/generated.go
  cmd/state-svc/internal/server/server.go
  cmd/state-svc/main.go
  cmd/state-svc/schema/schema.graphqls
  cmd/state-tray/main.go
  cmd/state/main.go
  internal/analytics/client/async/client.go
  internal/analytics/client/sync/client.go
  internal/analytics/client/sync/reporters/legacy-pixel.go
  internal/analytics/client/sync/reporters/pixel.go
  internal/analytics/client/sync/reporters/test.go
  internal/analytics/constants/constants.go
  internal/analytics/dimensions/dimensions.go
  internal/condition/condition.go
  internal/constants/constants.go
  internal/events/cmdcall/cmdcall.go
  internal/events/wait.go
  internal/fileutils/fileutils.go
  internal/graph/generated.go
  internal/primer/primer.go
  internal/runbits/panics/panics.go
  internal/runbits/refresh.go
  internal/runners/activate/activate.go
  internal/runners/branch/list.go
  internal/runners/branch/switch.go
  internal/runners/clean/cache.go
  internal/runners/deploy/deploy.go
  internal/runners/exec/exec.go
  internal/runners/packages/import.go
  internal/runners/packages/packages.go
  internal/runners/prepare/prepare.go
  internal/runners/pull/pull.go
  internal/runners/reset/reset.go
  internal/runners/revert/revert.go
  internal/runners/run/run.go
  internal/scriptrun/scriptrun.go
  internal/scriptrun/test/integration/scriptrun_test.go
  internal/testhelpers/e2e/session.go
  internal/testhelpers/tagsuite/tagsuite.go
  pkg/cmdlets/checker/checker.go
  pkg/platform/api/svc/request/analytics.go
  pkg/platform/api/svc/request/rtusage.go
  pkg/platform/model/svc.go
  pkg/platform/runtime/runtime.go
  pkg/platform/runtime/setup/setup.go
  pkg/platform/runtime/target/target.go
  pkg/platform/runtime/target/target_test.go
  test/integration/analytics_int_test.go
  test/integration/prepare_int_test.go
Labels: Test: analytics

#1641 Regenerate mono and inventory API
  pkg/platform/api/inventory/inventory_client/inventory_operations/add_ingredient_and_versions_parameters.go
  pkg/platform/api/inventory/inventory_client/inventory_operations/add_ingredient_and_versions_responses.go
  pkg/platform/api/inventory/inventory_client/inventory_operations/get_ingredient_version_responses.go
  pkg/platform/api/inventory/inventory_client/inventory_operations/get_namespace_ingredient_version_responses.go
  pkg/platform/api/inventory/inventory_client/inventory_operations/inventory_operations_client.go
  pkg/platform/api/inventory/inventory_models/ingredient_all_in_one_create.go
  pkg/platform/api/inventory/inventory_models/ingredient_all_in_one_response.go
  pkg/platform/api/inventory/inventory_models/ingredient_version_all_in_one_create.go
  pkg/platform/api/inventory/inventory_models/ingredient_version_all_in_one_create_all_of0.go
  pkg/platform/api/inventory/inventory_models/recipe.go
  pkg/platform/api/inventory/inventory_models/solver_remediable_error.go
  pkg/platform/api/inventory/inventory_models/solver_remediation.go
  pkg/platform/api/inventory/inventory_models/solver_remediation_parameters.go
  pkg/platform/api/inventory/inventory_models/solver_validation_error.go
  pkg/platform/api/inventory/inventory_models/solver_validation_error_all_of2.go
  pkg/platform/api/mono/mono_client/authentication/authentication_client.go
  pkg/platform/api/mono/mono_client/authentication/unlink_github_account_parameters.go
  pkg/platform/api/mono/mono_client/authentication/unlink_github_account_responses.go
  pkg/platform/api/mono/mono_client/organizations/add_organization_auto_invite_parameters.go
  pkg/platform/api/mono/mono_client/organizations/add_organization_auto_invite_responses.go
  pkg/platform/api/mono/mono_client/organizations/delete_organization_auto_invite_parameters.go
  pkg/platform/api/mono/mono_client/organizations/delete_organization_auto_invite_responses.go
  pkg/platform/api/mono/mono_client/organizations/get_organization_auto_invite_parameters.go
  pkg/platform/api/mono/mono_client/organizations/get_organization_auto_invite_responses.go
  pkg/platform/api/mono/mono_client/organizations/organizations_client.go
  pkg/platform/api/mono/mono_client/users/get_domains_by_user_parameters.go
  pkg/platform/api/mono/mono_client/users/get_domains_by_user_responses.go
  pkg/platform/api/mono/mono_client/users/users_client.go
  pkg/platform/api/mono/mono_models/auto_invite_settings.go
  pkg/platform/api/mono/mono_models/limits.go
  pkg/platform/api/mono/mono_models/limits_editable.go
  pkg/platform/api/mono/mono_models/organization.go
  pkg/platform/api/mono/mono_models/organization_mutation.go
  pkg/platform/api/mono/mono_models/organization_mutation_editable.go
  pkg/platform/api/mono/mono_models/tier.go
  pkg/platform/api/mono/mono_models/user.go
Labels: Test: Critical

#1638 State Tool uses search endpoint to validate names before solving in state install
  .github/workflows/build.yml
  internal/runners/packages/packages.go
  locale/en-us.yaml
  test/integration/package_int_test.go
  test/integration/vscode_int_test.go
Labels: Test: package

#1636 Update push branch check
  internal/runners/push/push.go
  test/integration/pull_int_test.go
Labels: Test: push

#1642 Handle spaces in cache dir (executors)
  assets/executors/executor.sh
  internal/runners/exec/exec.go
  test/integration/activate_int_test.go
Labels: Test: activate

#1645 Remove UPX
  activestate.yaml
Labels: Test: history

#1646 Address various issues with state-svc hanging
  cmd/state-svc/manager.go
  cmd/state/main.go
  internal/analytics/client/async/client.go
  internal/errs/errs.go
  internal/locale/errors.go
  internal/logging/defaults.go
  internal/rtutils/rtutils.go
  internal/rtutils/rtutils_test.go
  internal/rtutils/singlethread/singlethread.go
  internal/uniqid/legacy.go
  internal/uniqid/uniqid.go
Labels: Test: Critical

#1648 Fix Installer giving update UX and targeting wrong dir if `-b` passed
  cmd/state-installer/cmd.go
  internal/installation/paths.go
  internal/installation/paths_darwin.go
  internal/installation/paths_linux.go
  internal/installation/paths_windows.go
Labels: Test: install-scripts

#1650 Disable CGO
  activestate.yaml
Labels: Test: Critical

#1644 Remove and fix failing tests
  pkg/platform/runtime/setup/setup.go
  test/integration/activate_int_test.go
  test/integration/assets/run/go.mod
  test/integration/run_int_test.go
  test/integration/vscode_int_test.go
Labels: Test: activate

#1649 Fix TestActivate_PythonPath
  pkg/platform/runtime/setup/implementations/camel/prepare_mac.go
  test/integration/activate_int_test.go
Labels: Test: activate

#1654 Update MacOS CI Runner
  .github/workflows/build.yml
Labels: Test: Critical

#1656 v0.31.0-3
  .github/workflows/build.yml
  activestate.yaml
  cmd/state-installer/cmd.go
  cmd/state/main.go
  internal/constraints/constraints.go
  internal/installation/paths.go
  internal/installation/paths_darwin.go
  internal/installation/paths_linux.go
  internal/installation/paths_windows.go
  internal/rtutils/p/pointresolv.go
  internal/runbits/panics/panics.go
  internal/runners/packages/search.go
  locale/en-us.yaml
  pkg/platform/runtime/setup/implementations/camel/prepare_mac.go
  pkg/platform/runtime/setup/setup.go
  pkg/project/expander.go
  pkg/project/expander_test.go
  pkg/project/project.go
  pkg/project/registry.go
  scripts/parallelize/parallelize.go
  test/integration/activate_int_test.go
  test/integration/assets/run/go.mod
  test/integration/package_int_test.go
  test/integration/run_int_test.go
  test/integration/vscode_int_test.go
Labels: Test: activate, Test: package, Test: Critical

#1657 Regen monoapi client to stop using legacy APIs
  pkg/platform/api/mono/mono_client/ingredients/add_ingredient_parameters.go
  pkg/platform/api/mono/mono_client/ingredients/add_ingredient_responses.go
  pkg/platform/api/mono/mono_client/ingredients/get_ingredient_parameters.go
  pkg/platform/api/mono/mono_client/ingredients/get_ingredient_responses.go
  pkg/platform/api/mono/mono_client/ingredients/get_ingredient_version_parameters.go
  pkg/platform/api/mono/mono_client/ingredients/get_ingredient_version_responses.go
  pkg/platform/api/mono/mono_client/ingredients/ingredients_client.go
  pkg/platform/api/mono/mono_client/ingredients/list_ingredient_versions_parameters.go
  pkg/platform/api/mono/mono_client/ingredients/list_ingredient_versions_responses.go
  pkg/platform/api/mono/mono_client/ingredients/list_ingredients_parameters.go
  pkg/platform/api/mono/mono_client/ingredients/list_ingredients_responses.go
  pkg/platform/api/mono/mono_client/languages/add_language_parameters.go
  pkg/platform/api/mono/mono_client/languages/add_language_responses.go
  pkg/platform/api/mono/mono_client/languages/languages_client.go
  pkg/platform/api/mono/mono_client/languages/list_languages_parameters.go
  pkg/platform/api/mono/mono_client/languages/list_languages_responses.go
  pkg/platform/api/mono/mono_client/licenses/get_license_parameters.go
  pkg/platform/api/mono/mono_client/licenses/get_license_responses.go
  pkg/platform/api/mono/mono_client/licenses/licenses_client.go
  pkg/platform/api/mono/mono_client/licenses/list_licenses_parameters.go
  pkg/platform/api/mono/mono_client/licenses/list_licenses_responses.go
  pkg/platform/api/mono/mono_client/mono_client.go
  pkg/platform/api/mono/mono_client/platforms/add_platform_parameters.go
  pkg/platform/api/mono/mono_client/platforms/add_platform_responses.go
  pkg/platform/api/mono/mono_client/platforms/list_platforms_parameters.go
  pkg/platform/api/mono/mono_client/platforms/list_platforms_responses.go
  pkg/platform/api/mono/mono_client/platforms/platforms_client.go
  pkg/platform/api/mono/mono_client/projects/add_distro_parameters.go
  pkg/platform/api/mono/mono_client/projects/add_distro_responses.go
  pkg/platform/api/mono/mono_client/projects/add_format_parameters.go
  pkg/platform/api/mono/mono_client/projects/add_format_responses.go
  pkg/platform/api/mono/mono_client/projects/add_release_parameters.go
  pkg/platform/api/mono/mono_client/projects/add_release_responses.go
  pkg/platform/api/mono/mono_client/projects/edit_release_parameters.go
  pkg/platform/api/mono/mono_client/projects/edit_release_responses.go
  pkg/platform/api/mono/mono_client/projects/get_distro_parameters.go
  pkg/platform/api/mono/mono_client/projects/get_distro_responses.go
  pkg/platform/api/mono/mono_client/projects/get_format_parameters.go
  pkg/platform/api/mono/mono_client/projects/get_format_responses.go
  pkg/platform/api/mono/mono_client/projects/get_release_parameters.go
  pkg/platform/api/mono/mono_client/projects/get_release_responses.go
  pkg/platform/api/mono/mono_client/projects/list_distros_parameters.go
  pkg/platform/api/mono/mono_client/projects/list_distros_responses.go
  pkg/platform/api/mono/mono_client/projects/list_formats_parameters.go
  pkg/platform/api/mono/mono_client/projects/list_formats_responses.go
  pkg/platform/api/mono/mono_client/projects/list_releases_parameters.go
  pkg/platform/api/mono/mono_client/projects/list_releases_responses.go
  pkg/platform/api/mono/mono_client/projects/projects_client.go
  pkg/platform/api/mono/mono_client/status/config_file_parameters.go
  pkg/platform/api/mono/mono_client/status/config_file_responses.go
  pkg/platform/api/mono/mono_client/status/status_client.go
  pkg/platform/api/mono/mono_models/distro.go
  pkg/platform/api/mono/mono_models/format.go
  pkg/platform/api/mono/mono_models/ingredient.go
  pkg/platform/api/mono/mono_models/ingredient_version.go
  pkg/platform/api/mono/mono_models/language.go
  pkg/platform/api/mono/mono_models/license.go
  pkg/platform/api/mono/mono_models/platform.go
  pkg/platform/api/mono/mono_models/release.go
Labels: Test: languages, Test: Critical

#1651 Add install test for forwarded commands
  test/integration/install_scripts_int_test.go
Labels: Test: install-scripts
