Repository ActiveState/cli, pull requests merged in 2022-06, with the labels that each got.

#1874 Default to AMD64 on macOS
  pkg/platform/model/checkpoints.go
  pkg/platform/model/inventory.go
Labels: Test: Critical

#1875 Cache artifact downloads.
  internal/constants/constants.go
  internal/installation/storage/storage.go
  internal/testhelpers/osutil/file_helpers.go
  pkg/platform/runtime/artifactcache/artifactcache.go
  pkg/platform/runtime/artifactcache/artifactcache_int_test.go
  pkg/platform/runtime/artifactcache/testdata/009D20C9-0E38-44E8-A095-7B6FEF01D7DA
  pkg/platform/runtime/artifactcache/testdata/2C36A315-59ED-471B-8629-2663ECC95476
  pkg/platform/runtime/artifactcache/testdata/57E8EAF4-F7EE-4BEF-B437-D9F0A967BA52
  pkg/platform/runtime/artifactcache/testdata/5D8D933F-09FA-45A3-81FF-E6F33E91C9ED
  pkg/platform/runtime/artifactcache/testdata/74D554B3-6B0F-434B-AFE2-9F2F0B5F32BA
  pkg/platform/runtime/artifactcache/testdata/87ADD1B0-169D-4C01-8179-191BB9910799
  pkg/platform/runtime/artifactcache/testdata/992B8488-C61D-433C-ADF2-D76EBD8DAE59
  pkg/platform/runtime/artifactcache/testdata/CAC9708D-FAA6-4295-B640-B8AA41A8AABC
  pkg/platform/runtime/artifactcache/testdata/E299F10C-7B5D-4B25-B821-90E30193A916
  pkg/platform/runtime/artifactcache/testdata/F95C0ECE-9F69-4998-B83F-CE530BACD468
  pkg/platform/runtime/setup/setup.go
  test/integration/activate_int_test.go
Labels: Test: activate, Test: Critical

#1897 Fix installer integration test
  cmd/state-installer/test/integration/installer_int_test.go
Labels: Test:installer

#1898 Fix TestSingleSvc
  cmd/state-svc/test/integration/svc_int_test.go
Labels: Test: service

#1889 Allow installers to set up a runtime offline
  internal/locale/locales/en-us.yaml
  internal/testhelpers/osutil/file_helpers.go
  pkg/platform/runtime/runtime.go
  pkg/platform/runtime/runtime_int_test.go
  pkg/platform/runtime/setup/events/consumer_test.go
  pkg/platform/runtime/setup/setup.go
  pkg/platform/runtime/target/target.go
  pkg/platform/runtime/testdata/009D20C9-0E38-44E8-A095-7B6FEF01D7DA.tar.gz
  pkg/platform/runtime/testdata/2C36A315-59ED-471B-8629-2663ECC95476.tar.gz
  pkg/platform/runtime/testdata/57E8EAF4-F7EE-4BEF-B437-D9F0A967BA52.tar.gz
  pkg/platform/runtime/testdata/5D8D933F-09FA-45A3-81FF-E6F33E91C9ED.tar.gz
  pkg/platform/runtime/testdata/74D554B3-6B0F-434B-AFE2-9F2F0B5F32BA.tar.gz
  pkg/platform/runtime/testdata/87ADD1B0-169D-4C01-8179-191BB9910799.tar.gz
  pkg/platform/runtime/testdata/992B8488-C61D-433C-ADF2-D76EBD8DAE59.tar.gz
  pkg/platform/runtime/testdata/CAC9708D-FAA6-4295-B640-B8AA41A8AABC.tar.gz
  pkg/platform/runtime/testdata/E299F10C-7B5D-4B25-B821-90E30193A916.tar.gz
  pkg/platform/runtime/testdata/F95C0ECE-9F69-4998-B83F-CE530BACD468.tar.gz
  pkg/platform/runtime/testhelper/eventsmock.go
Labels: Test: activate, Test: Critical

#1893 v0.34.0-RC4
  cmd/state-installer/cmd.go
  cmd/state-installer/test/integration/installer_int_test.go
  cmd/state-svc/internal/resolver/resolver.go
  cmd/state-svc/internal/rtwatcher/entry.go
  cmd/state-svc/test/integration/svc_int_test.go
  cmd/state/autoupdate.go
  internal/constants/constants.go
  internal/fileutils/fileutils.go
  internal/installmgr/stop.go
  internal/locale/locales/en-us.yaml
  internal/process/process.go
  internal/runners/packages/info.go
  internal/svcctl/svcctl.go
  internal/testhelpers/e2e/session.go
  internal/testhelpers/tagsuite/tagsuite.go
  test/integration/analytics_int_test.go
Labels: Test: all

#1900 Updated deploy integration test to not find PPM.
  test/integration/deploy_int_test.go
Labels: Test: deploy

#1904 Fix potential project panic
  internal/runners/activate/activate.go
  pkg/projectfile/projectfile.go
Labels: Test: Critical

#1886 Installer has update flag
  cmd/state-installer/cmd.go
  cmd/state-installer/installer.go
  cmd/state-installer/installer_darwin.go
  cmd/state-installer/installer_windows.go
  internal/updater/updater.go
Labels: Test: update, Test: install-scripts, Test:installer

#1909 Ensure automation tests are run as integration tests and only when tagged
  .github/workflows/build.yml
  activestate.yaml
  internal/testhelpers/tagsuite/tagsuite.go
  test/automation/search_automation_test.go
Labels: Test: automation

#1911 Do not attempt to setup environment for DisabledRuntime.
  pkg/platform/runtime/runtime.go
  pkg/platform/runtime/setup/setup.go
  pkg/platform/runtime/store/store.go
Labels: Test: Critical

#1903 Separate installer payload in integration tests
  cmd/state-installer/test/integration/installer_int_test.go
  internal/testhelpers/e2e/dirs.go
  internal/testhelpers/e2e/session.go
Labels: Test:installer

#1894 Installer is clickable on Windows
  cmd/state-installer/cmd.go
  internal/captain/command.go
Labels: Test: install-scripts, Test:installer

#1921 Markm/dx 1026
  test/automation/learn_automation_test.go
  test/automation/projects_automation_test.go
  test/automation/reset_automation_test.go
  test/automation/search_automation_test.go
Labels: Test: automation
