Repository ActiveState/cli, pull requests merged in 2022-07, with the labels that each got.

#1929 Automation added for invite command NEGATIVE testing use cases
  test/automation/invite_neg_automation_test.go
Labels: Test: automation

#1926 Moved integration tests into test/integration if they weren't already there
  internal/installation/install_int_test.go
  pkg/platform/runtime/artifactcache/artifactcache.go
  pkg/platform/runtime/artifactcache/testhelper.go
  test/integration/artifactcache_int_test.go
  test/integration/runtime_int_test.go
  test/integration/testdata/009D20C9-0E38-44E8-A095-7B6FEF01D7DA
  test/integration/testdata/2C36A315-59ED-471B-8629-2663ECC95476
  test/integration/testdata/57E8EAF4-F7EE-4BEF-B437-D9F0A967BA52
  test/integration/testdata/5D8D933F-09FA-45A3-81FF-E6F33E91C9ED
  test/integration/testdata/74D554B3-6B0F-434B-AFE2-9F2F0B5F32BA
  test/integration/testdata/87ADD1B0-169D-4C01-8179-191BB9910799
  test/integration/testdata/992B8488-C61D-433C-ADF2-D76EBD8DAE59
  test/integration/testdata/CAC9708D-FAA6-4295-B640-B8AA41A8AABC
  test/integration/testdata/E299F10C-7B5D-4B25-B821-90E30193A916
  test/integration/testdata/F95C0ECE-9F69-4998-B83F-CE530BACD468
  test/integration/testdata/offlineInstaller/009D20C9-0E38-44E8-A095-7B6FEF01D7DA.tar.gz
  test/integration/testdata/offlineInstaller/2C36A315-59ED-471B-8629-2663ECC95476.tar.gz
  test/integration/testdata/offlineInstaller/57E8EAF4-F7EE-4BEF-B437-D9F0A967BA52.tar.gz
  test/integration/testdata/offlineInstaller/5D8D933F-09FA-45A3-81FF-E6F33E91C9ED.tar.gz
  test/integration/testdata/offlineInstaller/74D554B3-6B0F-434B-AFE2-9F2F0B5F32BA.tar.gz
  test/integration/testdata/offlineInstaller/87ADD1B0-169D-4C01-8179-191BB9910799.tar.gz
  test/integration/testdata/offlineInstaller/992B8488-C61D-433C-ADF2-D76EBD8DAE59.tar.gz
  test/integration/testdata/offlineInstaller/CAC9708D-FAA6-4295-B640-B8AA41A8AABC.tar.gz
  test/integration/testdata/offlineInstaller/E299F10C-7B5D-4B25-B821-90E30193A916.tar.gz
  test/integration/testdata/offlineInstaller/F95C0ECE-9F69-4998-B83F-CE530BACD468.tar.gz
Labels: Test: all

#1933 Localize another pflag error.
  internal/captain/command.go
  test/automation/invite_neg_automation_test.go
  test/automation/search_automation_test.go
Labels: Test: automation

#1936 Raise errors for unrecognized/unnecessary/extra command line arguments.
  cmd/state/internal/cmdtree/cmdtree.go
  cmd/state/internal/cmdtree/exec.go
  cmd/state/internal/cmdtree/invite.go
  cmd/state/internal/cmdtree/run.go
  internal/captain/command.go
  test/integration/platforms_int_test.go
Labels: Test: all

#1937 Fixed messaging around inviting without a role non-interactively.
  internal/runners/invite/role.go
  test/automation/invite_neg_automation_test.go
Labels: Test: automation

#1938 Improve error message when uninstalling a non-existent package.
  internal/runners/packages/packages.go
  test/integration/package_int_test.go
Labels: Test: package

#1935 Fixed display of beta label for `state invite`
  pkg/platform/model/organizations.go
  test/automation/invite_neg_automation_test.go
Labels: Test: automation

#1906 Service instances that are not authoritative should die proactively
  cmd/state-svc/internal/rtwatcher/watcher.go
  cmd/state-svc/main.go
  cmd/state-svc/service.go
  cmd/state-svc/test/integration/svc_int_test.go
  internal/ipc/server.go
Labels: Test: service

#1939 Fixed error tips showing in shell created by installer.
  cmd/state-installer/cmd.go
  cmd/state-installer/test/integration/installer_int_test.go
Labels: Test: Critical, Test:installer

#1927 Automation added for revert command
  test/automation/projects_automation_test.go
  test/automation/reset_automation_test.go
  test/automation/revert_automation_test.go
Labels: Test: automation

#1941 Improve `state use`.
  cmd/state/internal/cmdtree/use.go
  internal/constants/constants.go
  internal/installation/storage/storage.go
  internal/locale/locales/en-us.yaml
  internal/runners/projects/remote.go
  internal/runners/use/use.go
  pkg/project/namespace.go
  pkg/project/namespace_test.go
  pkg/project/project.go
  test/integration/use_int_test.go
Labels: Test: use

#1949 Re-enable pull merge integration test on Windows.
  test/integration/pull_int_test.go
Labels: Test: pull

#1953 Re-enable error tips in an activated state setup by one-line installer command.
  cmd/state-installer/test/integration/installer_int_test.go
  internal/runners/activate/activation.go
Labels: Test: activate, Test: Critical, Test:installer

#1944 Added `state update unlock`.
  cmd/state/internal/cmdtree/cmdtree.go
  cmd/state/internal/cmdtree/update.go
  internal/locale/locales/en-us.yaml
  internal/runners/update/unlock.go
  pkg/projectfile/projectfile.go
  test/integration/update_lock_int_test.go
Labels: Test: update

#1945 Made Projects directory configurable via "projects.directory" option.
  cmd/state/internal/cmdtree/use.go
  internal/constants/constants.go
  internal/installation/storage/storage.go
  internal/locale/locales/en-us.yaml
  internal/runners/use/use.go
  test/integration/use_int_test.go
Labels: Test: use

#1957 Fix TestProjects_Remove automation test
  test/automation/projects_automation_test.go
Labels: Test: automation

#1956 Print location of project being used.
  internal/runners/use/use.go
Labels: Test: use

#1961 Shorten ipc sock path string
  internal/ipc/sockpath/sockpath.go
Labels: Test: service

#1943 Remove sock file check from svc test
  cmd/state-svc/test/integration/svc_int_test.go
  test/integration/performance_svc_int_test.go
Labels: Test: service

#1960 Convert Windows directory separators to '/' when using with bash.exe.
  test/integration/pull_int_test.go
Labels: Test: pull

#1962 Add state installer logs to integration test failures
  internal/testhelpers/e2e/session.go
Labels: Test: install-scripts

#1966 `state reset -n` and `state revert -n` should default to "Yes".
  cmd/state/internal/cmdtree/cmdtree.go
  cmd/state/internal/cmdtree/reset.go
  cmd/state/internal/cmdtree/revert.go
  internal/runners/pull/pull.go
  internal/runners/reset/reset.go
  internal/runners/revert/revert.go
Labels: Test: revert, Test: pull

#1942 Initial implementation of `state shell`.
  cmd/state/internal/cmdtree/cmdtree.go
  cmd/state/internal/cmdtree/shell.go
  internal/locale/locales/en-us.yaml
  internal/runbits/activation/activation.go
  internal/runners/activate/activate.go
  internal/runners/shell/shell.go
  internal/runners/use/use.go
  pkg/platform/runtime/target/target.go
  pkg/project/project.go
  pkg/projectfile/projectfile.go
  test/integration/shell_int_test.go
Labels: Test: activate, Test: use, Test: shell

#1969 Only keep unique values when merging EnvironmentVariables.
  pkg/platform/runtime/envdef/environment.go
  pkg/platform/runtime/envdef/environment_test.go
Labels: Test: Critical

#1973 Allow user to select from multiple projects/paths with `state use` and `state shell`.
  internal/runbits/project/project.go
  internal/runners/shell/shell.go
  internal/runners/use/use.go
  pkg/project/project.go
Labels: Test: use, Test: shell

#1976 Remove checkout from `state use` and `storage.ProjectsDir()`
  cmd/state/internal/cmdtree/use.go
  internal/constants/constants.go
  internal/installation/storage/storage.go
  internal/locale/locales/en-us.yaml
  internal/runners/use/use.go
  pkg/project/project.go
  test/integration/shell_int_test.go
  test/integration/use_int_test.go
Labels: Test: use, Test: shell

#1977 Use .bash_profile on Mac
  cmd/state-installer/test/integration/installer_int_test.go
  internal/subshell/bash/bash.go
Labels: Test: update, Test: install-scripts, Test:installer

#1974 New `state checkout` command.
  cmd/state/internal/cmdtree/checkout.go
  cmd/state/internal/cmdtree/cmdtree.go
  internal/locale/locales/en-us.yaml
  internal/runners/checkout/checkout.go
  internal/testhelpers/tagsuite/tagsuite.go
  test/integration/checkout_int_test.go
Labels: Test: checkout

#1982 Error on commit ID mismatch in `state use`.
  internal/locale/locales/en-us.yaml
  internal/runners/use/use.go
Labels: Test: use

#1984 Fix failing integration tests on macOS
  test/integration/deploy_int_test.go
  test/integration/prepare_int_test.go
Labels: Test: deploy, Test: prepare

#1968 Ensure service is stopped before startstop integ test logic hits
  cmd/state-svc/test/integration/svc_int_test.go
Labels: Test: activate, Test: service

#1981 Attempt to fix randomly hanging integration test on Windows CI.
  test/integration/checkout_int_test.go
Labels: Test: checkout

#1978 Remove local projects if their activestate.yaml file no longer exists or if there is a namespace mismatch.
  internal/runners/projects/projects.go
  pkg/projectfile/projectfile.go
Labels: Test: Critical

#1986 Fixed `state use reset --non-interactive`.
  cmd/state/internal/cmdtree/cmdtree.go
  cmd/state/internal/cmdtree/use.go
  internal/runners/use/reset.go
  test/integration/use_int_test.go
Labels: Test: use
