Repository ActiveState/cli, pull requests merged in 2022-12, with the labels that each got.

#2256 Correct undefined behavior when using an unrecognized shell.
  internal/subshell/subshell.go
Labels: Test: shell

#2181 Log svc comms err in executor rather than fail
  cmd/state-exec/comm.go
  cmd/state-exec/condition.go
  cmd/state-exec/main.go
  cmd/state-svc/main.go
  cmd/state-svc/service.go
  internal/gqlclient/error.go
  internal/gqlclient/gqlclient.go
  internal/ipc/server.go
  pkg/platform/model/svc.go
Labels: Test: activate, Test: scripts, Test: use, Test: shell

#2254 macOS LaunchAgent should launch state-svc directly
  cmd/state-svc/autostart/autostart.go
  cmd/state-svc/autostart/autostart_mac.go
  cmd/state-tray/autostart/autostart_mac.go
  internal/assets/contents/com.activestate.platform.state.plist.tpl
  internal/osutils/autostart/autostart.go
  internal/osutils/autostart/autostart_mac.go
Labels: Test: service

#2259 Add integraiton test for Heap analytics
  test/integration/analytics_int_test.go
Labels: Test: analytics

#2245 Restrict reverts to commits within commit history
  internal/runners/revert/revert.go
  pkg/platform/model/vcs.go
  test/integration/revert_int_test.go
Labels: Test: revert

#2250 Add performance integration test
  test/integration/performance_expansion_int_test.go
  test/integration/performance_int_test.go
Labels: Test: performance

#2264 Offline Installer can install multiple distributions
  cmd/state-offline-installer/install.go
  cmd/state-offline-uninstaller/uninstall.go
  internal/subshell/sscommon/rcfile.go
  test/integration/offinstall_int_test.go
  test/integration/testdata/offline-install/another-artifacts-payload-nix/artifact/installdir/bin/test-another-offline-install
  test/integration/testdata/offline-install/another-artifacts-payload-nix/artifact/installdir/bin/test.hello
  test/integration/testdata/offline-install/another-artifacts-payload-nix/artifact/runtime.json
  test/integration/testdata/offline-install/another-artifacts-payload-windows/artifact/installdir/bin/test-another-offline-install.bat
  test/integration/testdata/offline-install/another-artifacts-payload-windows/artifact/installdir/bin/test.hello
  test/integration/testdata/offline-install/another-artifacts-payload-windows/artifact/runtime.json
  test/integration/testdata/offline-install/assets/Another-IntegrationTest/LICENSE.txt
  test/integration/testdata/offline-install/assets/Another-IntegrationTest/installer_config.json
  test/integration/testdata/offline-install/assets/IntegrationTest/LICENSE.txt
  test/integration/testdata/offline-install/assets/IntegrationTest/installer_config.json
Labels: Test: offline-install

#2269 Offline installer does not give state tool errors
  cmd/state-offline-installer/main.go
  cmd/state-offline-uninstaller/main.go
  internal/runbits/panics/panics.go
Labels: Test: offline-install

#2268 Offline installer does not error on same directory
  cmd/state-offline-installer/install.go
  test/integration/offinstall_int_test.go
Labels: Test: offline-install

#2262 Send state-svc logs along with state tool logs to Rollbar.
  cmd/state-svc/internal/resolver/resolver.go
  cmd/state-svc/internal/server/generated/generated.go
  cmd/state-svc/schema/schema.graphqls
  cmd/state/main.go
  internal/rollbar/rollbar.go
  pkg/platform/api/svc/request/fetchlogtail.go
  pkg/platform/model/svc.go
Labels: Test: Critical

#2257 Fix autostart output on WSL
  cmd/state-offline-uninstaller/uninstall.go
  cmd/state-svc/main.go
  internal/constants/constants.go
  internal/osutils/autostart/autostart_linux.go
  internal/subshell/sscommon/rcfile.go
Labels: Test: update, Test: uninstall, Test: install-scripts, Test:installer

#2263 Bump minimum required Go version to 1.18.
  .github/workflows/build.yml
  .github/workflows/propagate.yml
  .github/workflows/verify.yml
  pkg/platform/runtime/validate/validate_test.go
  readme.md
Labels: Test: Critical

#2277 Call GetCommit first in GetCommitWithinCommitHistory
  pkg/platform/model/vcs.go
Labels: Test: revert, Test: automation

#2261 Shorten stacktrace format.
  internal/logging/formatter.go
  internal/logging/logging.go
  internal/logging/logging_test.go
  internal/osutils/stacktrace/stacktrace.go
Labels: Test: Critical

#2285 Revert back to Go 1.16.
  .github/workflows/build.yml
  .github/workflows/propagate.yml
  .github/workflows/verify.yml
  internal/logging/formatter.go
  internal/logging/logging_test.go
  readme.md
Labels: Test: run

#2280 Removed "Platforms" and "Languages" keys from activestate.yaml
  internal/constraints/constraints.go
  internal/constraints/constraints_test.go
  internal/constraints/testdata/activestate.yaml
  internal/virtualenvironment/testdata/activestate.yaml
  pkg/project/expander.go
  pkg/project/expander_test.go
  pkg/project/project.go
  pkg/project/project_test.go
  pkg/project/registry.go
  pkg/project/testdata/activestate.yaml
  pkg/projectfile/projectfile.go
  pkg/projectfile/projectfile_test.go
  pkg/projectfile/testdata/activestate.yaml
  test/activestate.hcl
  test/activestate.yaml
  test/download/file1
  test/download/file2
  test/download/file3
  test/integration/push_int_test.go
Labels: Test: Critical

#2282 Update show output
  internal/runners/show/show.go
  test/integration/show_int_test.go
Labels: Test: show

#2287 Fix TestStartDuplicateErrorOutput
  cmd/state-svc/test/integration/svc_int_test.go
Labels: Test: service

#2286 Consistently mention project being operated on
  internal/locale/locales/en-us.yaml
  internal/runners/cve/cve.go
  internal/runners/events/events.go
  internal/runners/exec/exec.go
  internal/runners/history/history.go
  internal/runners/packages/import.go
  internal/runners/packages/list.go
  internal/runners/packages/packages.go
  internal/runners/pull/pull.go
  internal/runners/push/push.go
  internal/runners/reset/reset.go
  internal/runners/revert/revert.go
  internal/runners/run/run.go
  internal/runners/scripts/scripts.go
  internal/runners/secrets/get.go
  internal/runners/secrets/secrets.go
  internal/runners/secrets/set.go
  internal/runners/secrets/sync.go
  internal/runners/swtch/switch.go
  test/integration/cve_int_test.go
  test/integration/exec_int_test.go
  test/integration/history_int_test.go
  test/integration/import_int_test.go
  test/integration/package_int_test.go
  test/integration/pull_int_test.go
  test/integration/push_int_test.go
  test/integration/revert_int_test.go
  test/integration/run_int_test.go
  test/integration/secrets_int_test.go
  test/integration/switch_int_test.go
Labels: Test: run, Test: package, Test: push, Test: revert, Test: events, Test: import, Test: history, Test: pull, Test: cve, Test: exec, Test: scripts, Test: switch

#2289 Merge pull request #2154 from ActiveState/DX-1078 into v0.36 branch
  cmd/state-svc/test/integration/svc_int_test.go
  internal/constants/constants.go
  internal/svcctl/svcctl.go
  internal/testhelpers/e2e/dirs.go
  internal/testhelpers/e2e/session.go
Labels: Test: service

#2290 Fix panic in show
  internal/runners/show/show.go
Labels: Test: vscode

#2291 Fix TestAutostartConfigEnableDisable
  cmd/state-svc/test/integration/svc_int_test.go
Labels: Test: service
