Repository ActiveState/cli, pull requests merged in 2022-08, with the labels that each got.

#1963 Verify checksum of downloaded artifacts.
  internal/fileutils/fileutils.go
  internal/runbits/buildlogfile/buildlogfile.go
  internal/runbits/progressbar/progressbar.go
  internal/runbits/runtimeevents.go
  pkg/platform/runtime/artifactcache/artifactcache.go
  pkg/platform/runtime/setup/events/consumer.go
  pkg/platform/runtime/setup/events/consumer_test.go
  pkg/platform/runtime/setup/events/multiplex.go
  pkg/platform/runtime/setup/setup.go
  pkg/platform/runtime/testhelper/eventsmock.go
  test/integration/artifactcache_int_test.go
  test/integration/runtime_int_test.go
Labels: Test: activate, Test: Critical

#1987 Update localized input error handling
  cmd/state/errors.go
  internal/runbits/project/project.go
  internal/runners/shell/shell.go
  internal/runners/use/use.go
  test/automation/invite_neg_automation_test.go
Labels: Test: Critical, Test: use, Test: automation, Test: shell

#1994 Attempt to fix failing integration test.
  test/integration/fork_int_test.go
Labels: Test: fork

#1882 Add executors
  .github/workflows/build.yml
  .gitignore
  activestate.yaml
  cmd/state-exec/state-exec.zig
  cmd/state-svc/internal/server/server.go
  cmd/state-svc/service.go
  internal/analytics/client/sync/client.go
  internal/assets/contents/executors/executor.bat
  internal/assets/contents/executors/executor.sh
  internal/constants/constants.go
  internal/globaldefault/default.go
  internal/installation/appinfo.go
  internal/instanceid/instanceid.go
  internal/ipc/server.go
  internal/runbits/refresh.go
  internal/scriptrun/scriptrun.go
  internal/subshell/sscommon/sscommon.go
  internal/svcctl/comm.go
  internal/testhelpers/e2e/session.go
  pkg/platform/runtime/executor/executor.go
  pkg/platform/runtime/executor/executor_test.go
  pkg/platform/runtime/setup/setup.go
  test/integration/runtime_int_test.go
Labels: Test: activate

#1988 Add enobufs err handling to flisten
  internal/ipc/internal/flisten/error_windows.go
Labels: Test: service

#1992 Moved runtime creation/updating into a runbits helper function.
  internal/runbits/runtime/runtime.go
  internal/runners/activate/activate.go
  internal/runners/checkout/checkout.go
  internal/runners/shell/shell.go
  internal/runners/use/use.go
  pkg/platform/runtime/target/target.go
  test/integration/shell_int_test.go
  test/integration/use_int_test.go
Labels: Test: activate, Test: Critical, Test: use, Test: shell, Test: checkout

#1990 Display deactivated notice after exiting `state shell`.
  internal/runners/shell/shell.go
  test/integration/shell_int_test.go
Labels: Test: shell

#1993 Namespace should be optional for `state shell`.
  cmd/state/internal/cmdtree/shell.go
  internal/locale/locales/en-us.yaml
  internal/runners/shell/shell.go
  test/integration/shell_int_test.go
Labels: Test: shell

#1997 Add exec to update generators
  activestate.generators.yaml
  activestate.windows.yaml
  activestate.yaml
Labels: Test: install-scripts

#2019 Updated error messages.
  test/integration/shell_int_test.go
  test/integration/use_int_test.go
Labels: Test: use, Test: shell

#1801 Added state deploy uninstall command.
  cmd/state/internal/cmdtree/cmdtree.go
  cmd/state/internal/cmdtree/deploy.go
  internal/locale/locales/en-us.yaml
  internal/runners/clean/run.go
  internal/runners/deploy/uninstall/uninstall.go
  test/integration/deploy_int_test.go
Labels: Test: deploy

#1995 Initial attempt to autostart state-svc in a Linux server environment.
  internal/osutils/autostart/autostart_linux.go
  internal/osutils/autostart/autostart_mac.go
  internal/osutils/autostart/autostart_windows.go
  internal/runners/clean/run.go
  internal/runners/prepare/prepare.go
  internal/runners/prepare/prepare_darwin.go
  internal/runners/prepare/prepare_linux.go
  internal/runners/prepare/prepare_windows.go
  test/integration/prepare_int_test.go
  test/integration/uninstall_int_test.go
Labels: Test: prepare, Test: uninstall, Test: Critical, Test:installer

#2024 Build a more portable state-exec on Linux
  activestate.yaml
Labels: Test:installer

#2023 Fixed `state shell` not activating the default project.
  internal/runners/shell/shell.go
  test/integration/shell_int_test.go
Labels: Test: shell

#2020 If a project is already checked out, check entire owner/project namespace, not just project.
  pkg/cmdlets/checkout/path.go
Labels: Test: activate, Test: checkout

#2027 Version 0.34.1-RC1
  changelog.md
  cmd/state/errors.go
  cmd/state/internal/cmdtree/use.go
  internal/ipc/sockpath/sockpath.go
  pkg/cmdlets/checkout/path.go
  pkg/platform/runtime/artifact/download.go
  version.txt
Labels: Test: all

#1996 Add reporting of cli args of caller that starts svc
  cmd/state-svc/main.go
  cmd/state-svc/service.go
  cmd/state-svc/test/integration/svc_int_test.go
  cmd/state-tray/main.go
  cmd/state/main.go
  internal/svcctl/svcctl.go
  test/integration/performance_svc_int_test.go
  test/pseudo/cmd/ipc-shutdown/main.go
  test/pseudo/cmd/tool/main.go
Labels: Test: service

#2030 Print state tool update version during an update to the latest version.
  internal/locale/locales/en-us.yaml
  internal/runners/update/update.go
  test/integration/update_int_test.go
Labels: Test: update

#2025 Fixed inability to run `state deploy uninstall` from cwd on Windows.
  internal/runners/deploy/uninstall/uninstall.go
Labels: Test: deploy

#2035 Raise an error for invalid boolean or integer config values.
  internal/runners/config/set.go
  test/integration/config_int_test.go
Labels: Test:config

#2038 Renamed `state checkout` to `state get` and make --path a positional argument
  cmd/state/internal/cmdtree/checkout.go
  cmd/state/internal/cmdtree/cmdtree.go
  cmd/state/internal/cmdtree/get.go
  internal/locale/locales/en-us.yaml
  internal/runners/get/get.go
  internal/runners/projects/projects.go
  internal/testhelpers/tagsuite/tagsuite.go
  pkg/platform/runtime/target/target.go
  test/integration/get_int_test.go
  test/integration/shell_int_test.go
  test/integration/use_int_test.go
Labels: Test: get

#2032 Use absolute paths when activating projects.
  internal/runners/activate/activate.go
Labels: Test: activate, Test: Critical

#2036 Implement `state shell --cd`
  cmd/state/internal/cmdtree/shell.go
  internal/runbits/activation/activation.go
  internal/runners/activate/activate.go
  internal/runners/shell/shell.go
  pkg/project/expander.go
  pkg/project/project.go
  test/integration/shell_int_test.go
Labels: Test: Critical, Test: shell

#2039 State switch
  activestate.yaml
  cmd/state/internal/cmdtree/branch.go
  cmd/state/internal/cmdtree/cmdtree.go
  cmd/state/internal/cmdtree/switch.go
  internal/runners/branch/switch.go
  internal/runners/swtch/switch.go
  internal/testhelpers/tagsuite/tagsuite.go
  pkg/platform/runtime/target/target.go
  test/integration/branch_int_test.go
  test/integration/switch_int_test.go
Labels: Test: switch

#2041 Revert rename of `state checkout` to `state get`, but keep path as a positional argument.
  cmd/state/internal/cmdtree/checkout.go
  cmd/state/internal/cmdtree/cmdtree.go
  cmd/state/internal/cmdtree/get.go
  internal/locale/locales/en-us.yaml
  internal/runners/checkout/checkout.go
  internal/testhelpers/tagsuite/tagsuite.go
  pkg/platform/runtime/target/target.go
  test/integration/checkout_int_test.go
  test/integration/shell_int_test.go
  test/integration/use_int_test.go
Labels: Test: checkout

#2043 State export env
  cmd/state/internal/cmdtree/cmdtree.go
  cmd/state/internal/cmdtree/export.go
  internal/locale/locales/en-us.yaml
  internal/runbits/runtime/runtime.go
  internal/runners/activate/activate.go
  internal/runners/export/apikey.go
  internal/runners/export/env.go
  internal/runners/export/export.go
  test/integration/export_int_test.go
Labels: Test: export

#2055 Fix state export env panic
  internal/runners/export/env.go
Labels: Test: export

#2056 Fixed handling of `--path` to `state exec`.
  cmd/state/internal/cmdtree/exec.go
  internal/runners/exec/exec.go
  test/integration/exec_int_test.go
Labels: Test: exec

#2033 Version 0.34.1-RC2
  .github/workflows/build.yml
  changelog.md
  cmd/state-installer/cmd.go
  cmd/state-installer/installer.go
  cmd/state-installer/installer_darwin.go
  cmd/state-installer/installer_windows.go
  internal/constants/constants.go
  internal/runners/activate/activate.go
  internal/updater/updater.go
  test/integration/fork_int_test.go
  version.txt
Labels: Test: all

#2062 State switch panic fix
  internal/runners/swtch/switch.go
Labels: Test: switch

#2064 Check for runtime in cwd on Windows before erroring out.
  internal/runners/deploy/uninstall/uninstall.go
Labels: Test: deploy

#2053 Ask installed state tool for its version in order to check if update flow should be performed.
  cmd/state-installer/cmd.go
  cmd/state-installer/installer.go
  internal/installation/versiondata.go
  internal/runners/state/state.go
Labels: Test:installer

#2067 Fix failing integration test
  internal/runbits/runtime/runtime.go
Labels: Test: activate

#2065 Print all user-facing installer errors.
  cmd/state-installer/cmd.go
  cmd/state/main.go
  pkg/cmdlets/errors/errors.go
Labels: Test: Critical, Test:installer

#2073 Increase individual integration test timeout.
  .github/workflows/build.yml
Labels: Test: activate

#2066 Add text expect to svc dup err output test
  cmd/state-svc/test/integration/svc_int_test.go
Labels: Test: service

#2070 Move env inheritence into osutils and have installer use it.
  cmd/state-installer/cmd.go
  internal/osutils/osutils_lin_mac.go
  internal/osutils/osutils_test.go
  internal/osutils/osutils_windows.go
  internal/virtualenvironment/virtualenvironment.go
  internal/virtualenvironment/virtualenvironment_lin_mac.go
  internal/virtualenvironment/virtualenvironment_test.go
  internal/virtualenvironment/virtualenvironment_win.go
Labels: Test:installer, Test: shell

#2074 Added `state use show` command with integration test.
  cmd/state/internal/cmdtree/cmdtree.go
  cmd/state/internal/cmdtree/use.go
  internal/runners/use/show.go
  test/integration/use_int_test.go
Labels: Test: use
