Repository ActiveState/cli, pull requests merged in 2022-05, with the labels that each got.

#1839 Only deploy as latest when label is set
  .github/workflows/build.yml
  activestate.generators.yaml
  scripts/update-generator/main.go
  scripts/update-generator/main_test.go
Labels: Deploy: latest

#1824 Fix heartbeat test
  cmd/state-svc/internal/resolver/resolver.go
  cmd/state-svc/internal/rtwatcher/entry.go
  cmd/state-svc/internal/rtwatcher/entry_test.go
  cmd/state-svc/internal/rtwatcher/watcher.go
  internal/analytics/client/sync/client.go
  internal/analytics/client/sync/client_test.go
  internal/analytics/dimensions/dimensions.go
  internal/fileutils/fileutils.go
  internal/fileutils/fileutils_test.go
  internal/rtutils/p/pointresolv.go
  internal/testhelpers/e2e/session.go
  test/integration/analytics_int_test.go
Labels: Test: analytics

#1847 Updated installation scripts to allow installing specific versions via '-v' option.
  cmd/state-installer/cmd.go
  installers/install.ps1
  installers/install.sh
  test/integration/install_scripts_int_test.go
Labels: Test: update, Test: install-scripts, Test: Critical, Test:installer

#1848 Specify channel to installer.
  activestate.yaml
  cmd/state-installer/cmd.go
  installers/install.sh
  test/integration/install_scripts_int_test.go
Labels: Test: update, Test: install-scripts, Test: Critical, Test:installer

#1851 More actionable integration test output
  internal/testhelpers/e2e/session.go
  test/integration/analytics_int_test.go
Labels: Test: Critical

#1845 Move Appinfo
  cmd/state-installer/cmd.go
  cmd/state-installer/installer.go
  cmd/state-installer/installer_darwin.go
  cmd/state-installer/test/integration/installer_int_test.go
  cmd/state-tray/internal/menu/projects.go
  cmd/state-tray/main.go
  cmd/state/autoupdate.go
  cmd/state/main.go
  internal/appinfo/appinfo.go
  internal/constants/constants.go
  internal/installation/appinfo.go
  internal/installation/paths.go
  internal/installmgr/stop.go
  internal/locale/locales/en-us.yaml
  internal/runners/clean/run.go
  internal/runners/clean/run_lin_mac.go
  internal/runners/clean/run_win.go
  internal/runners/clean/stop.go
  internal/runners/prepare/prepare.go
  internal/runners/prepare/prepare_darwin.go
  internal/runners/prepare/prepare_linux.go
  internal/runners/prepare/prepare_windows.go
  internal/svcctl/svcctl.go
  internal/testhelpers/e2e/session.go
  pkg/platform/runtime/executor/executor.go
  test/integration/install_scripts_int_test.go
  test/integration/update_int_test.go
  test/integration/upgen_int_test.go
Labels: Test: update, Test: uninstall, Test: install-scripts, Test:installer

#1843 Implement deprecation test and fix deprecation mechanic
  cmd/state-svc/internal/deprecation/deprecation.go
  cmd/state-svc/internal/resolver/resolver.go
  internal/constants/constants.go
  internal/constants/preprocess/preprocess.go
  internal/constants/version/version.go
  internal/graph/response.go
  internal/testhelpers/tagsuite/tagsuite.go
  pkg/platform/model/svc.go
  test/integration/deprecation_int_test.go
Labels: Test: deprecation

#1853 Fix integration tests
  .github/workflows/build.yml
  .gotestfmt/package.gotpl
  cmd/state-installer/cmd.go
  cmd/state-installer/installer.go
  cmd/state-svc/internal/deprecation/deprecation.go
  cmd/state-svc/internal/resolver/resolver.go
  cmd/state-svc/main.go
  cmd/state-tray/main.go
  cmd/state-update-dialog/main.go
  cmd/state/errors.go
  cmd/state/main.go
  internal/captain/command.go
  internal/condition/condition.go
  internal/config/instance.go
  internal/constants/constants.go
  internal/events/wait.go
  internal/exeutils/exeutils.go
  internal/gqlclient/gqlclient.go
  internal/locale/locale.go
  internal/locale/locales/en-us.yaml
  internal/osutils/shortcut/shortcut_linux.go
  internal/poller/poller.go
  internal/poller/poller_test.go
  internal/profile/profile.go
  internal/runners/fork/editorv0.go
  internal/runners/packages/search.go
  internal/runners/platforms/remove.go
  internal/svcctl/svcctl.go
  internal/testhelpers/e2e/clean.go
  internal/testhelpers/e2e/session.go
  internal/updater/checker.go
  pkg/cmdlets/auth/login.go
  pkg/cmdlets/auth/signup.go
  pkg/platform/authentication/auth.go
  pkg/platform/model/svc.go
  pkg/project/secrets.go
  test/integration/activate_int_test.go
  test/integration/alternative_int_test.go
  test/integration/branch_int_test.go
  test/integration/bundle_int_test.go
  test/integration/config_int_test.go
  test/integration/cve_int_test.go
  test/integration/deploy_int_test.go
  test/integration/fork_int_test.go
  test/integration/info_integration_test.go
  test/integration/install_scripts_int_test.go
  test/integration/komodo_int_test.go
  test/integration/languages_int_test.go
  test/integration/msi_int_windows_test.go
  test/integration/msi_pwsh_int_windows_test.go
  test/integration/package_int_test.go
  test/integration/performance_int_test.go
  test/integration/performance_svc_int_test.go
  test/integration/prepare_int_test.go
  test/integration/push_int_test.go
  test/integration/run_int_test.go
  test/integration/update_int_test.go
  test/integration/upgen_int_test.go
  test/integration/vscode_int_test.go
Labels: Test: all

#1861 Enforce minimum windows version
  cmd/state-installer/cmd.go
  cmd/state-installer/test/integration/installer_int_test.go
  cmd/state/main.go
  internal/constraints/constraints.go
  internal/locale/locales/en-us.yaml
  internal/testhelpers/performance/timeit.go
  internal/testhelpers/tagsuite/tagsuite.go
  pkg/sysinfo/sysinfo.go
  pkg/sysinfo/sysinfo_darwin.go
  pkg/sysinfo/sysinfo_darwin_test.go
  pkg/sysinfo/sysinfo_linux.go
  pkg/sysinfo/sysinfo_test.go
  pkg/sysinfo/sysinfo_windows.go
Labels: Test: compatibility

#1865 Escape '$' in arguments passed to executors for bash-like shells.
  internal/osutils/shellescape.go
  internal/osutils/shellescape_test.go
  test/integration/run_int_test.go
Labels: Test: run

#1857 Rework IPC server/client shutdown interaction
  cmd/state-svc/main.go
  internal/errs/errs.go
  internal/ipc/client.go
  internal/ipc/error.go
  internal/ipc/internal/flisten/conn.go
  internal/ipc/internal/flisten/dialer.go
  internal/ipc/internal/flisten/error.go
  internal/ipc/internal/flisten/error_unix.go
  internal/ipc/internal/flisten/error_windows.go
  internal/ipc/internal/flisten/flisten.go
  internal/ipc/server.go
  internal/svcctl/error.go
  internal/svcctl/svcctl.go
  test/pseudo/cmd/ipc-shutdown/main.go
  test/pseudo/svctool/ipc-shutdown-check
Labels: Test: all

#1871 Do not print silent errors on install error.
  cmd/state-installer/cmd.go
Labels: Test: install-scripts, Test:installer
