Repository ActiveState/cli, pull requests merged in 2022-02, with the labels that each got.

#1706 State config
  cmd/state-svc/manager.go
  cmd/state/internal/cmdtree/cmdtree.go
  cmd/state/internal/cmdtree/config.go
  internal/config/instance.go
  internal/mediators/config/rules.go
  internal/runners/config/config.go
  internal/runners/config/get.go
  internal/runners/config/key.go
  internal/runners/config/key_test.go
  internal/runners/config/set.go
  internal/testhelpers/tagsuite/tagsuite.go
  test/integration/config_int_test.go
Labels: Test:config

#1709 Check config before sending analytics reports
  internal/analytics/client/async/client.go
  internal/analytics/client/sync/client.go
  internal/constants/constants.go
  test/integration/analytics_int_test.go
Labels: Test: analytics

#1724 Fix panic on auto-update
  cmd/state-installer/cmd.go
  cmd/state-svc/main.go
  cmd/state-tray/main.go
  cmd/state-update-dialog/main.go
  cmd/state/autoupdate.go
  cmd/state/main.go
  internal/config/instance.go
  internal/locale/locales/en-us.yaml
  internal/logging/file.go
  internal/runners/auth/test/integration/auth_test.go
  internal/runners/auth/test/integration/login_with_keypair_test.go
  internal/runners/auth/test/integration/testdata/httpresponse/DELETE-apikeys/activestate-platform-cli.json
  internal/runners/auth/test/integration/testdata/httpresponse/GET-apikeys.json
  internal/runners/auth/test/integration/testdata/httpresponse/GET-keypair-404.json
  internal/runners/auth/test/integration/testdata/httpresponse/GET-keypair.json
  internal/runners/auth/test/integration/testdata/httpresponse/GET-organizations/test.json
  internal/runners/auth/test/integration/testdata/httpresponse/GET-renew.json
  internal/runners/auth/test/integration/testdata/httpresponse/GET-tiers.json
  internal/runners/auth/test/integration/testdata/httpresponse/GET-users/uniqueUsername/test.json
  internal/runners/auth/test/integration/testdata/httpresponse/POST-apikeys.json
  internal/runners/auth/test/integration/testdata/httpresponse/POST-login-401.json
  internal/runners/auth/test/integration/testdata/httpresponse/POST-login-449.json
  internal/runners/auth/test/integration/testdata/httpresponse/POST-login.json
  internal/runners/auth/test/integration/testdata/httpresponse/POST-users.json
  internal/runners/auth/test/integration/testdata/httpresponse/PUT-empty-204.json
  internal/runners/auth/test/integration/testdata/mismatched-private.key
  internal/runners/auth/test/integration/testdata/self-private.key
  pkg/cmdlets/git/test/integration/git_test.go
Labels: Test: show

#1726 v0.33 - build 2 > beta
  cmd/state-installer/cmd.go
  cmd/state-svc/main.go
  cmd/state-tray/main.go
  cmd/state-update-dialog/main.go
  cmd/state/autoupdate.go
  cmd/state/main.go
  internal/config/instance.go
  internal/locale/locales/en-us.yaml
  internal/logging/file.go
  internal/runners/auth/test/integration/auth_test.go
  internal/runners/auth/test/integration/login_with_keypair_test.go
  internal/runners/auth/test/integration/testdata/httpresponse/DELETE-apikeys/activestate-platform-cli.json
  internal/runners/auth/test/integration/testdata/httpresponse/GET-apikeys.json
  internal/runners/auth/test/integration/testdata/httpresponse/GET-keypair-404.json
  internal/runners/auth/test/integration/testdata/httpresponse/GET-keypair.json
  internal/runners/auth/test/integration/testdata/httpresponse/GET-organizations/test.json
  internal/runners/auth/test/integration/testdata/httpresponse/GET-renew.json
  internal/runners/auth/test/integration/testdata/httpresponse/GET-tiers.json
  internal/runners/auth/test/integration/testdata/httpresponse/GET-users/uniqueUsername/test.json
  internal/runners/auth/test/integration/testdata/httpresponse/POST-apikeys.json
  internal/runners/auth/test/integration/testdata/httpresponse/POST-login-401.json
  internal/runners/auth/test/integration/testdata/httpresponse/POST-login-449.json
  internal/runners/auth/test/integration/testdata/httpresponse/POST-login.json
  internal/runners/auth/test/integration/testdata/httpresponse/POST-users.json
  internal/runners/auth/test/integration/testdata/httpresponse/PUT-empty-204.json
  internal/runners/auth/test/integration/testdata/mismatched-private.key
  internal/runners/auth/test/integration/testdata/self-private.key
  pkg/cmdlets/git/test/integration/git_test.go
Labels: Test: auth
