Repository ActiveState/cli, pull requests merged in 2022-10, with the labels that each got.

#2137 Do not report to rollbar a failure to remove old installer files
  cmd/state-installer/installer_windows.go
Labels: Test:installer

#2145 Stop enabling runtimes for integration tests that don't need them.
  pkg/platform/runtime/runtime.go
  test/integration/activate_int_test.go
  test/integration/analytics_int_test.go
  test/integration/checkout_int_test.go
  test/integration/exec_int_test.go
  test/integration/fork_int_test.go
  test/integration/install_scripts_int_test.go
  test/integration/run_int_test.go
  test/integration/shell_int_test.go
  test/integration/use_int_test.go
Labels: Test: run, Test: activate, Test: exec, Test: install-scripts, Test: Critical, Test: analytics, Test: use, Test: shell, Test: checkout, Test: fork

#2141 Display project path in error message
  internal/locale/locales/en-us.yaml
  internal/runbits/findproject/project.go
  pkg/projectfile/projectfile.go
  test/integration/shell_int_test.go
  test/integration/use_int_test.go
Labels: Test: use, Test: shell

#2148 Fire initial runtime-use event from the state tool
  cmd/state-svc/internal/rtwatcher/watcher.go
  pkg/platform/runtime/runtime.go
Labels: Test: analytics

#2152 State shell show default project path on error
  internal/runners/shell/shell.go
  pkg/projectfile/projectfile.go
Labels: Test: use, Test: shell

#2149 Implemented integration test for the offline installer
  .github/workflows/build.yml
  .gitignore
  activestate.offlineinstall.yaml
  activestate.yaml
  internal/fileutils/fileutils.go
  internal/subshell/cmd/cmd.go
  internal/subshell/cmd/env.go
  internal/subshell/cmd/env_test.go
  internal/testhelpers/osutil/file_helpers.go
  internal/testhelpers/tagsuite/tagsuite.go
  pkg/platform/runtime/runtime.go
  pkg/platform/runtime/setup/events/consumer.go
  pkg/platform/runtime/setup/setup.go
  test/integration/artifactcache_int_test.go
  test/integration/offinstall_int_test.go
  test/integration/runtime_int_test.go
  test/integration/testdata/artifact-cache/009D20C9-0E38-44E8-A095-7B6FEF01D7DA
  test/integration/testdata/artifact-cache/2C36A315-59ED-471B-8629-2663ECC95476
  test/integration/testdata/artifact-cache/57E8EAF4-F7EE-4BEF-B437-D9F0A967BA52
  test/integration/testdata/artifact-cache/5D8D933F-09FA-45A3-81FF-E6F33E91C9ED
  test/integration/testdata/artifact-cache/74D554B3-6B0F-434B-AFE2-9F2F0B5F32BA
  test/integration/testdata/artifact-cache/87ADD1B0-169D-4C01-8179-191BB9910799
  test/integration/testdata/artifact-cache/992B8488-C61D-433C-ADF2-D76EBD8DAE59
  test/integration/testdata/artifact-cache/CAC9708D-FAA6-4295-B640-B8AA41A8AABC
  test/integration/testdata/artifact-cache/E299F10C-7B5D-4B25-B821-90E30193A916
  test/integration/testdata/artifact-cache/F95C0ECE-9F69-4998-B83F-CE530BACD468
  test/integration/testdata/offline-install/artifacts-payload-nix/artifact/installdir/bin/test-offline-install
  test/integration/testdata/offline-install/artifacts-payload-nix/artifact/installdir/bin/test.hello
  test/integration/testdata/offline-install/artifacts-payload-nix/artifact/runtime.json
  test/integration/testdata/offline-install/artifacts-payload-windows/artifact/installdir/bin/test-offline-install.bat
  test/integration/testdata/offline-install/artifacts-payload-windows/artifact/installdir/bin/test.hello
  test/integration/testdata/offline-install/artifacts-payload-windows/artifact/runtime.json
  test/integration/testdata/offline-install/assets/LICENSE.txt
  test/integration/testdata/offline-install/assets/installer_config.json
  test/integration/testdata/offline-runtime/009D20C9-0E38-44E8-A095-7B6FEF01D7DA.tar.gz
  test/integration/testdata/offline-runtime/2C36A315-59ED-471B-8629-2663ECC95476.tar.gz
  test/integration/testdata/offline-runtime/57E8EAF4-F7EE-4BEF-B437-D9F0A967BA52.tar.gz
  test/integration/testdata/offline-runtime/5D8D933F-09FA-45A3-81FF-E6F33E91C9ED.tar.gz
  test/integration/testdata/offline-runtime/74D554B3-6B0F-434B-AFE2-9F2F0B5F32BA.tar.gz
  test/integration/testdata/offline-runtime/87ADD1B0-169D-4C01-8179-191BB9910799.tar.gz
  test/integration/testdata/offline-runtime/992B8488-C61D-433C-ADF2-D76EBD8DAE59.tar.gz
  test/integration/testdata/offline-runtime/CAC9708D-FAA6-4295-B640-B8AA41A8AABC.tar.gz
  test/integration/testdata/offline-runtime/E299F10C-7B5D-4B25-B821-90E30193A916.tar.gz
  test/integration/testdata/offline-runtime/F95C0ECE-9F69-4998-B83F-CE530BACD468.tar.gz
  test/integration/testdata/tools/refreshenv/LICENSE
  test/integration/testdata/tools/refreshenv/refreshenv.bat
Labels: Test: analytics, Test: offline-install

#2157 Only sign release-build executables.
  .github/workflows/build.yml
Labels: Test:installer

#2150 Offline installer reports runtime usage
  cmd/state-offline-installer/install.go
  cmd/state-offline-installer/main.go
  cmd/state-offline-uninstaller/main.go
  cmd/state-offline-uninstaller/uninstall.go
  internal/analytics/client/sync/reporters/pixel.go
  internal/analytics/constants/constants.go
  internal/constants/constants.go
  pkg/platform/runtime/runtime.go
  pkg/platform/runtime/target/target.go
  test/integration/analytics_int_test.go
  test/integration/offinstall_int_test.go
  test/integration/runtime_int_test.go
Labels: Test: analytics, Test: offline-install

#2160 Don't install zsh yet (we have a separate story for that)
  activestate.yaml
Labels: Test: activate

#2154 Test Specific Socket File
  cmd/state-svc/test/integration/svc_int_test.go
  internal/constants/constants.go
  internal/svcctl/svcctl.go
  internal/testhelpers/e2e/dirs.go
  internal/testhelpers/e2e/session.go
Labels: Test: service

#2147 Initial test case for all supported shells.
  .github/workflows/build.yml
  internal/osutils/shellescape.go
  internal/osutils/shellescape_test.go
  internal/testhelpers/e2e/session.go
  internal/testhelpers/e2e/shell.go
  test/integration/shells_int_test.go
Labels: Test: Critical, Test: shell

#2173 Fix bad merge conflict resolution
  test/integration/checkout_int_test.go
  test/integration/use_int_test.go
Labels: Test: use, Test: checkout

#2167 Fix failing offline installer tests
  internal/constants/constants.go
  internal/osutils/privileges_win.go
  internal/subshell/cmd/env.go
  test/integration/e2eissues_int_test.go
  test/integration/offinstall_int_test.go
Labels: Test: offline-install

#2168 Do not allow deploying in the root directory.
  pkg/platform/runtime/setup/setup.go
Labels: Test: deploy

#2172 svcModel is set on construction and only nil on CI.
  internal/analytics/client/async/client.go
Labels: Test: Critical

#2163 Report input errors to pixel
  cmd/state-installer/cmd.go
  cmd/state-offline-installer/main.go
  cmd/state-offline-uninstaller/main.go
  cmd/state-remote-installer/main.go
  cmd/state/main.go
  internal/analytics/constants/constants.go
  internal/captain/command.go
  pkg/cmdlets/errors/errors.go
  test/integration/analytics_int_test.go
Labels: Test: analytics

#2175 Updated to latest termtest tag.
  go.mod
  go.sum
  vendor/github.com/ActiveState/termtest/conproc.go
  vendor/modules.txt
Labels: Test: run

#2166 Deploy uninstall analytics event
  internal/runners/deploy/uninstall/uninstall.go
  pkg/cmdlets/checkout/path.go
  pkg/platform/runtime/setup/setup.go
  pkg/platform/runtime/store/marker.go
  pkg/platform/runtime/store/store.go
  pkg/platform/runtime/store/store_test.go
  test/integration/analytics_int_test.go
Labels: Test: deploy

#2176 Add executor size e2e test
  test/integration/executor_int_test.go
Labels: Test: shell, Test: executor

#2183 Fix TestInstallErrorTips
  pkg/cmdlets/errors/errors.go
Labels: Test:installer

#2162 Recognize ACTIVESTATE_HOME as fallback if HOME is not set
  cmd/state-installer/test/integration/installer_int_test.go
  go.mod
  internal/constants/constants.go
  internal/fileutils/fileutils.go
  internal/fileutils/fileutils_test.go
  internal/installation/paths_darwin.go
  internal/installation/paths_linux.go
  internal/installation/storage/storage.go
  internal/locale/locales/en-us.yaml
  internal/osutils/autostart/autostart_linux.go
  internal/osutils/autostart/autostart_mac.go
  internal/osutils/user/user.go
  internal/osutils/user/user_test.go
  internal/runners/prepare/prepare_linux.go
  internal/runners/tutorial/tutorial.go
  internal/scriptrun/test/integration/scriptrun_test.go
  internal/subshell/bash/bash.go
  internal/subshell/fish/fish.go
  internal/subshell/tcsh/tcsh.go
  internal/subshell/zsh/zsh.go
  internal/uniqid/legacy.go
  internal/uniqid/uniqid.go
  pkg/cmdlets/checkout/path.go
  test/integration/offinstall_int_test.go
  test/integration/prepare_int_test.go
  test/integration/uninstall_int_test.go
Labels: Test: Critical

#2195 Cherry-pick missing state use/shell commits.
  internal/locale/locales/en-us.yaml
  internal/runners/use/show.go
  test/integration/use_int_test.go
Labels: Test: use, Test: shell

#2197 Include trigger in concurrent jobs
  .github/workflows/build.yml
Labels: Test: Critical

#2187 Test remote installer
  .github/workflows/build.yml
  cmd/state-installer/cmd.go
  cmd/state-offline-installer/main.go
  cmd/state-offline-uninstaller/main.go
  cmd/state-remote-installer/main.go
  internal/constants/constants.go
  internal/installation/paths.go
  internal/installation/paths_darwin.go
  internal/installation/paths_linux.go
  internal/installation/paths_windows.go
  internal/runbits/panics/panics.go
  test/integration/remote_installer_int_test.go
Labels: Test: remote-installer

#2188 Update all available RC files
  cmd/state-installer/installer.go
  cmd/state-offline-installer/install.go
  internal/fileutils/fileutils.go
  internal/globaldefault/default.go
  internal/runners/deploy/deploy.go
  internal/subshell/bash/bash.go
  internal/subshell/cmd/cmd.go
  internal/subshell/fish/fish.go
  internal/subshell/subshell.go
  internal/subshell/subshell_lin_mac.go
  internal/subshell/subshell_win.go
  internal/subshell/tcsh/tcsh.go
  internal/subshell/zsh/zsh.go
  test/integration/shell_int_test.go
Labels: Test: shell

#2169 Do not forward io.Writer errors to Rollbar.
  internal/output/plain.go
  internal/terminal/terminal.go
Labels: Test: Critical

#2198 Fix deploy test
  internal/runners/deploy/deploy.go
Labels: Test: deploy
