Repository ActiveState/cli, pull requests merged in 2022-03, with the labels that each got.

#1729 Address potential logout issues and increase logging around auth
  internal/config/instance.go
  internal/keypairs/local.go
  internal/runners/auth/auth.go
  internal/runners/auth/logout.go
  internal/runners/auth/signup.go
  internal/runners/push/push.go
  pkg/cmdlets/auth/helpers.go
  pkg/cmdlets/auth/keypair.go
  pkg/cmdlets/auth/login.go
  pkg/cmdlets/auth/test/integration/auth_test.go
  pkg/platform/authentication/auth.go
Labels: Test: auth

#1733 State push returns error if not authenticated
  internal/keypairs/fetchers.go
  internal/keypairs/fetchers_test.go
  internal/keypairs/keypair.go
  internal/runners/push/push.go
  internal/testhelpers/e2e/session.go
  pkg/cmdlets/auth/keypair.go
  pkg/cmdlets/auth/test/integration/auth_test.go
  pkg/cmdlets/auth/test/integration/testdata/httpresponse/DELETE-apikeys/activestate-platform-cli.json
  pkg/cmdlets/auth/test/integration/testdata/httpresponse/GET-apikeys.json
  pkg/cmdlets/auth/test/integration/testdata/httpresponse/GET-keypair.json
  pkg/cmdlets/auth/test/integration/testdata/httpresponse/GET-oauth/authorize/device-400.json
  pkg/cmdlets/auth/test/integration/testdata/httpresponse/GET-oauth/authorize/device.json
  pkg/cmdlets/auth/test/integration/testdata/httpresponse/GET-renew.json
  pkg/cmdlets/auth/test/integration/testdata/httpresponse/GET-users/uniqueUsername/test-400.json
  pkg/cmdlets/auth/test/integration/testdata/httpresponse/GET-users/uniqueUsername/test.json
  pkg/cmdlets/auth/test/integration/testdata/httpresponse/POST-apikeys.json
  pkg/cmdlets/auth/test/integration/testdata/httpresponse/POST-login-401.json
  pkg/cmdlets/auth/test/integration/testdata/httpresponse/POST-login.json
  pkg/cmdlets/auth/test/integration/testdata/httpresponse/POST-oauth/authorize/device.json
  pkg/cmdlets/auth/test/integration/testdata/httpresponse/POST-users.json
  pkg/cmdlets/auth/test/integration/testdata/httpresponse/PUT-empty-204.json
  pkg/cmdlets/auth/test/integration/testdata/mismatched-private.key
  pkg/cmdlets/auth/test/integration/testdata/self-private.key
Labels: Test: push

#1738 Fix keypair not saving because of stale auth
  internal/keypairs/fetchers.go
  internal/keypairs/keypair.go
  pkg/platform/authentication/auth.go
Labels: Test: auth

#1746 Fix token authentication not saving
  .github/workflows/build.yml
  cmd/state/internal/cmdtree/auth.go
  cmd/state/internal/cmdtree/cmdtree.go
  internal/runners/auth/auth.go
  internal/runners/auth/signup.go
  internal/testhelpers/e2e/session.go
  pkg/cmdlets/auth/keypair.go
  pkg/cmdlets/auth/login.go
  pkg/platform/authentication/auth.go
  test/integration/auth_int_test.go
Labels: Test: auth

#1748 v0.33.0 - build 4 > beta
  .github/workflows/build.yml
  cmd/state/internal/cmdtree/auth.go
  cmd/state/internal/cmdtree/cmdtree.go
  internal/analytics/client/sync/client.go
  internal/runners/auth/auth.go
  internal/runners/auth/signup.go
  internal/testhelpers/e2e/session.go
  pkg/cmdlets/auth/keypair.go
  pkg/cmdlets/auth/login.go
  pkg/platform/api/api.go
  pkg/platform/api/mono/mono.go
  pkg/platform/authentication/auth.go
  pkg/project/prompting_expander_test.go
  pkg/project/secrets_test.go
  test/integration/auth_int_test.go
Labels: Test: auth, Test: Critical

#1749 Make non-interactive only act when it needs to with `state auth`
  internal/locale/locales/en-us.yaml
  internal/runners/auth/auth.go
  pkg/cmdlets/auth/login.go
  test/integration/auth_int_test.go
Labels: Test: auth

#1742 Set channel changes installation directory
  internal/installation/stop.go
  internal/runners/update/update.go
  test/integration/update_int_test.go
Labels: Test: update

#1754 State use
  cmd/state/internal/cmdtree/cmdtree.go
  cmd/state/internal/cmdtree/use.go
  internal/constants/constants.go
  internal/fileutils/fileutils.go
  internal/globaldefault/default.go
  internal/locale/locales/en-us.yaml
  internal/runners/activate/activate.go
  internal/runners/activate/checkout.go
  internal/runners/prepare/prepare.go
  internal/runners/prepare/prepare_test.go
  internal/runners/use/use.go
  internal/testhelpers/tagsuite/tagsuite.go
  internal/virtualenvironment/virtualenvironment.go
  pkg/cmdlets/checkout/checkout.go
  pkg/cmdlets/checkout/path.go
  test/integration/use_int_test.go
Labels: Test: use

#1765 v0.33.0 > release
  changelog.md
  internal/fileutils/fileutils.go
  internal/locale/locales/en-us.yaml
  pkg/platform/runtime/setup/setup.go
Labels: Test: activate, Test: update, Test: auth, Test: Critical

#1769 Fix uninstall issues
  cmd/state-installer/installer.go
  internal/analytics/analytics.go
  internal/analytics/client/async/client.go
  internal/analytics/client/blackhole/client.go
  internal/analytics/client/sync/client.go
  internal/installation/context.go
  internal/installation/context_darwin.go
  internal/installation/context_linux.go
  internal/installation/context_windows.go
  internal/locale/locales/en-us.yaml
  internal/logging/file.go
  internal/runners/clean/run.go
  internal/runners/clean/run_lin_mac.go
  internal/runners/clean/run_win.go
  internal/runners/clean/uninstall.go
  internal/runners/clean/uninstall_test.go
  internal/subshell/cmd/cmd.go
  internal/subshell/cmd/env.go
  test/integration/uninstall_int_test.go
Labels: Test: uninstall

#1772 Fixed help description for "state pull --set-project"
  cmd/state/internal/cmdtree/cmdtree.go
  cmd/state/internal/cmdtree/pull.go
  test/integration/pull_int_test.go
Labels: Test: pull
