Repository ActiveState/cli, pull requests merged in 2022-09, with the labels that each got.

#2080 Ensure remote installer is built so tests can run
  .github/workflows/build.yml
  activestate.yaml
Labels: Test: remote-installer

#2090 Checkout logic should not care about existing checkouts
  internal/locale/locales/en-us.yaml
  internal/runbits/findproject/project.go
  internal/runners/activate/activate.go
  internal/runners/checkout/checkout.go
  internal/runners/shell/shell.go
  internal/runners/use/use.go
  internal/testhelpers/tagsuite/tagsuite.go
  pkg/cmdlets/checkout/checkout.go
  pkg/cmdlets/checkout/path.go
  pkg/project/project.go
  test/integration/checkout_int_test.go
Labels: Test: checkout

#2097 Fix projects not being sourced from env (eg. cwd)
  internal/runbits/findproject/project.go
  pkg/cmdlets/checkout/path.go
  test/integration/activate_int_test.go
Labels: Test: activate

#2100 Fix state shell not finding project, and test assertions
  internal/installation/appinfo.go
  internal/runners/shell/shell.go
  internal/virtualenvironment/virtualenvironment.go
  pkg/platform/runtime/runtime.go
  pkg/project/namespace.go
  test/integration/checkout_int_test.go
  test/integration/exec_int_test.go
  test/integration/shell_int_test.go
  test/integration/use_int_test.go
Labels: Test: activate, Test: shell, Test: checkout

#2101 Cleaning up global default should not care about project dir
  internal/globaldefault/default.go
  pkg/platform/runtime/executor/executor.go
  pkg/platform/runtime/executor/executor_test.go
  pkg/platform/runtime/setup/setup.go
  test/integration/checkout_int_test.go
  test/integration/use_int_test.go
Labels: Test: use

#2105 Attempt to prevent panic caused by reusing an already completed progressbar
  pkg/platform/runtime/setup/events/consumer.go
Labels: Test: Critical

#2104 Handle `state clean uninstall -n` correctly and report abortion of uninstall process
  cmd/state/internal/cmdtree/clean.go
  cmd/state/internal/cmdtree/cmdtree.go
  internal/locale/locales/en-us.yaml
  internal/runners/clean/uninstall.go
  internal/runners/clean/uninstall_test.go
Labels: Test: uninstall

#2110 `state use show` shows a better error message if the default project has been deleted
  internal/runners/use/show.go
  test/integration/use_int_test.go
Labels: Test: use

#2109 Installer only starts subshell in interactive terminal
  cmd/state-installer/cmd.go
Labels: Test: install-scripts, Test:installer, Test: remote-installer

#2114 Show a "default project no longer exists" error message for state shell too when applicable
  internal/locale/locales/en-us.yaml
  internal/runners/shell/shell.go
  internal/runners/use/show.go
  test/integration/shell_int_test.go
Labels: Test: use, Test: shell

#2112 `state use` should use the working project if no namespace is given.
  cmd/state/internal/cmdtree/use.go
  internal/runbits/findproject/project.go
  test/integration/use_int_test.go
Labels: Test: use

#2113 Rebase PYTHONPATH on ${INSTALLDIR} for Camel builds.
  pkg/platform/runtime/setup/implementations/camel/prepare_mac.go
  test/integration/activate_int_test.go
Labels: Test: activate, Test: Critical

#2121 Attempt to fix failing integration test.
  test/integration/info_integration_test.go
Labels: Test: info

#2119 Clean up Platform projects created by `state push` integration tests.
  internal/testhelpers/e2e/clean.go
  internal/testhelpers/e2e/session.go
  internal/testhelpers/tagsuite/tagsuite.go
  test/automation/projects_automation_test.go
  test/integration/auth_int_test.go
  test/integration/delete_uuid_projects_int_test.go
  test/integration/komodo_int_test.go
  test/integration/push_int_test.go
  test/integration/vscode_int_test.go
Labels: Test: delete-uuid-projects

#2125 Initial support for validating Platform attestations
  go.mod
  go.sum
  pkg/platform/runtime/setup/setup.go
  pkg/platform/runtime/validate/testdata/bzip2_attestation.json
  pkg/platform/runtime/validate/testdata/bzip2_attestation_bad_cert.json
  pkg/platform/runtime/validate/testdata/bzip2_attestation_bad_sig.json
  pkg/platform/runtime/validate/validate.go
  pkg/platform/runtime/validate/validate_test.go
  vendor/go.mozilla.org/pkcs7/.gitignore
  vendor/go.mozilla.org/pkcs7/LICENSE
  vendor/go.mozilla.org/pkcs7/Makefile
  vendor/go.mozilla.org/pkcs7/README.md
  vendor/go.mozilla.org/pkcs7/ber.go
  vendor/go.mozilla.org/pkcs7/decrypt.go
  vendor/go.mozilla.org/pkcs7/encrypt.go
  vendor/go.mozilla.org/pkcs7/pkcs7.go
  vendor/go.mozilla.org/pkcs7/sign.go
  vendor/go.mozilla.org/pkcs7/verify.go
  vendor/go.mozilla.org/pkcs7/verify_test_dsa.go
  vendor/modules.txt
Labels: Test: Critical
