Repository ActiveState/cli, pull requests merged in 2022-04, with the labels that each got.

#1784 Install logic ONLY supports our new installation format
  cmd/state-installer/cmd.go
  cmd/state-installer/installer.go
  cmd/state-installer/installer_darwin.go
  cmd/state-installer/installer_lin_mac.go
  cmd/state-installer/installer_linux.go
  cmd/state-installer/installer_windows.go
  internal/appinfo/appinfo.go
  internal/constants/constants.go
  internal/installation/paths.go
  internal/locale/locales/en-us.yaml
  internal/runners/clean/run_win.go
  internal/runners/update/update.go
  internal/testhelpers/e2e/session.go
  internal/updater/fetcher_lin_mac.go
  internal/updater/fetcher_windows.go
  internal/updater/updater.go
  test/integration/install_scripts_int_test.go
  test/integration/update_int_test.go
Labels: Test: update, Test: install-scripts, Test:installer

#1792 Retire legacy installation code that's causing grief
  cmd/state-installer/cmd.go
  cmd/state-installer/installer.go
  cmd/state-installer/installer_darwin.go
  cmd/state-tray/main.go
  internal/appinfo/appinfo.go
  internal/installation/install_int_test.go
  internal/installation/paths.go
  internal/installation/paths_test.go
  internal/installmgr/stop.go
  internal/installmgr/trayapp.go
  internal/installmgr/trayapp_test.go
  internal/installmgr/uninstall_darwin.go
  internal/installmgr/uninstall_lin_win.go
  internal/runners/clean/run_lin_mac.go
  internal/runners/clean/run_win.go
  internal/runners/clean/stop.go
  internal/testhelpers/e2e/session.go
  internal/updater/updater.go
Labels: Test: update

#1794 Ensure service shuts down properly
  cmd/state-svc/main.go
  cmd/state-svc/service.go
  internal/ipc/error.go
  internal/ipc/internal/flisten/error_windows.go
  internal/ipc/server.go
  internal/svcctl/svcctl.go
Labels: Test: update, Test: Critical

#1797 Fix update integration tests
  .github/deps/Linux/.state_install_root
  .github/deps/Windows/.state_install_root
  .github/deps/macOS/.state_install_root
  cmd/state-installer/test/integration/installer_int_test.go
  internal/testhelpers/e2e/session.go
  test/integration/uninstall_int_test.go
  test/integration/update_int_test.go
  test/integration/update_lock_int_test.go
  vendor/github.com/ActiveState/termtest/testing.go
Labels: Test: update

#1803 Add shortcut to uninstall State Tool on Windows.
  internal/locale/locales/en-us.yaml
  internal/osutils/shortcut/shortcut_windows.go
  internal/runners/prepare/prepare_windows.go
Labels: Test: prepare

#1802 Fix installer integration tests.
  cmd/state-installer/cmd.go
  cmd/state-installer/test/integration/installer_int_test.go
  internal/testhelpers/e2e/dirs.go
  internal/testhelpers/e2e/session.go
Labels: Test:installer

#1786 Do not add State's bin path to $PATH again after install process.
  cmd/state-installer/cmd.go
Labels: Test: update, Test:installer

#1800 Windows install script should indicate installer failure.
  installers/install.ps1
  test/integration/install_scripts_int_test.go
Labels: Test: install-scripts

#1804 Fixed `state activate --branch`.
  internal/runners/activate/activate.go
  internal/runners/use/use.go
  pkg/cmdlets/checkout/checkout.go
  test/integration/activate_int_test.go
Labels: Test: activate, Test: use

#1798 Ensure timeout is used in svcctl ping func, improve waits
  internal/svcctl/error.go
  internal/svcctl/svcctl.go
Labels: Test: update, Test: Critical

#1787 Query and directly fetch latest version to install.
  cmd/state-installer/cmd.go
  installers/install.ps1
  installers/install.sh
Labels: Test: update, Test: install-scripts, Test: Critical, Test:installer

#1806 Fix svc system sig handling
  cmd/state-svc/internal/server/router.go
  cmd/state-svc/internal/server/server.go
  cmd/state-svc/main.go
  cmd/state-svc/service.go
  internal/ipc/client.go
  internal/ipc/comm.go
  internal/ipc/server.go
  internal/svcctl/svcctl.go
  test/pseudo/cmd/internal/serve/serve.go
  test/pseudo/cmd/svc/main.go
  test/pseudo/svctool/ipc-shutdown-check
  test/pseudo/svctool/svctool_test.go
Labels: Test: update, Test: uninstall, Test: Critical

#1814 Ensure uninstall runner is removing bin directory
  internal/locale/locales/en-us.yaml
  internal/runners/clean/run_lin_mac.go
  internal/runners/clean/run_win.go
  test/integration/uninstall_int_test.go
Labels: Test: uninstall

#1813 Fix windows PATH on uninstall
  internal/osutils/env_windows.go
  internal/runners/clean/run_win.go
  internal/subshell/cmd/env.go
Labels: Test: uninstall

#1820 Removed reporting of MachineID to Google Analytics.
  cmd/state-installer/cmd.go
  cmd/state-svc/main.go
  cmd/state-tray/main.go
  cmd/state-update-dialog/main.go
  cmd/state/main.go
  go.mod
  go.sum
  internal/analytics/client/sync/client.go
  internal/analytics/client/sync/reporters/ga-state.go
  internal/analytics/dimensions/dimensions.go
  internal/gqlclient/gqlclient.go
  internal/machineid/machineid.go
  internal/rollbar/rollbar.go
  pkg/platform/api/api.go
  pkg/platform/authentication/auth.go
  pkg/platform/model/vcs.go
  vendor/github.com/denisbrodbeck/machineid/.gitignore
  vendor/github.com/denisbrodbeck/machineid/LICENSE.md
  vendor/github.com/denisbrodbeck/machineid/README.md
  vendor/github.com/denisbrodbeck/machineid/helper.go
  vendor/github.com/denisbrodbeck/machineid/id.go
  vendor/github.com/denisbrodbeck/machineid/id_bsd.go
  vendor/github.com/denisbrodbeck/machineid/id_darwin.go
  vendor/github.com/denisbrodbeck/machineid/id_linux.go
  vendor/github.com/denisbrodbeck/machineid/id_windows.go
  vendor/github.com/denisbrodbeck/machineid/logo.png
  vendor/github.com/denisbrodbeck/machineid/makefile
  vendor/modules.txt
Labels: Test: import, Test: pull, Test: Critical
