Repository ActiveState/cli, pull requests merged in 2022-11, with the labels that each got.

#2203 State checkout gives instructions on how to set up IDE/tools
  internal/locale/locales/en-us.yaml
  internal/runners/checkout/checkout.go
Labels: Test: checkout

#2220 Note that deploy symlink step is skipped on Windows
  internal/runners/deploy/deploy.go
  test/integration/deploy_int_test.go
Labels: Test: deploy

#2214 Segregate installer legacy "update old tool" handling
  cmd/state-installer/cmd.go
Labels: Test: install-scripts, Test:installer

#2228 Continue on unscheduled unit test failures.
  .github/workflows/build.yml
Labels: Test: checkout

#2226 Also deploy remote installer during build process.
  .github/workflows/build.yml
Labels: Test: remote-installer

#2231 State show works with any commit ID
  internal/runners/show/show.go
  pkg/platform/model/vcs.go
Labels: Test: show

#2232 Moved "install-deps" outside of "preprocess" script.
  .github/workflows/build.yml
  .github/workflows/propagate.yml
  .github/workflows/release.yml
  .github/workflows/verify.yml
  activestate.yaml
  readme.md
Labels: Test: Critical

#2229 Remove IsAdmin() environment variable override
  cmd/state-offline-installer/install.go
  internal/constants/constants.go
  internal/osutils/privileges_win.go
  internal/subshell/subshell.go
  test/integration/offinstall_int_test.go
Labels: Test: offline-install

#2233 Switch only allows commit IDs from branch history
  internal/runners/swtch/switch.go
  test/integration/switch_int_test.go
Labels: Test: switch

#2189 Initial support for bash on Windows.
  activestate.yaml
  cmd/state-installer/cmd.go
  internal/locale/locales/en-us.yaml
  internal/osutils/osutils_lin_mac.go
  internal/osutils/osutils_test.go
  internal/osutils/osutils_windows.go
  internal/prompt/prompt.go
  internal/runbits/activation/activation.go
  internal/runners/exec/exec.go
  internal/scriptrun/scriptrun.go
  internal/subshell/bash/bash.go
  internal/subshell/cmd/cmd.go
  internal/subshell/fish/fish.go
  internal/subshell/sscommon/rcfile.go
  internal/subshell/subshell.go
  internal/subshell/tcsh/tcsh.go
  internal/subshell/zsh/zsh.go
  pkg/project/expander.go
  pkg/project/expander_test.go
  pkg/project/project.go
  pkg/project/project_test.go
  test/integration/shells_int_test.go
Labels: Test: shell

#2238 Removed "--namespace" parameter from `state history`.
  cmd/state/internal/cmdtree/history.go
  internal/locale/locales/en-us.yaml
  internal/runners/history/history.go
  test/integration/history_int_test.go
Labels: Test: history

#2235 Stop using the terms "global default", "default project", and "default environment".
  cmd/state-installer/cmd.go
  cmd/state/internal/cmdtree/activate.go
  cmd/state/internal/cmdtree/exec.go
  cmd/state/internal/cmdtree/shell.go
  cmd/state/internal/cmdtree/use.go
  internal/constants/constants.go
  internal/globaldefault/default.go
  internal/locale/locales/en-us.yaml
  internal/runners/activate/activate.go
  internal/runners/clean/run.go
  internal/runners/exec/exec.go
  internal/runners/prepare/prepare.go
  internal/runners/use/reset.go
  internal/runners/use/show.go
  internal/runners/use/use.go
  pkg/projectfile/projectfile.go
  test/integration/activate_int_test.go
  test/integration/prepare_int_test.go
  test/integration/shell_int_test.go
  test/integration/use_int_test.go
Labels: Test: use

#2239 Do not attempt to reset if there is no project to reset.
  internal/globaldefault/default.go
  internal/locale/locales/en-us.yaml
  internal/runners/use/reset.go
  test/integration/use_int_test.go
Labels: Test: use

#2244 We warn macOS users not to use bash
  cmd/state-installer/cmd.go
  cmd/state-installer/test/integration/installer_int_test.go
  internal/locale/locales/en-us.yaml
Labels: Test:installer

#2242 Always show either "Installing Runtime" or "Updating Runtime" when installing or updating a runtime
  internal/runbits/progressbar/progressbar.go
  internal/runbits/refresh.go
  test/integration/runtime_int_test.go
  test/integration/use_int_test.go
Labels: Test: use, Test: offline-install

#2218 Non-exe artifacts use exe extension (executors)
  cmd/state-exec/main.go
  cmd/state-exec/meta.go
  internal/exeutils/exeutils.go
  internal/exeutils/exeutils_unix.go
  pkg/platform/runtime/executors/execmeta/execmeta.go
  pkg/platform/runtime/executors/execmeta/execmeta_test.go
  pkg/platform/runtime/executors/executors.go
  pkg/platform/runtime/executors/executors_test.go
  test/integration/activate_int_test.go
Labels: Test: activate, Test: scripts, Test: use, Test: shell

#2243 Respect user's choice to decline project creation.
  internal/runners/push/push.go
Labels: Test: push

#2249 Handle aggressive PID recycling
  internal/process/process.go
Labels: Test: activate

#2251 Show version SHA for available updates.
  cmd/state/autoupdate.go
  pkg/cmdlets/checker/checker.go
Labels: Test: update

#2253 Ensure pkg not found test passes
  test/integration/package_int_test.go
Labels: Test: package

#2252 Added new "autostart.svc" config parameter to toggle state-svc autostart
  cmd/state-svc/autostart/autostart.go
  cmd/state-svc/main.go
  cmd/state-svc/test/integration/svc_int_test.go
  internal/constants/constants.go
  internal/osutils/autostart/autostart.go
Labels: Test: service
