Repository ActiveState/cli, pull requests merged in 2023-10, with the labels that each got.

#2776 User facing errors for State Checkout
  internal/cache/projectcache/projectid.go
  internal/errs/userfacing.go
  internal/locale/locales/en-us.yaml
  internal/runbits/errors/centralized.go
  internal/runbits/rationalize/types.go
  internal/runbits/runtime/rationalize.go
  internal/runbits/runtime/runtime.go
  internal/runners/activate/activate.go
  internal/runners/branch/add.go
  internal/runners/branch/list.go
  internal/runners/checkout/checkout.go
  internal/runners/hello/hello_example.go
  internal/runners/push/push.go
  internal/runners/secrets/set.go
  internal/runners/show/show.go
  internal/runners/swtch/switch.go
  internal/secrets/secrets.go
  pkg/cmdlets/checkout/checkout.go
  pkg/cmdlets/checkout/path.go
  pkg/cmdlets/checkout/rationalize.go
  pkg/cmdlets/errors/errors.go
  pkg/cmdlets/git/git.go
  pkg/platform/model/buildrequest.go
  pkg/platform/model/inventory.go
  pkg/platform/model/projects.go
  pkg/platform/model/vcs.go
  pkg/project/secrets.go
  test/integration/activate_int_test.go
  test/integration/checkout_int_test.go
Labels: Test: activate, Test: checkout

#2787 Revert: Update shell rcfiles to indicate the user is already in an activated state (v41).
  internal/assets/contents/shells/bashrc_append.sh
  internal/assets/contents/shells/fishrc_append.fish
  internal/assets/contents/shells/tcshrc_append.sh
  internal/assets/contents/shells/zshrc_append.sh
  internal/constants/constants.go
  internal/runbits/activation/activation.go
  internal/runners/exec/exec.go
  internal/runners/shell/shell.go
  internal/scriptrun/scriptrun.go
  internal/subshell/sscommon/rcfile.go
  internal/subshell/sscommon/rcfile_test.go
  internal/virtualenvironment/virtualenvironment.go
  test/integration/shell_int_test.go
Labels: Test: shell

#2790 Solve node does not require runtime variable
  pkg/platform/runtime/buildexpression/buildexpression.go
Labels: Test: package, Test: critical

#2794 Fix failing integration tests due to expect mismatch
  test/integration/bundle_int_test.go
  test/integration/package_int_test.go
  test/integration/projects_int_test.go
Labels: Test: package, Test: bundle, Test: projects

#2796 Increase debugging for history test failure
  go.mod
  go.sum
  test/integration/branch_int_test.go
  test/integration/history_int_test.go
  vendor/github.com/ActiveState/termtest/helpers.go
  vendor/github.com/ActiveState/termtest/termtest.go
  vendor/modules.txt
Labels: Test: history

#2800 Drop vscode tests as we no longer publish the extension
  internal/testhelpers/tagsuite/tagsuite.go
  test/integration/vscode_int_test.go
Labels: Test: vscode

#2777 Version 0.41.0-RC2
  changelog.md
  internal/assets/contents/shells/bashrc_append.sh
  internal/assets/contents/shells/fishrc_append.fish
  internal/assets/contents/shells/tcshrc_append.sh
  internal/assets/contents/shells/zshrc_append.sh
  internal/constants/constants.go
  internal/runbits/activation/activation.go
  internal/runners/exec/exec.go
  internal/runners/shell/shell.go
  internal/scriptrun/scriptrun.go
  internal/subshell/sscommon/rcfile.go
  internal/subshell/sscommon/rcfile_test.go
  internal/virtualenvironment/virtualenvironment.go
  pkg/platform/runtime/buildexpression/buildexpression.go
  test/integration/shell_int_test.go
  version.txt
Labels: Test: all

#2809 Implement analytics for executor exit code.
  cmd/state-exec/cmd.go
  cmd/state-exec/comm.go
  cmd/state-exec/exitcode.go
  cmd/state-exec/main.go
  cmd/state-svc/service.go
  internal/analytics/client/sync/client.go
  internal/analytics/constants/constants.go
  internal/svcctl/comm.go
  internal/svcctl/svcmsg/exitcode.go
  internal/svcctl/svcmsg/svcmsg.go
  test/integration/analytics_int_test.go
Labels: Test: analytics, Test: executor

#2782 Clarify why we normalize terminal line endings to '\n'.
  internal/testhelpers/e2e/session.go
Labels: Test: branches

#2817 Remote installer should send a sessionToken to analytics.
  cmd/state-remote-installer/main.go
  test/integration/remote_installer_int_test.go
Labels: Test: remote-installer

#2818 User facing errors and tests for package operations
  internal/locale/locales/en-us.yaml
  internal/runbits/rationalize/types.go
  internal/runbits/requirements/rationalize.go
  internal/runbits/requirements/requirements.go
  internal/testhelpers/tagsuite/tagsuite.go
  pkg/localcommit/localcommit.go
  pkg/platform/api/api.go
  pkg/platform/api/buildplanner/model/buildplan.go
  pkg/platform/model/inventory.go
  pkg/platform/model/recipe.go
  test/integration/activate_int_test.go
  test/integration/checkout_int_test.go
  test/integration/install_int_test.go
  test/integration/push_int_test.go
Labels: Test: install

#2828 Fix package int tests should address new user facing error
  test/integration/package_int_test.go
Labels: Test: package

#2834 Don't add language templating to yaml if runtime is disabled
  internal/constants/constants.go
  pkg/cmdlets/git/test/integration/git_test.go
  pkg/projectfile/projectfile.go
  pkg/projectfile/projectfile_test.go
  test/integration/activate_int_test.go
Labels: Test: activate, Test: checkout

#2836 Fix SetupRCFile failing because no rc file exists in home dir
  cmd/state-installer/test/integration/installer_int_test.go
  internal/testhelpers/e2e/session.go
  test/integration/deploy_int_test.go
  test/integration/shell_int_test.go
  test/integration/use_int_test.go
Labels: Test: deploy, Test: installer, Test: use, Test: shell

#2837 Set runtime source timeout for expects where runtime sourcing is enabled
  test/integration/activate_int_test.go
  test/integration/bundle_int_test.go
  test/integration/checkout_int_test.go
  test/integration/deploy_int_test.go
  test/integration/exec_int_test.go
  test/integration/export_int_test.go
  test/integration/init_int_test.go
  test/integration/install_scripts_int_test.go
  test/integration/package_int_test.go
  test/integration/progress_int_test.go
  test/integration/pull_int_test.go
  test/integration/push_int_test.go
  test/integration/refresh_int_test.go
  test/integration/revert_int_test.go
  test/integration/runtime_int_test.go
  test/integration/shell_int_test.go
  test/integration/shells_int_test.go
  test/integration/show_int_test.go
  test/integration/use_int_test.go
Labels: Test: deploy, Test: critical

#2838 Disable broken assertion that cannot work in the first place
  test/integration/uninstall_int_test.go
Labels: Test: uninstall

#2772 Add ability to install artifacts in the build time closure
  internal/constants/constants.go
  internal/locale/locales/en-us.yaml
  pkg/platform/api/buildplanner/model/buildplan.go
  pkg/platform/model/buildplanner.go
  pkg/platform/runtime/buildplan/buildplan.go
  pkg/platform/runtime/buildplan/changeset.go
  pkg/platform/runtime/setup/implementations/alternative/resolver.go
  pkg/platform/runtime/setup/implementations/alternative/runtime.go
  pkg/platform/runtime/setup/implementations/camel/resolver.go
  pkg/platform/runtime/setup/setup.go
  test/integration/checkout_int_test.go
Labels: Test: critical, Test: checkout

#2847 `state import` should append, not replace all existing packages.
  internal/locale/locales/en-us.yaml
  internal/runners/packages/import.go
Labels: Test: import

#2851 Fixed `state import` test failure and moved that test into the correct suite.
  test/integration/import_int_test.go
  test/integration/package_int_test.go
Labels: Test: import

#2855 Make structured/json output opt-in instead of opt-out.
  cmd/state/internal/cmdtree/activate.go
  cmd/state/internal/cmdtree/auth.go
  cmd/state/internal/cmdtree/branch.go
  cmd/state/internal/cmdtree/bundles.go
  cmd/state/internal/cmdtree/checkout.go
  cmd/state/internal/cmdtree/clean.go
  cmd/state/internal/cmdtree/commit.go
  cmd/state/internal/cmdtree/config.go
  cmd/state/internal/cmdtree/cve.go
  cmd/state/internal/cmdtree/deploy.go
  cmd/state/internal/cmdtree/events.go
  cmd/state/internal/cmdtree/exec.go
  cmd/state/internal/cmdtree/export.go
  cmd/state/internal/cmdtree/fork.go
  cmd/state/internal/cmdtree/hello_example.go
  cmd/state/internal/cmdtree/history.go
  cmd/state/internal/cmdtree/init.go
  cmd/state/internal/cmdtree/invite.go
  cmd/state/internal/cmdtree/languages.go
  cmd/state/internal/cmdtree/learn.go
  cmd/state/internal/cmdtree/organizations.go
  cmd/state/internal/cmdtree/packages.go
  cmd/state/internal/cmdtree/platforms.go
  cmd/state/internal/cmdtree/prepare.go
  cmd/state/internal/cmdtree/projects.go
  cmd/state/internal/cmdtree/protocol.go
  cmd/state/internal/cmdtree/pull.go
  cmd/state/internal/cmdtree/push.go
  cmd/state/internal/cmdtree/refresh.go
  cmd/state/internal/cmdtree/reset.go
  cmd/state/internal/cmdtree/revert.go
  cmd/state/internal/cmdtree/run.go
  cmd/state/internal/cmdtree/scripts.go
  cmd/state/internal/cmdtree/secrets.go
  cmd/state/internal/cmdtree/shell.go
  cmd/state/internal/cmdtree/show.go
  cmd/state/internal/cmdtree/switch.go
  cmd/state/internal/cmdtree/update.go
  cmd/state/internal/cmdtree/use.go
  internal/captain/command.go
Labels: Test: json

#2856 Use constants for environment variable names in integration tests.
  test/integration/activate_int_test.go
  test/integration/bundle_int_test.go
  test/integration/checkout_int_test.go
  test/integration/commit_int_test.go
  test/integration/deploy_int_test.go
  test/integration/edit_int_test.go
  test/integration/exec_int_test.go
  test/integration/executor_int_test.go
  test/integration/export_int_test.go
  test/integration/init_int_test.go
  test/integration/install_scripts_int_test.go
  test/integration/package_int_test.go
  test/integration/performance_int_test.go
  test/integration/prepare_int_test.go
  test/integration/progress_int_test.go
  test/integration/pull_int_test.go
  test/integration/push_int_test.go
  test/integration/refresh_int_test.go
  test/integration/revert_int_test.go
  test/integration/run_int_test.go
  test/integration/runtime_int_test.go
  test/integration/shell_int_test.go
  test/integration/shells_int_test.go
  test/integration/show_int_test.go
  test/integration/update_int_test.go
  test/integration/use_int_test.go
Labels: Test: show

#2852 Stop fetching org info upon `state auth`.
  internal/runners/auth/auth.go
  test/integration/auth_int_test.go
Labels: Test: auth

#2835 Remove headless
  internal/constants/constants.go
  internal/locale/locales/en-us.yaml
  internal/runbits/requirements/requirements.go
  internal/runners/activate/activate.go
  internal/runners/deploy/deploy.go
  internal/runners/exec/exec.go
  internal/runners/history/history.go
  internal/runners/prepare/prepare.go
  internal/runners/pull/pull.go
  internal/runners/push/push.go
  internal/runners/push/rationalize.go
  internal/runners/shell/shell.go
  internal/subshell/sscommon/rcfile.go
  pkg/platform/model/projects.go
  pkg/platform/runtime/executors/executors.go
  pkg/platform/runtime/executors/executors_test.go
  pkg/platform/runtime/runtime.go
  pkg/platform/runtime/setup/setup.go
  pkg/platform/runtime/target/target.go
  test/integration/activate_int_test.go
  test/integration/bundle_int_test.go
  test/integration/import_int_test.go
  test/integration/package_int_test.go
  test/integration/push_int_test.go
Labels: Test: all

#2842 Lack of having a commit ID for push/pull is also an error.
  internal/runners/pull/pull.go
  internal/runners/push/push.go
  test/integration/pull_int_test.go
  test/integration/push_int_test.go
Labels: Test: push, Test: pull
