Repository ActiveState/cli, pull requests merged in 2023-04, with the labels that each got.

#2466 Windows uninstaller prompts user to keep cache/config or delete every…
  cmd/state/internal/cmdtree/clean.go
  internal/runners/clean/cache.go
  internal/runners/clean/config.go
  internal/runners/clean/run_win.go
  internal/runners/clean/uninstall.go
  internal/runners/prepare/prepare_windows.go
Labels: Test: uninstall

#2458 Add analytics events to update flow
  cmd/state-remote-installer/main.go
  cmd/state-svc/internal/resolver/resolver.go
  cmd/state/autoupdate.go
  cmd/state/main.go
  internal/analytics/constants/constants.go
  internal/analytics/dimensions/dimensions.go
  internal/runners/update/lock.go
  internal/runners/update/update.go
  internal/updater/checker.go
  internal/updater/fetcher.go
  internal/updater/updater.go
  internal/updater/updater_test.go
Labels: Test: update, Test: critical

#2429 Update to Go 1.20
  .github/workflows/build.yml
  .github/workflows/propagate.yml
  .github/workflows/release.yml
  .github/workflows/verify.yml
  activestate.yaml
  go.mod
  go.sum
  scripts/constants-generator/main.go
  scripts/constants-generator/vendor/github.com/dave/jennifer/.gitignore
  scripts/constants-generator/vendor/github.com/dave/jennifer/.travis.yml
  scripts/constants-generator/vendor/github.com/dave/jennifer/LICENSE
  scripts/constants-generator/vendor/github.com/dave/jennifer/README.md
  scripts/constants-generator/vendor/github.com/dave/jennifer/README.md.tpl
  scripts/constants-generator/vendor/github.com/dave/jennifer/genjen/data.go
  scripts/constants-generator/vendor/github.com/dave/jennifer/genjen/main.go
  scripts/constants-generator/vendor/github.com/dave/jennifer/genjen/render.go
  scripts/constants-generator/vendor/github.com/dave/jennifer/genjen/render_test.go
  scripts/constants-generator/vendor/github.com/dave/jennifer/gennames/README.md
  scripts/constants-generator/vendor/github.com/dave/jennifer/gennames/hints.go
  scripts/constants-generator/vendor/github.com/dave/jennifer/gennames/main.go
  scripts/constants-generator/vendor/github.com/dave/jennifer/jen/add.go
  scripts/constants-generator/vendor/github.com/dave/jennifer/jen/comments.go
  scripts/constants-generator/vendor/github.com/dave/jennifer/jen/custom.go
  scripts/constants-generator/vendor/github.com/dave/jennifer/jen/dict.go
  scripts/constants-generator/vendor/github.com/dave/jennifer/jen/do.go
  scripts/constants-generator/vendor/github.com/dave/jennifer/jen/examples_test.go
  scripts/constants-generator/vendor/github.com/dave/jennifer/jen/file.go
  scripts/constants-generator/vendor/github.com/dave/jennifer/jen/file_test.go
  scripts/constants-generator/vendor/github.com/dave/jennifer/jen/generated.go
  scripts/constants-generator/vendor/github.com/dave/jennifer/jen/generated_test.go
  scripts/constants-generator/vendor/github.com/dave/jennifer/jen/group.go
  scripts/constants-generator/vendor/github.com/dave/jennifer/jen/hints.go
  scripts/constants-generator/vendor/github.com/dave/jennifer/jen/jen.go
  scripts/constants-generator/vendor/github.com/dave/jennifer/jen/jen_test.go
  scripts/constants-generator/vendor/github.com/dave/jennifer/jen/lit.go
  scripts/constants-generator/vendor/github.com/dave/jennifer/jen/statement.go
  scripts/constants-generator/vendor/github.com/dave/jennifer/jen/tag.go
  scripts/constants-generator/vendor/github.com/dave/jennifer/jen/tokens.go
  scripts/constants-generator/vendor/github.com/dave/jennifer/jennifer.go
  test/integration/performance_svc_int_test.go
Labels: Test: all

#2474 Show additional error information for JSON and other non-plain output formats.
  internal/output/progress.go
  pkg/cmdlets/errors/errors.go
Labels: Test: critical

#2471 Add authentication check on invite
  activestate.yaml
  internal/runners/invite/invite.go
  internal/testhelpers/tagsuite/tagsuite.go
  test/integration/invite_int_test.go
Labels: Test: invite

#2481 Fix analytics integration tests
  .github/workflows/build.yml
  activestate.yaml
  internal/updater/checker.go
  test/integration/analytics_int_test.go
Labels: Test: analytics

#2493 Don't download and install artifacts that originate from an internal namespace
  pkg/platform/runtime/setup/setup.go
Labels: Test: activate, Test: package

#2487 Added CI and Interactive analytics dimensions.
  cmd/state-installer/cmd.go
  cmd/state-offline-installer/main.go
  cmd/state-offline-uninstaller/main.go
  cmd/state-remote-installer/main.go
  cmd/state-svc/internal/resolver/resolver.go
  cmd/state-svc/main.go
  internal/analytics/client/async/client.go
  internal/analytics/client/sync/client.go
  internal/analytics/dimensions/dimensions.go
  internal/rtutils/p/pointresolv.go
  test/integration/analytics_int_test.go
Labels: Test: critical, Test: analytics

#2483 Rework `state init`
  cmd/state/internal/cmdtree/init.go
  internal/assets/contents/activestate.yaml.editor.tpl
  internal/language/language.go
  internal/locale/locales/en-us.yaml
  internal/runners/initialize/init.go
  internal/runners/initialize/skeleton.go
  test/integration/init_int_test.go
  test/integration/komodo_int_test.go
  test/integration/package_int_test.go
  test/integration/pull_int_test.go
  test/integration/push_int_test.go
  test/integration/shared_int_test.go
Labels: Test: package, Test: push, Test: init, Test: pull

#2491 Move log rotation into state-svc.
  cmd/state-svc/main.go
  cmd/state-svc/test/integration/svc_int_test.go
  internal/constants/constants.go
  internal/logging/defaults.go
  internal/logging/rotate.go
Labels: Test: service

#2484 Fix error output on package installation
  .github/workflows/build.yml
  internal/locale/locales/en-us.yaml
  internal/runbits/requirements/requirements.go
  internal/runbits/runtime/progress/dotprogress.go
Labels: Test: critical

#2475 Transition startup entry on update
  cmd/state-installer/installer.go
  go.mod
  go.sum
  internal/osutils/autostart/autostart.go
  internal/osutils/autostart/autostart_darwin.go
  internal/osutils/autostart/autostart_linux.go
  internal/osutils/autostart/autostart_windows.go
  internal/osutils/autostart/legacy_darwin.go
  internal/osutils/autostart/legacy_darwin_test.go
  internal/osutils/autostart/testdata/current.plist
  internal/osutils/autostart/testdata/legacy.plist
  vendor/golang.org/x/oauth2/google/default.go
  vendor/golang.org/x/oauth2/google/doc.go
  vendor/golang.org/x/oauth2/google/google.go
  vendor/golang.org/x/oauth2/google/internal/externalaccount/basecredentials.go
  vendor/golang.org/x/time/rate/rate.go
  vendor/golang.org/x/time/rate/sometimes.go
  vendor/golang.org/x/tools/go/types/objectpath/objectpath.go
  vendor/golang.org/x/tools/internal/gcimporter/gcimporter.go
  vendor/golang.org/x/tools/internal/gcimporter/ureader_yes.go
  vendor/golang.org/x/tools/internal/typeparams/common.go
  vendor/golang.org/x/tools/internal/typesinternal/types.go
  vendor/howett.net/plist/.gitignore
  vendor/howett.net/plist/.gitlab-ci.yml
  vendor/howett.net/plist/LICENSE
  vendor/howett.net/plist/README.md
  vendor/howett.net/plist/bplist.go
  vendor/howett.net/plist/bplist_generator.go
  vendor/howett.net/plist/bplist_parser.go
  vendor/howett.net/plist/decode.go
  vendor/howett.net/plist/doc.go
  vendor/howett.net/plist/encode.go
  vendor/howett.net/plist/fuzz.go
  vendor/howett.net/plist/marshal.go
  vendor/howett.net/plist/must.go
  vendor/howett.net/plist/plist.go
  vendor/howett.net/plist/plist_types.go
  vendor/howett.net/plist/text_generator.go
  vendor/howett.net/plist/text_parser.go
  vendor/howett.net/plist/text_tables.go
  vendor/howett.net/plist/typeinfo.go
  vendor/howett.net/plist/unmarshal.go
  vendor/howett.net/plist/util.go
  vendor/howett.net/plist/xml_generator.go
  vendor/howett.net/plist/xml_parser.go
  vendor/howett.net/plist/zerocopy.go
  vendor/howett.net/plist/zerocopy_appengine.go
  vendor/modules.txt
Labels: Test: update, Test: uninstall, Test: critical, Test: installer

#2488 Version 0.37.1-RC1
  changelog.md
  internal/runners/update/lock.go
  internal/runners/update/unlock.go
  pkg/platform/runtime/setup/setup.go
  version.txt
Labels: Test: all

#2496 Ensure the detected shell's rc file is available.
  internal/subshell/subshell.go
Labels: Test: installer

#2499 App uses correct service executable path
  cmd/state-installer/installer.go
  cmd/state-svc/app/app.go
Labels: Test: update, Test: uninstall, Test: critical, Test: installer

#2495 Installer should overwrite State Service.app.
  cmd/state-installer/test/integration/installer_int_test.go
  internal/app/app_darwin.go
Labels: Test: installer

#2504 Install app to our application install dir
  cmd/state-svc/app/app.go
  cmd/state-svc/test/integration/svc_int_test.go
  internal/app/app.go
  internal/app/app_darwin.go
  internal/fileutils/fileutils.go
  internal/legacytray/legacytray.go
  internal/locale/locales/en-us.yaml
  internal/runners/clean/run_lin_mac.go
  pkg/cmdlets/errors/errors.go
Labels: Test: service

#2507 Fix autostart having opinions on things it shouldn't
  cmd/state-installer/installer.go
  cmd/state-svc/autostart/autostart.go
  cmd/state-svc/main.go
  cmd/state-svc/test/integration/svc_int_test.go
  internal/app/app_darwin.go
  internal/app/app_linux.go
  internal/app/app_windows.go
  internal/constants/constants.go
  internal/legacytray/legacytray.go
  internal/legacytray/legacytray_darwin.go
  internal/legacytray/legacytray_linux.go
  internal/legacytray/legacytray_windows.go
  internal/osutils/autostart/autostart_darwin.go
  internal/runners/prepare/prepare.go
  internal/runners/prepare/prepare_darwin.go
  internal/runners/prepare/prepare_linux.go
  internal/runners/prepare/prepare_windows.go
  test/integration/prepare_int_test.go
Labels: Test: service

#2509 Remove legacy way of checking for update in the installer.
  cmd/state-installer/cmd.go
  cmd/state-installer/installer.go
Labels: Test: install-scripts, Test: installer

#2512 Fix svc auto start test
  cmd/state-svc/test/integration/svc_int_test.go
Labels: Test: service

#2510 If the service encounters a "socket not connected" error, it should assume the server is down.
  internal/ipc/internal/flisten/error_unix.go
Labels: Test: export
