Repository ActiveState/cli, pull requests merged in 2023-09, with the labels that each got.

#2749 `state auth signup` sends the user to the signup page instead of the login page.
  internal/runners/auth/signup.go
  pkg/cmdlets/auth/login.go
  pkg/cmdlets/auth/signup.go
Labels: Test: auth

#2753 Revert inclusion of build artifacts from event handling
  pkg/platform/runtime/setup/setup.go
Labels: Test: critical

#2750 Add source to analytics events.
  cmd/state-installer/cmd.go
  cmd/state-offline-installer/main.go
  cmd/state-offline-uninstaller/main.go
  cmd/state-remote-installer/main.go
  cmd/state-svc/internal/resolver/resolver.go
  cmd/state-svc/internal/rtwatcher/entry.go
  cmd/state-svc/internal/rtwatcher/watcher.go
  cmd/state-svc/internal/server/generated/generated.go
  cmd/state-svc/main.go
  cmd/state-svc/schema/schema.graphqls
  cmd/state/main.go
  go.sum
  internal/analytics/analytics.go
  internal/analytics/client/async/client.go
  internal/analytics/client/blackhole/client.go
  internal/analytics/client/sync/client.go
  internal/analytics/client/sync/reporters/ga-state.go
  internal/analytics/client/sync/reporters/pixel.go
  internal/analytics/client/sync/reporters/test.go
  internal/analytics/constants/constants.go
  internal/graph/generated.go
  internal/prompt/prompt.go
  internal/runners/tutorial/tutorial.go
  internal/svcctl/comm.go
  pkg/platform/api/svc/request/analytics.go
  pkg/platform/api/svc/request/reportrtusage.go
  pkg/platform/model/svc.go
  pkg/platform/runtime/runtime.go
  pkg/platform/runtime/setup/setup.go
  test/integration/analytics_int_test.go
  test/integration/offinstall_int_test.go
  test/integration/performance_svc_int_test.go
Labels: Test: analytics

#2752 Use org URL name, not display name when creating projects and project files.
  internal/runners/fork/fork.go
  internal/runners/initialize/init.go
  pkg/cmdlets/checkout/checkout.go
Labels: Test: init, Test: checkout, Test: fork

#2756 Attempt to trap "flisten in use" errors on CI for further debugging.
  internal/testhelpers/e2e/session.go
Labels: Test: install-scripts, Test: installer

#2738 Add heartbeat test for `state exec`
  cmd/state-svc/internal/resolver/resolver.go
  internal/analytics/constants/constants.go
  pkg/platform/runtime/runtime.go
  pkg/platform/runtime/setup/setup.go
  test/integration/analytics_int_test.go
Labels: Test: analytics

#2762 Remove `state auth signup --prompt`.
  cmd/state/internal/cmdtree/auth.go
  internal/constants/constants.go
  internal/locale/locales/en-us.yaml
  internal/runners/auth/signup.go
  internal/testhelpers/e2e/session.go
  pkg/cmdlets/auth/login.go
  pkg/cmdlets/auth/signup.go
  pkg/cmdlets/legalprompt/tos.go
  pkg/platform/api/settings.go
Labels: Test: auth

#2761 Update runtime use tracking
  pkg/platform/runtime/target/target.go
Labels: Test: analytics

#2779 Increase default timeout for runtime sourcing to 3 minutes
  internal/testhelpers/e2e/session.go
  test/integration/activate_int_test.go
  test/integration/analytics_int_test.go
  test/integration/checkout_int_test.go
  test/integration/commit_int_test.go
  test/integration/deploy_int_test.go
  test/integration/executor_int_test.go
  test/integration/export_int_test.go
  test/integration/package_int_test.go
  test/integration/prepare_int_test.go
  test/integration/push_int_test.go
  test/integration/run_int_test.go
  test/integration/shell_int_test.go
  test/integration/shells_int_test.go
  test/integration/softlimit_int_test.go
Labels: Test: checkout
