Repository ActiveState/cli, pull requests merged in 2023-06, with the labels that each got.

#2573 Fix executor PATH append malfunctioning due to case sensitivity on windows
  cmd/state-exec/meta.go
  cmd/state-exec/meta_test.go
Labels: Test: executor

#2574 Ensure shortcut dir exists, and enrich error reporting
  internal/locale/locales/en-us.yaml
  internal/osutils/shortcut/shortcut_windows.go
Labels: Test: install-scripts, Test: installer

#2549 Mature buildscript (local order) representation
  internal/constants/constants.go
  internal/locale/locales/en-us.yaml
  internal/runbits/buildscript/buildscript.go
  internal/runbits/refresh.go
  internal/runbits/requirements/requirements.go
  internal/runbits/runtime/runtime.go
  internal/runners/activate/activate.go
  internal/runners/exec/exec.go
  internal/scriptrun/scriptrun.go
  pkg/platform/runtime/buildscript/buildscript.go
  pkg/platform/runtime/model/recipe.go
  pkg/platform/runtime/setup/setup.go
  pkg/platform/runtime/target/target.go
Labels: Test: critical

#2581 Cleanup after a failed `state init`.
  internal/osutils/osutils.go
  internal/runners/initialize/init.go
Labels: Test: init

#2579 Update hardcoded os uuids
  internal/constants/constants.go
Labels: Test: init, Test: critical

#2583 Print absolute project path on `state init` if a relative path was given.
  internal/runners/initialize/init.go
Labels: Test: init

#2577 Version 0.39.0-RC3
  changelog.md
  cmd/state/internal/cmdtree/init.go
  internal/constants/constants.go
  internal/osutils/osutils.go
  internal/runners/initialize/init.go
  test/integration/init_int_test.go
  version.txt
Labels: Test: all

#2591 Removed editor.v0 and Komodo compatibility.
  cmd/state/internal/cmdtree/init.go
  cmd/state/main_test.go
  internal/output/editor0.go
  internal/output/output.go
  internal/output/output_test.go
  internal/runners/fork/editorv0.go
  internal/runners/fork/fork.go
  internal/runners/pull/editorv0.go
  internal/testhelpers/tagsuite/tagsuite.go
  test/integration/vscode_int_test.go
Labels: Test: pull, Test: fork

#2592 Do not show "operating on project..." notice when listing packages for a specified project.
  internal/runners/packages/list.go
Labels: Test: package

#2604 Replace captain interceptor with "dumb" but straight forward mechanic
  cmd/state-svc/app/app.go
  cmd/state/internal/cmdtree/cmdtree.go
  cmd/state/internal/cmdtree/exechandlers/cmdcall/cmdcall.go
  cmd/state/internal/cmdtree/exechandlers/messenger/messenger.go
  cmd/state/internal/cmdtree/intercepts/cmdcall/cmdcall.go
  cmd/state/main.go
  internal/captain/command.go
  test/integration/msg_int_test.go
Labels: Test: events, Test: messaging

#2596 Add `state projects edit`
  cmd/state/internal/cmdtree/cmdtree.go
  cmd/state/internal/cmdtree/projects.go
  internal/runners/projects/edit.go
  pkg/platform/model/projects.go
  test/integration/projects_int_test.go
Labels: Test: projects

#2611 Use inventory API's NormalizeNames endpoint before searching for a package to install.
  internal/runbits/requirements/requirements.go
  pkg/platform/model/inventory.go
  test/integration/package_int_test.go
Labels: Test: package

#2603 Add stage cmd
  cmd/state/internal/cmdtree/cmdtree.go
  cmd/state/internal/cmdtree/stage.go
  internal/runbits/buildscript/buildscript.go
  internal/runbits/refresh.go
  internal/runners/stage/stage.go
  internal/testhelpers/tagsuite/tagsuite.go
  pkg/platform/runtime/target/target.go
  test/integration/stage_int_test.go
Labels: Test: stage

#2613 Allow partial version numbers for `state init`.
  internal/language/language.go
  internal/runners/initialize/init.go
  pkg/platform/model/vcs.go
  test/integration/init_int_test.go
Labels: Test: init
