Repository ActiveState/cli, pull requests merged in 2023-05, with the labels that each got.

#2516 Don't test state command itself as part as upgen test as this isn't testing installation, just format
  test/integration/upgen_int_test.go
Labels: Test: cli-deploy

#2503 Add messaging mechanic
  cmd/state-installer/test/integration/installer_int_test.go
  cmd/state-svc/internal/deprecation/deprecation.go
  cmd/state-svc/internal/messages/condition.go
  cmd/state-svc/internal/messages/messages.go
  cmd/state-svc/internal/messages/messages_test.go
  cmd/state-svc/internal/resolver/resolver.go
  cmd/state-svc/internal/server/generated/generated.go
  cmd/state-svc/internal/server/server.go
  cmd/state-svc/schema/schema.graphqls
  cmd/state/internal/cmdtree/cmdtree.go
  cmd/state/internal/cmdtree/intercepts/cmdcall/cmdcall.go
  cmd/state/internal/cmdtree/intercepts/messenger/messenger.go
  cmd/state/main.go
  internal/app/app_darwin.go
  internal/captain/command.go
  internal/constants/constants.go
  internal/graph/generated.go
  internal/graph/response.go
  internal/httputil/get.go
  internal/httputil/get_test.go
  internal/locale/locales/en-us.yaml
  internal/osutils/autostart/autostart_darwin.go
  internal/osutils/shortcut/shortcut_linux.go
  internal/poller/poller.go
  internal/runners/export/docs/docs.go
  internal/strutils/strutils.go
  internal/testhelpers/e2e/session.go
  internal/testhelpers/tagsuite/tagsuite.go
  pkg/cmdlets/errors/errors.go
  pkg/platform/api/svc/request/deprecation.go
  pkg/platform/api/svc/request/messaging.go
  pkg/platform/model/svc.go
  pkg/platform/runtime/setup/setup.go
  pkg/platform/runtime/validate/validate.go
  pkg/projectfile/projectfile.go
  scripts/ci/verify-pr/main.go
  test/integration/deprecation_int_test.go
  test/integration/info_int_test.go
  test/integration/init_int_test.go
  test/integration/install_scripts_int_test.go
  test/integration/msg_int_test.go
  test/integration/update_int_test.go
Labels: Test: messaging

#2518 Replace multierr package with native go solution
  cmd/state-installer/cmd.go
  cmd/state-offline-installer/main.go
  cmd/state-offline-uninstaller/main.go
  cmd/state-remote-installer/main.go
  cmd/state-svc/main.go
  cmd/state/autoupdate.go
  cmd/state/internal/cmdtree/test.go
  cmd/state/internal/cmdtree/tutorial.go
  cmd/state/main.go
  cmd/state/main_test.go
  go.mod
  go.sum
  internal/analytics/client/async/client.go
  internal/analytics/client/sync/client.go
  internal/analytics/dimensions/dimensions.go
  internal/captain/command.go
  internal/config/error.go
  internal/errs/errs.go
  internal/errs/errs_private_test.go
  internal/errs/errs_test.go
  internal/errs/example_test.go
  internal/errs/exitcode.go
  internal/errs/unwrap.go
  internal/fileevents/watcher/watcher.go
  internal/locale/errors.go
  internal/locale/errors_test.go
  internal/logging/logging.go
  internal/output/json.go
  internal/output/mediator.go
  internal/output/mediator_test.go
  internal/rtutils/rtutils.go
  internal/runners/fork/editorv0.go
  internal/runners/ppm/convert.go
  internal/runners/ppm/shim.go
  internal/runners/prepare/prepare.go
  internal/runners/update/update.go
  internal/scriptrun/test/integration/scriptrun_test.go
  internal/subshell/subshell.go
  pkg/cmdlets/errors/errors.go
  pkg/platform/runtime/executors/executors_test.go
  pkg/platform/runtime/setup/setup.go
  pkg/project/project_test.go
  pkg/projectfile/projectfile_test.go
  scripts/ci/deploy-generator/remote-installer/main.go
  scripts/ci/update-generator/main.go
  vendor/github.com/hashicorp/errwrap/LICENSE
  vendor/github.com/hashicorp/errwrap/README.md
  vendor/github.com/hashicorp/errwrap/errwrap.go
  vendor/github.com/hashicorp/go-multierror/LICENSE
  vendor/github.com/hashicorp/go-multierror/Makefile
  vendor/github.com/hashicorp/go-multierror/README.md
  vendor/github.com/hashicorp/go-multierror/append.go
  vendor/github.com/hashicorp/go-multierror/flatten.go
  vendor/github.com/hashicorp/go-multierror/format.go
  vendor/github.com/hashicorp/go-multierror/group.go
  vendor/github.com/hashicorp/go-multierror/multierror.go
  vendor/github.com/hashicorp/go-multierror/prefix.go
  vendor/github.com/hashicorp/go-multierror/sort.go
  vendor/modules.txt
Labels: Test: exit-code, Test: critical

#2522 Handle cache being empty condition
  cmd/state-svc/internal/messages/messages.go
  internal/testhelpers/e2e/session.go
  test/integration/msg_int_test.go
Labels: Test: messaging

#2523 Check auth before init
  internal/locale/locales/en-us.yaml
  internal/runners/initialize/init.go
  test/integration/init_int_test.go
Labels: Test: init

#2534 Fix JSON test assertion
  test/integration/info_int_test.go
Labels: Test: info

#2538 Match found package/bundle's letter case when installing.
  internal/runbits/requirements/requirements.go
Labels: Test: package, Test: critical

#2541 Remove app before installing to avoid conflicts
  changelog.md
  cmd/state-installer/test/integration/installer_int_test.go
  internal/app/app_darwin.go
Labels: Test: update, Test: installer

#2531 Version 0.38.1-RC1
  changelog.md
  cmd/state-installer/test/integration/installer_int_test.go
  internal/analytics/client/sync/reporters/ga-state.go
  internal/app/app_darwin.go
  internal/runbits/runtime/progress/progress.go
  version.txt
Labels: Test: all

#2537 Ensure API client headers are set
  internal/gqlclient/gqlclient.go
  internal/retryhttp/client.go
  internal/retryhttp/roundtripper.go
  pkg/platform/api/api.go
  pkg/platform/api/headchef/headchef.go
  pkg/platform/api/inventory/inventory.go
  pkg/platform/api/mono/mono.go
  pkg/platform/api/reqsimport/reqsimport.go
  pkg/platform/api/secrets/secrets.go
  pkg/platform/errors.go
  pkg/platform/model/inventory.go
  pkg/platform/model/recipe.go
  pkg/platform/model/vcs.go
  pkg/project/secrets_test.go
Labels: Test: critical

#2543 Use custom home dir for integration tests
  cmd/state-installer/test/integration/installer_int_test.go
  cmd/state-svc/test/integration/svc_int_test.go
  internal/testhelpers/e2e/dirs.go
  internal/testhelpers/e2e/session.go
  test/integration/deploy_int_test.go
Labels: Test: critical

#2546 Do not install state-installer
  cmd/state-installer/installer.go
  internal/fileutils/fileutils.go
Labels: Test: install-scripts, Test: installer

#2547 Fix nightly failures due to home dir change
  cmd/state-installer/test/integration/installer_int_test.go
  internal/app/app_darwin.go
  test/integration/deploy_int_test.go
  test/integration/shell_int_test.go
  test/integration/use_int_test.go
Labels: Test: use, Test: shell

#2557 Show executables path after init
  internal/locale/locales/en-us.yaml
  internal/runners/initialize/init.go
Labels: Test: init

#2556 Update flags/args of init cmd
  cmd/state/internal/cmdtree/init.go
  internal/locale/locales/en-us.yaml
  test/integration/init_int_test.go
  test/integration/push_int_test.go
  test/integration/vscode_int_test.go
Labels: Test: init

#2563 Update init arg/flag usage in import e2e test
  test/integration/package_int_test.go
Labels: Test: import, Test: init

#2562 Remove most HTTP mocking
  internal/keypairs/fetchers.go
  internal/keypairs/fetchers_test.go
  pkg/cmdlets/git/test/integration/git_test.go
  pkg/project/prompting_expander_test.go
  pkg/project/secrets_test.go
  test/integration/secrets_int_test.go
Labels: Test: secrets

#2565 Add executables path to `state use show` JSON output.
  internal/runners/use/show.go
  test/integration/use_int_test.go
Labels: Test: use
