Repository ActiveState/cli, pull requests merged in 2023-12, with the labels that each got.

#2917 Do not partially install failed builds
  pkg/platform/api/buildplanner/model/buildplan.go
  pkg/platform/api/buildplanner/request/commit.go
  pkg/platform/api/buildplanner/request/project.go
  pkg/platform/runtime/buildplan/buildplan.go
Labels: Test: critical

#2918 Use real installation for uninstall integration tests.
  test/integration/install_scripts_int_test.go
  test/integration/uninstall_int_test.go
Labels: Test: uninstall, Test: install-scripts

#2920 Give more helpful update errors when there's an Access Denied issue.
  cmd/state-installer/installer.go
  cmd/state-installer/test/integration/installer_int_test.go
  internal/locale/locales/en-us.yaml
Labels: Test: installer

#2922 Clean up locale file by removing unused entries.
  internal/locale/locales/en-us.yaml
Labels: Test: critical

#2928 Re-enable edit test on Windows.
  test/integration/edit_int_test.go
Labels: Test: edit

#2932 Restore `field_*` constructed locale keys.
  internal/locale/locales/en-us.yaml
Labels: Test: languages

#2938 Remove `state pull --set-project`.
  cmd/state/internal/cmdtree/pull.go
  internal/runners/pull/pull.go
  test/integration/pull_int_test.go
Labels: Test: pull

#2940 Use installation package for directory determination.
  internal/runners/clean/run_win.go
Labels: Test: uninstall

#2946 Go back to ignoring '-v' for installer.
  cmd/state-installer/cmd.go
Labels: Test: install-scripts, Test: installer

#2947 Add notice about how to switch between branches in `state branch` when applicable.
  internal/runners/branch/list.go
  test/integration/branch_int_test.go
Labels: Test: branches

#2948 Added `state revert HEAD` to revert latest commit.
  cmd/state/internal/cmdtree/revert.go
  internal/runners/revert/revert.go
  test/integration/revert_int_test.go
Labels: Test: revert

#2952 Add sync safety to poller package
  internal/poller/poller.go
Labels: Test: critical

#2953 Fix nightly integration test failure
  pkg/platform/api/buildplanner/model/buildplan.go
Labels: Test: bundle

#2954 Fixed failing integration test.
  test/integration/shell_int_test.go
Labels: Test: shell

#2957 Fixed failing integration test.
  test/integration/info_int_test.go
Labels: Test: info

#2955 Fixed failing integration test
  test/integration/bundle_int_test.go
Labels: Test: bundle

#2958 Delete failed checkouts unless `--force` is provided.
  cmd/state/internal/cmdtree/checkout.go
  internal/runners/checkout/checkout.go
  test/integration/checkout_int_test.go
Labels: Test: checkout

#2960 Verify existing environment variables are inherited by activated states.
  test/integration/activate_int_test.go
Labels: Test: activate

#2959 Requirement operations do not set commit ID on build failure
  internal/runbits/refresh.go
  internal/runbits/requirements/requirements.go
  internal/runbits/runbits.go
  pkg/platform/runtime/buildplan/buildplan.go
Labels: Test: package, Test: critical

#2965 Added `state languages search`.
  cmd/state/internal/cmdtree/cmdtree.go
  cmd/state/internal/cmdtree/languages.go
  internal/language/language.go
  internal/language/language_test.go
  internal/locale/locales/en-us.yaml
  internal/runbits/checkout/checkout.go
  internal/runners/initialize/init.go
  internal/runners/languages/search.go
  internal/runners/push/push.go
  test/integration/languages_int_test.go
Labels: Test: languages

#2967 Do not show EOL platforms as available options in `state platforms search`.
  internal/runners/platforms/platforms.go
Labels: Test: platforms

#2968 Allow a "reconfigure" installation.
  cmd/state-installer/cmd.go
  cmd/state-installer/installer.go
Labels: Test: update, Test: installer

#2972 Fixed failing integration test.
  test/integration/init_int_test.go
Labels: Test: init

#2970 Allow glibc version on checkout
  cmd/state/internal/cmdtree/checkout.go
  internal/errs/userfacing.go
  internal/locale/locales/en-us.yaml
  internal/runbits/runtime/rationalize.go
  internal/runners/checkout/checkout.go
  pkg/platform/model/inventory.go
  pkg/platform/model/recipe.go
  pkg/platform/runtime/buildplan/buildplan.go
  pkg/sysinfo/sysinfo.go
Labels: Test: critical

#2974 Removed unused tagsuite tags and sorted them.
  internal/testhelpers/tagsuite/tagsuite.go
  test/integration/push_int_test.go
Labels: Test: show

#2976 Fix Planning Error
  internal/locale/locales/en-us.yaml
  pkg/platform/api/buildplanner/model/buildplan.go
Labels: Test: critical

#2977 Error out if the commit of the namespace to activate doesn't match the checked out project.
  internal/locale/locales/en-us.yaml
  internal/runners/activate/activate.go
Labels: Test: activate
