Repository ActiveState/cli, pull requests merged in 2023-08, with the labels that each got.

#2672 Added `state checkout --no-clone` option for not cloning a project's associated git repo.
  cmd/state/internal/cmdtree/checkout.go
  internal/runners/activate/activate.go
  internal/runners/checkout/checkout.go
  pkg/cmdlets/checkout/checkout.go
Labels: Test: checkout

#2670 Add auth tip to revert when commit access is likely forbidden
  internal/runners/revert/revert.go
Labels: Test: revert

#2659 `state init` and `state install` supports wildcard notation for language and package versions.
  internal/runbits/requirements/requirements.go
  internal/runners/initialize/init.go
  internal/runners/initialize/init_test.go
  pkg/platform/model/buildplanner.go
  pkg/platform/model/checkpoints.go
  pkg/platform/model/vcs.go
  pkg/platform/model/vcs_test.go
  test/integration/init_int_test.go
Labels: Test: init

#2683 Put normalized and non-normalized tests in sibling directories.
  test/integration/package_int_test.go
Labels: Test: package

#2684 Integration tests that create users should use a better password.
  internal/testhelpers/e2e/session.go
  test/integration/auth_int_test.go
  test/integration/fork_int_test.go
  test/integration/package_int_test.go
  test/integration/push_int_test.go
  test/integration/vscode_int_test.go
Labels: Test: package, Test: push, Test: auth, Test: fork

#2671 Fix install e2e tests
  activestate.generators.yaml
  cmd/state-installer/test/integration/installer_int_test.go
  internal/constants/constants.go
  internal/fileutils/fileutils.go
  scripts/ci/payload-generator/main.go
  scripts/ci/update-generator/main.go
Labels: Test: update, Test: install-scripts, Test: installer, Test: remote-installer

#2686 Svc not existing isn't an error condition
  internal/installmgr/stop.go
Labels: Test: install-scripts

#2691 Fix parsing errors
  internal/testhelpers/e2e/session.go
  pkg/platform/runtime/buildexpression/buildexpression.go
  test/integration/auth_int_test.go
  test/integration/fork_int_test.go
  test/integration/package_int_test.go
  test/integration/push_int_test.go
  test/integration/vscode_int_test.go
Labels: Test: package

#2695 Do not consider step dependencies as runtime dependencies.
  pkg/platform/runtime/buildplan/buildplan.go
Labels: Test: critical

#2697 Error out when attempting to start another shell within a shell.
  internal/locale/locales/en-us.yaml
  internal/runners/shell/shell.go
Labels: Test: shell

#2699 Lock down loop variables for use in goroutine closures.
  pkg/platform/runtime/setup/setup.go
Labels: Test: critical

#2700 Fixed failing CVE report integration test.
  test/integration/cve_int_test.go
Labels: Test: cve

#2702 Match the org/project case for checkouts, and org case for init when writing activestate.yaml files.
  internal/runners/initialize/init.go
  pkg/cmdlets/checkout/checkout.go
  test/integration/checkout_int_test.go
Labels: Test: checkout

#2701 Support number values in buildscripts.
  pkg/platform/runtime/buildscript/buildexpression.go
  pkg/platform/runtime/buildscript/buildscript.go
  pkg/platform/runtime/buildscript/buildscript_test.go
  pkg/platform/runtime/buildscript/json.go
Labels: Test: pull

#2693 Improve `state history` JSON output.
  internal/runners/pull/pull.go
  pkg/cmdlets/commit/commit.go
  test/integration/history_int_test.go
Labels: Test: history

#2706 Improve messaging around failed installations possibly being caused by antivirus false-positives.
  internal/installation/paths.go
  internal/locale/locales/en-us.yaml
  internal/runners/prepare/prepare.go
Labels: Test: prepare, Test: installer

#2707 Fixed autoupdate defaults.
  cmd/state/autoupdate.go
Labels: Test: update

#2690 Version 0.40.1-RC1
  changelog.md
  cmd/state/autoupdate.go
  internal/installation/paths.go
  internal/locale/locales/en-us.yaml
  internal/runners/prepare/prepare.go
  internal/testhelpers/e2e/session.go
  pkg/platform/runtime/buildexpression/buildexpression.go
  pkg/platform/runtime/setup/setup.go
  test/integration/auth_int_test.go
  test/integration/fork_int_test.go
  test/integration/package_int_test.go
  test/integration/push_int_test.go
  test/integration/vscode_int_test.go
  version.txt
Labels: Test: all

#2709 Update Build Expression parser for forward compatibility
  pkg/platform/runtime/buildexpression/buildexpression.go
  pkg/platform/runtime/buildexpression/buildexpression_test.go
  pkg/platform/runtime/buildexpression/testdata/buildexpression-installer-complex.json
  pkg/platform/runtime/buildexpression/testdata/buildexpression-nested.json
Labels: Test: package

#2713 Retry 502 (and other) status codes
  pkg/platform/model/buildplanner.go
Labels: Test: critical

#2718 Added team notice when renaming or moving a project.
  internal/locale/locales/en-us.yaml
  internal/runners/projects/edit.go
  internal/runners/projects/move.go
Labels: Test: projects

#2710 Update shell rcfiles to indicate the user is already in an activated state.
  internal/assets/contents/shells/bashrc_append.sh
  internal/assets/contents/shells/fishrc_append.fish
  internal/assets/contents/shells/tcshrc_append.sh
  internal/assets/contents/shells/zshrc_append.sh
  internal/constants/constants.go
  internal/runbits/activation/activation.go
  internal/runners/exec/exec.go
  internal/scriptrun/scriptrun.go
  internal/subshell/sscommon/rcfile.go
  internal/subshell/sscommon/rcfile_test.go
  internal/virtualenvironment/virtualenvironment.go
  test/integration/shell_int_test.go
Labels: Test: shell

#2733 Added analytics dimension for state tool use on state tool CI.
  .github/workflows/build.yml
  .github/workflows/propagate.yml
  .github/workflows/release.yml
  .github/workflows/verify.yml
  internal/analytics/client/async/client.go
  internal/analytics/client/sync/client.go
  internal/analytics/client/sync/reporters/ga-state.go
  internal/analytics/dimensions/dimensions.go
  internal/condition/condition.go
  internal/constants/constants.go
  test/integration/analytics_int_test.go
Labels: Test: analytics
