Repository ActiveState/cli, pull requests merged in 2023-07, with the labels that each got.

#2615 Only install artifacts after all of them have been fetched, unpacked, and prepared for install.
  internal/constants/constants.go
  internal/locale/locales/en-us.yaml
  pkg/platform/runtime/setup/setup.go
  test/integration/runtime_int_test.go
Labels: Test: interrupt

#2616 Fixed other integration tests that use `state init` with "python3" as a language.
  internal/locale/locales/en-us.yaml
  pkg/platform/model/checkpoints.go
  pkg/platform/model/inventory.go
  test/integration/package_int_test.go
  test/integration/push_int_test.go
Labels: Test: package, Test: push

#2620 Postpone uninstalling of outdated artifacts until the last minute.
  internal/locale/locales/en-us.yaml
  pkg/platform/runtime/setup/implementations/camel/runtime.go
  pkg/platform/runtime/setup/setup.go
  test/integration/runtime_int_test.go
Labels: Test: interrupt

#2622 Fixed deleting outdated artifact directories.
  pkg/platform/runtime/setup/implementations/camel/runtime.go
Labels: Test: use, Test: refresh

#2544 Remove go version from Target & Verify job
  .github/workflows/verify.yml
Labels: Test: critical

#2363 BuildPlanner integration
  internal/constants/constants.go
  internal/locale/locales/en-us.yaml
  internal/runbits/changesummary/changesummary.go
  internal/runbits/changesummary/changesummary_empty.go
  internal/runbits/changesummary/changesummary_test.go
  internal/runbits/requirements/requirements.go
  internal/runners/languages/install.go
  internal/runners/packages/install.go
  internal/runners/packages/uninstall.go
  internal/runners/platforms/add.go
  internal/runners/platforms/remove.go
  internal/sliceutils/sliceutils.go
  internal/sliceutils/sliceutils_test.go
  pkg/platform/api/buildplanner/model/buildplan.go
  pkg/platform/api/buildplanner/request/buildexpression.go
  pkg/platform/api/buildplanner/request/buildplan.go
  pkg/platform/api/buildplanner/request/commit.go
  pkg/platform/api/buildplanner/request/project.go
  pkg/platform/api/buildplanner/request/pushcommit.go
  pkg/platform/api/buildplanner/request/stagecommit.go
  pkg/platform/api/settings.go
  pkg/platform/model/buildengine.go
  pkg/platform/model/buildplanner.go
  pkg/platform/model/inventory.go
  pkg/platform/model/recipe.go
  pkg/platform/runtime/artifact/artifact.go
  pkg/platform/runtime/artifact/changeset.go
  pkg/platform/runtime/artifact/download.go
  pkg/platform/runtime/artifact/failures.go
  pkg/platform/runtime/artifact/recipe.go
  pkg/platform/runtime/artifact/test/integration/artifact_test.go
  pkg/platform/runtime/buildexpression/buildexpression.go
  pkg/platform/runtime/buildexpression/buildexpression_test.go
  pkg/platform/runtime/buildexpression/testdata/buildexpression-complex.json
  pkg/platform/runtime/buildexpression/testdata/buildexpression-installer.json
  pkg/platform/runtime/buildexpression/testdata/buildexpression-unordered.json
  pkg/platform/runtime/buildexpression/testdata/buildexpression.json
  pkg/platform/runtime/buildplan/buildplan.go
  pkg/platform/runtime/buildplan/changeset.go
  pkg/platform/runtime/model/default.go
  pkg/platform/runtime/setup/buildlog/buildlog.go
  pkg/platform/runtime/setup/buildlog/buildlog_test.go
  pkg/platform/runtime/setup/implementations/alternative/runtime.go
  pkg/platform/runtime/setup/implementations/camel/runtime.go
  pkg/platform/runtime/setup/setup.go
  pkg/platform/runtime/store/store.go
  pkg/platform/runtime/testhelper/cmd/main.go
  pkg/platform/runtime/testhelper/testhelper.go
  scripts/ci/verify-pr/main.go
Labels: Test: critical

#2625 Do not require installation path validation when installing for the first time.
  internal/installation/paths.go
  internal/installation/paths_darwin.go
  internal/installation/paths_linux.go
  internal/installation/paths_test.go
  internal/installation/paths_windows.go
Labels: Test: install-scripts, Test: installer

#2631 BuildPlanner implementation can modify platforms
  internal/runbits/requirements/requirements.go
  pkg/platform/model/buildplanner.go
  pkg/platform/model/vcs.go
  pkg/platform/runtime/buildexpression/buildexpression.go
  pkg/platform/runtime/buildexpression/buildexpression_test.go
Labels: Test: package, Test: platforms

#2632 Fixed inadvertent Linux installation path change.
  internal/installation/paths_linux.go
Labels: Test: install-scripts, Test: installer

#2635 Use download URL from Build Planner
  pkg/platform/runtime/artifact/artifact.go
  pkg/platform/runtime/buildplan/buildplan.go
  pkg/platform/runtime/setup/setup.go
Labels: Test: package, Test: critical

#2630 Add the private project authentication disclaimer to revert commit errors.
  internal/locale/locales/en-us.yaml
  internal/runbits/runtime/runtime.go
  internal/runners/revert/revert.go
  pkg/platform/model/projects.go
Labels: Test: revert

#2626 Update install archive
  activestate.generators.yaml
  cmd/state-installer/installer.go
  scripts/ci/update-generator/main.go
Labels: Test: install-scripts

#2642 Drop redundant updateRequirement method with conflicting behaviour
  pkg/platform/model/buildplanner.go
  pkg/platform/runtime/buildexpression/buildexpression.go
  test/integration/package_int_test.go
Labels: Test: package

#2645 Fix missing commit ID on revert check
  pkg/platform/api/buildplanner/request/project.go
  pkg/platform/model/buildplanner.go
  pkg/platform/runtime/buildexpression/buildexpression_test.go
  test/integration/bundle_int_test.go
  test/integration/package_int_test.go
Labels: Test: package, Test: critical

#2639 Add hard failure and more debug logging
  pkg/platform/api/buildplanner/request/buildexpression.go
  pkg/platform/api/buildplanner/request/commit.go
  pkg/platform/api/buildplanner/request/stagecommit.go
  pkg/platform/model/buildplanner.go
Labels: Test: all

#2646 Fix builds in progress failing on file transformations
  internal/runbits/runtime/progress/progress.go
  pkg/platform/model/s3.go
  pkg/platform/runtime/artifact/artifact.go
  pkg/platform/runtime/artifact/download.go
  pkg/platform/runtime/buildplan/buildplan.go
  pkg/platform/runtime/setup/buildlog/buildlog.go
  pkg/platform/runtime/setup/buildlog/messages.go
  pkg/platform/runtime/setup/implementations/alternative/runtime.go
  pkg/platform/runtime/setup/setup.go
Labels: Test: activate, Test: package

#2636 Added integration test for verifying headers sent to the Platform.
  internal/constants/constants.go
  pkg/platform/api/api.go
  pkg/sysinfo/sysinfo.go
  test/integration/api_int_test.go
Labels: Test: critical

#2653 Save existing refresh token during dcag instead of creating new one
  pkg/cmdlets/auth/login.go
  pkg/platform/authentication/auth.go
  pkg/platform/model/auth/auth.go
Labels: Test: auth, Test: critical

#2660 Allow installing overtop previous state tool as long as the branch matches
  cmd/state-installer/cmd.go
  cmd/state-installer/installer.go
  cmd/state-installer/test/integration/installer_int_test.go
  internal/installation/paths.go
  test/integration/install_scripts_int_test.go
Labels: Test: update, Test: install-scripts, Test: installer, Test: remote-installer

#2664 Fix typo in hello cmd e2e test
  test/integration/hello_int_example_test.go
Labels: Test: hello_example

#2658 Installer tests use payload generator
  activestate.generators.yaml
  cmd/state-installer/test/integration/installer_int_test.go
  scripts/ci/payload-generator/main.go
  scripts/ci/update-generator/main.go
Labels: Test: installer

#2667 Report buildplan failures to DWH
  internal/analytics/client/sync/reporters/ga-state.go
  internal/analytics/dimensions/dimensions.go
  pkg/platform/runtime/runtime.go
Labels: Test: checkout

#2665 Version 0.40.0-RC4
  internal/analytics/client/sync/reporters/ga-state.go
  internal/analytics/dimensions/dimensions.go
  pkg/platform/api/buildplanner/model/buildplan.go
  pkg/platform/api/buildplanner/request/stagecommit.go
  pkg/platform/model/buildplanner.go
  pkg/platform/runtime/runtime.go
  version.txt
Labels: Test: all
