Repository ActiveState/cli, pull requests merged in 2023-03, with the labels that each got.

#2401 Uninstall on Windows should remove the same files as on macOS/Linux
  internal/runners/clean/run_win.go
Labels: Test: uninstall

#2391 Add trigger token for executor usage
  internal/svcctl/comm.go
  pkg/platform/runtime/target/target.go
  test/integration/analytics_int_test.go
Labels: Test: exec, Test: analytics, Test: executor

#2407 Fixed localization messages
  internal/locale/locales/en-us.yaml
  pkg/platform/model/vcs.go
Labels: Test: package

#2408 Moved initial runtime heartbeat event into the service.
  cmd/state-svc/internal/rtwatcher/watcher.go
  internal/svcctl/comm.go
  pkg/platform/runtime/runtime.go
Labels: Test: Critical, Test: analytics

#2416 Marked some commands as stable.
  cmd/state/internal/cmdtree/checkout.go
  cmd/state/internal/cmdtree/packages.go
  cmd/state/internal/cmdtree/scripts.go
  cmd/state/internal/cmdtree/shell.go
  cmd/state/internal/cmdtree/switch.go
  cmd/state/internal/cmdtree/use.go
Labels: Test: Critical

#2417 Added `state refresh` command.
  cmd/state/internal/cmdtree/cmdtree.go
  cmd/state/internal/cmdtree/refresh.go
  internal/runners/refresh/refresh.go
  internal/testhelpers/tagsuite/tagsuite.go
  pkg/platform/runtime/target/target.go
  test/integration/refresh_int_test.go
Labels: Test: refresh

#2421 Fixed failing integration tests.
  test/integration/auth_int_test.go
  test/integration/komodo_int_test.go
  test/integration/vscode_int_test.go
Labels: Test: komodo, Test: auth

#2418 Log autoupdate failures instead of halting execution.
  cmd/state/main.go
Labels: Test: update, Test: Critical

#2425 Fixed failing integration tests.
  test/integration/update_lock_int_test.go
Labels: Test: update

#2428 Initial dotprogress indicator for non-interactive mode.
  cmd/state/main.go
  cmd/state/output.go
  internal/locale/locales/en-us.yaml
  internal/runbits/runtime/progress/dotprogress.go
  internal/runbits/runtime/progress/progress.go
  internal/runbits/runtimeevents.go
  internal/testhelpers/tagsuite/tagsuite.go
  test/integration/progress_int_test.go
Labels: Test: Critical, Test: progress

#2431 Add `--to` option for `state revert`.
  cmd/state/internal/cmdtree/revert.go
  internal/runners/revert/revert.go
  pkg/platform/model/vcs.go
  test/integration/revert_int_test.go
Labels: Test: revert

#2434 Defer `state pull --set-project` from changing namespace until merge succeeds.
  internal/runners/pull/pull.go
  test/integration/pull_int_test.go
Labels: Test: pull

#2438 Wrap on words, not characters when possible.
  internal/colorize/cropped.go
  internal/colorize/cropped_test.go
  test/integration/help_int_test.go
Labels: Test: help

#2303 State service autostarts as an .app on macOS
  .gitignore
  cmd/state-installer/installer.go
  cmd/state-installer/test/integration/installer_int_test.go
  cmd/state-svc/app/app.go
  cmd/state-svc/app/app_darwin.go
  cmd/state-svc/autostart/autostart.go
  cmd/state-svc/autostart/autostart_mac.go
  cmd/state-svc/test/integration/svc_int_test.go
  internal/app/app.go
  internal/app/app_darwin.go
  internal/app/app_linux.go
  internal/app/app_windows.go
  internal/assets/assets.go
  internal/assets/contents/com.activestate.platform.app.plist.tpl
  internal/assets/contents/com.activestate.platform.autostart.plist.tpl
  internal/assets/contents/exec.sh.tpl
  internal/assets/contents/placeholder.app/Contents/MacOS/placeholder
  internal/assets/contents/placeholder.app/Contents/Resources/placeholder
  internal/fileutils/fileutils.go
  internal/installation/paths.go
  internal/legacytray/legacytray.go
  internal/legacytray/legacytray_darwin.go
  internal/osutils/autostart/autostart.go
  internal/osutils/autostart/autostart_darwin.go
  internal/osutils/autostart/autostart_linux.go
  internal/osutils/autostart/autostart_windows.go
  internal/runners/clean/run.go
  internal/runners/clean/run_lin_mac.go
  internal/runners/clean/run_win.go
  internal/runners/prepare/prepare.go
  internal/runners/prepare/prepare_darwin.go
  internal/runners/prepare/prepare_linux.go
  internal/runners/prepare/prepare_windows.go
  test/integration/prepare_int_test.go
Labels: Test: uninstall, Test: Critical, Test:installer

#2441 Fix failing tests due to nameval changes
  activestate.yaml
  test/integration/performance_expansion_int_test.go
Labels: Test: all

#2443 Account for 1 or 2 heartbeat events during executor test.
  test/integration/analytics_int_test.go
Labels: Test: analytics

#2444 Preserve trailing whitespace when wrapping words.
  internal/colorize/cropped.go
  internal/colorize/cropped_test.go
  test/integration/cve_int_test.go
Labels: Test: package, Test: show, Test: cve

#2446 `state search --exact-term` should be case-sensitive.
  internal/runners/packages/search.go
  test/integration/package_int_test.go
Labels: Test: package

#2440 Enable PYTHONUTF8 in Git Bash on Windows for default Python projects.
  internal/assets/contents/activestate.yaml.python.tpl
Labels: Test: Critical

#2450 Fix failing integration tests
  internal/app/app_darwin.go
  internal/constants/constants.go
  test/integration/install_scripts_int_test.go
Labels: Test: install-scripts, Test: Critical

#2454 Update remote installer test
  test/integration/remote_installer_int_test.go
Labels: Test: critical

#2445 Send analytics event on config set
  internal/analytics/constants/constants.go
  internal/runners/config/config.go
  internal/runners/config/set.go
  internal/runners/config/set_test.go
  test/integration/analytics_int_test.go
Labels: Test:config

#2453 The installer should not consider dumb terminals to be interactive.
  cmd/state-installer/cmd.go
Labels: Test: install-scripts, Test: critical, Test:installer

#2455 Windows uninstaller should allow the user to confirm exit before clos…
  cmd/state/internal/cmdtree/clean.go
  internal/runners/clean/run_win.go
  internal/runners/clean/uninstall.go
  internal/runners/prepare/prepare_windows.go
Labels: Test: uninstall

#2460 Notify user of an existing checkout.
  internal/locale/locales/en-us.yaml
  pkg/cmdlets/checkout/checkout.go
  pkg/cmdlets/checkout/path.go
  test/integration/checkout_int_test.go
Labels: Test: checkout

#2464 Pin GoVersionInfo for remote installer.
  activestate.yaml
Labels: Test: remote-installer

#2462 Uninstall code should not address test cases
  internal/assets/contents/scripts/removePaths.bat
  internal/runners/clean/run_win.go
  test/integration/uninstall_int_test.go
Labels: Test: uninstall
