Repository ActiveState/cli, pull requests merged in 2023-01, with the labels that each got.

#2296 Do not close legacy auth config.
  pkg/platform/authentication/auth.go
Labels: Test: Critical

#2297 Update yaml expansion performance tests
  test/integration/performance_int_test.go
Labels: Test: performance

#2294 Another fix for autostart integration test
  cmd/state-svc/test/integration/svc_int_test.go
  internal/constants/constants.go
  internal/osutils/autostart/autostart_linux.go
  internal/osutils/autostart/autostart_mac.go
  internal/osutils/autostart/autostart_windows.go
  test/integration/prepare_int_test.go
Labels: Test: service

#2295 Secrets should use primer auth instead of legacy auth.
  cmd/state/main.go
  internal/access/access.go
  internal/runners/auth/auth.go
  internal/runners/invite/org.go
  internal/runners/secrets/common.go
  internal/runners/secrets/get.go
  internal/runners/secrets/secrets.go
  internal/runners/secrets/set.go
  internal/runners/secrets/sync.go
  internal/secrets/secrets.go
  pkg/platform/model/organizations.go
  pkg/project/project.go
  pkg/project/project_test.go
  pkg/project/prompting_expander_test.go
  pkg/project/secrets.go
  pkg/project/secrets_test.go
Labels: Test: Critical

#2302 `state revert` reverts changes from a commit, rather than reverting to the commit itself.
  cmd/state/internal/cmdtree/revert.go
  internal/runners/revert/revert.go
  pkg/platform/model/vcs.go
  test/integration/package_int_test.go
  test/integration/revert_int_test.go
Labels: Test: package, Test: revert

#2307 Show executable runtime directories in `state projects`.
  internal/runners/projects/projects.go
  internal/testhelpers/tagsuite/tagsuite.go
  test/integration/projects_int_test.go
Labels: Test: projects

#2308 Remove `state update --set-version`.
  cmd/state/internal/cmdtree/update.go
  internal/runners/update/update.go
  test/integration/update_int_test.go
Labels: Test: update

#2311 Removed projectfile.Constraints.
  internal/assets/contents/activestate.yaml.editor.tpl
  internal/constraints/constraints.go
  internal/constraints/constraints_test.go
  internal/scriptrun/test/integration/testdata/printEnv/activestate.yaml
  pkg/project/project_test.go
  pkg/project/testdata/activestate.yaml
  pkg/projectfile/projectfile.go
  pkg/projectfile/projectfile_test.go
  pkg/projectfile/testdata/activestate.yaml
  test/activestate.yaml
  test/download/file1
  test/download/file2
  test/download/file3
  test/integration/edit_int_test.go
  test/integration/run_int_test.go
  test/integration/scripts_int_test.go
  test/integration/show_int_test.go
Labels: Test: run, Test: show, Test: scripts, Test: Critical, Test: edit

#2318 Disable offline installer test
  test/integration/offinstall_int_test.go
Labels: Test: offline-install

#2320 Fix show integration tests
  test/integration/show_int_test.go
Labels: Test: show

#2288 `state languages install` does not modify remote project
  internal/locale/locales/en-us.yaml
  internal/runbits/requirements/requirements.go
  internal/runners/languages/install.go
  internal/runners/packages/import.go
  internal/runners/packages/install.go
  internal/runners/packages/list.go
  internal/runners/packages/uninstall.go
  internal/runners/platforms/add.go
  internal/runners/platforms/list.go
  internal/runners/platforms/remove.go
  pkg/platform/model/checkpoints.go
  pkg/platform/model/vcs.go
  pkg/platform/runtime/target/target.go
  test/integration/languages_int_test.go
  test/integration/package_int_test.go
  test/integration/platforms_int_test.go
Labels: Test: package, Test: languages, Test: platforms

#2328 Fix panic and failing integration test.
  pkg/projectfile/projectfile.go
  test/integration/run_int_test.go
Labels: Test: run

#2327 Do not use terminal escape sequences in non-interactive terminals or the Windows command prompt.
  cmd/state/main.go
  cmd/state/main_test.go
  cmd/state/output.go
  internal/output/output.go
  internal/output/progress.go
  internal/output/progress_unix.go
  internal/output/progress_win.go
  internal/subshell/subshell.go
Labels: Test: Critical, Test: shell

#2330 Fixed failing integration test.
  internal/runbits/runtime/progress/progress.go
Labels: Test: use

#2332 Clear interactive progress ticker after completion.
  internal/output/progress.go
Labels: Test: Critical

#2334 Handle unhandled err in installFromBuildLog func
  pkg/platform/runtime/setup/setup.go
Labels: Test: package

#2331 Fixed failing bundle integration test
  internal/runners/packages/install.go
  internal/runners/packages/uninstall.go
Labels: Test: bundle

#2337 Improve executor svc message error text for CI only
  cmd/state-exec/main.go
Labels: Test: executor
