Repository ActiveState/cli, pull requests merged in 2023-11, with the labels that each got.

#2846 `state push` uses buildplanner's mergeCommit mutation.
  internal/runners/push/push.go
  internal/runners/push/rationalize.go
  pkg/platform/api/buildplanner/model/buildplan.go
  pkg/platform/api/buildplanner/request/mergecommit.go
  pkg/platform/model/buildplanner.go
Labels: Test: push

#2853 Temporarily disable localcommit files and buildscripts.
  cmd/state/internal/cmdtree/cmdtree.go
  internal/constraints/constraints.go
  internal/runbits/commitmediator/commitmediator.go
  internal/runbits/refresh.go
  internal/runbits/requirements/requirements.go
  internal/runners/branch/add.go
  internal/runners/initialize/init.go
  internal/runners/packages/import.go
  internal/runners/pull/pull.go
  internal/runners/push/push.go
  internal/runners/reset/reset.go
  internal/runners/revert/revert.go
  internal/runners/swtch/switch.go
  internal/testhelpers/e2e/session.go
  pkg/cmdlets/checkout/checkout.go
  pkg/platform/runtime/runtime.go
  pkg/platform/runtime/setup/setup.go
  pkg/project/project.go
  pkg/project/project_test.go
  pkg/project/testdata/activestate.yaml
  pkg/projectfile/projectfield.go
  pkg/projectfile/projectfile.go
  test/integration/checkout_int_test.go
  test/integration/commit_int_test.go
  test/integration/install_int_test.go
  test/integration/project_migration_int_test.go
  test/integration/pull_int_test.go
  test/integration/push_int_test.go
  test/integration/switch_int_test.go
Labels: Test: install

#2865 Add error tips to structured/JSON output.
  cmd/state/main.go
  internal/output/json.go
  internal/output/mediator.go
  internal/output/mediator_test.go
  pkg/cmdlets/errors/errors.go
  test/integration/checkout_int_test.go
Labels: Test: checkout

#2867 Use httpretry client for update fetcher.
  internal/updater/fetcher.go
Labels: Test: update

#2858 State revert uses the build planner
  internal/runners/revert/revert.go
  pkg/platform/api/buildplanner/model/buildplan.go
  pkg/platform/api/buildplanner/request/revertcommit.go
  pkg/platform/model/buildplanner.go
  test/integration/revert_int_test.go
Labels: Test: revert

#2863 `state pull` uses the build planner
  internal/runners/pull/pull.go
  internal/runners/pull/rationalize.go
  pkg/platform/api/buildplanner/model/buildplan.go
  test/integration/pull_int_test.go
Labels: Test: pull

#2866 Moved cmdlets into runbits.
  architecture.md
  cmd/state-installer/cmd.go
  cmd/state-remote-installer/main.go
  cmd/state/main.go
  internal/runbits/auth/keypair.go
  internal/runbits/auth/login.go
  internal/runbits/auth/signup.go
  internal/runbits/checker/checker.go
  internal/runbits/checkout/checkout.go
  internal/runbits/checkout/path.go
  internal/runbits/checkout/rationalize.go
  internal/runbits/commit/commit.go
  internal/runbits/errors/errors.go
  internal/runbits/git/git.go
  internal/runbits/git/test/integration/git_test.go
  internal/runners/activate/activate.go
  internal/runners/auth/auth.go
  internal/runners/auth/signup.go
  internal/runners/checkout/checkout.go
  internal/runners/history/history.go
  internal/runners/pull/pull.go
  internal/runners/revert/revert.go
  internal/runners/run/run.go
  internal/runners/state/state.go
  internal/runners/use/use.go
  pkg/cmdlets/README.md
Labels: Test: show

#2873 Fixed integration test failure.
  test/integration/activate_int_test.go
Labels: Test: activate

#2875 Update error handling on revert (and pull)
  internal/runners/pull/rationalize.go
  internal/runners/revert/rationalize.go
  internal/runners/revert/revert.go
  pkg/platform/api/buildplanner/model/buildplan.go
  pkg/platform/model/buildplanner.go
Labels: Test: revert

#2876 Recognize headless errors on requirement operations
  internal/runbits/rationalize/types.go
  internal/runbits/requirements/rationalize.go
  internal/runbits/requirements/requirements.go
Labels: Test: package

#2880 Remove `httpreq` in favor of `retryhttp`.
  internal/httpreq/request.go
  internal/updater/checker.go
Labels: Test: update

#2879 Replace `os.Getwd()` usage with `osutils.Getwd()`.
  internal/runbits/checkout/path.go
  internal/runners/deploy/uninstall/uninstall.go
  internal/runners/scripts/edit_test.go
  pkg/projectfile/projectfile_test.go
Labels: Test: uninstall, Test: checkout, Test: edit

#2883 Use zsh as shell for macOS integration tests.
  .github/workflows/build.yml
  cmd/state-installer/test/integration/installer_int_test.go
Labels: Test: installer

#2882 Disable terminal echo while State Tool is running.
  cmd/state/main.go
  internal/runbits/activation/activation.go
  internal/runbits/runtime/progress/progress.go
  internal/subshell/bash/bash.go
  internal/subshell/cmd/cmd.go
  internal/subshell/fish/fish.go
  internal/subshell/subshell.go
  internal/subshell/tcsh/tcsh.go
  internal/subshell/termecho/termecho.go
  internal/subshell/termecho/termecho_darwin.go
  internal/subshell/termecho/termecho_linux.go
  internal/subshell/termecho/termecho_unix.go
  internal/subshell/termecho/termecho_windows.go
  internal/subshell/zsh/zsh.go
Labels: Test: critical, Test: shell

#2871 Show indication the user is still in a `state shell` when starting a new shell within it.
  internal/assets/contents/shells/bashrc_append.sh
  internal/assets/contents/shells/fishrc_append.fish
  internal/assets/contents/shells/tcshrc_append.sh
  internal/assets/contents/shells/zshrc_append.sh
  internal/constants/constants.go
  internal/runbits/activation/activation.go
  internal/runners/exec/exec.go
  internal/runners/shell/shell.go
  internal/scriptrun/scriptrun.go
  internal/subshell/sscommon/rcfile.go
  internal/subshell/sscommon/rcfile_test.go
  internal/virtualenvironment/virtualenvironment.go
  test/integration/shell_int_test.go
Labels: Test: shell

#2884 Added "preserve.prompt" config option for not changing PS1 in activated environments.
  internal/assets/contents/shells/bashrc.sh
  internal/assets/contents/shells/bashrc_global.sh
  internal/assets/contents/shells/zshrc.sh
  internal/assets/contents/shells/zshrc_global.sh
  internal/constants/constants.go
  internal/runners/deploy/deploy.go
  internal/subshell/bash/bash.go
  internal/subshell/cmd/cmd.go
  internal/subshell/fish/fish.go
  internal/subshell/sscommon/rcfile.go
  internal/subshell/subshell.go
  internal/subshell/tcsh/tcsh.go
  internal/subshell/zsh/zsh.go
  test/integration/shell_int_test.go
Labels: Test: shell

#2885 Raise an error when updating a runtime currently in use.
  internal/locale/locales/en-us.yaml
  internal/osutils/osutils.go
  pkg/platform/runtime/setup/setup.go
Labels: Test: critical

#2890 Test importing more complex requirements.txt.
  test/integration/import_int_test.go
  test/integration/package_int_test.go
Labels: Test: import

#2887 Consistently use single quotes in actionable commands in user-facing messages.
  cmd/state-installer/cmd.go
  cmd/state/internal/cmdtree/cmdtree.go
  cmd/state/main.go
  internal/locale/locales/en-us.yaml
  internal/runbits/git/git.go
  internal/runners/activate/activate.go
  internal/runners/auth/signup.go
  internal/runners/deploy/uninstall/uninstall.go
  internal/runners/events/log.go
  internal/runners/export/privkey.go
  internal/runners/hello/hello_example.go
  internal/runners/invite/invite.go
  internal/runners/languages/languages.go
  internal/runners/packages/info.go
  internal/runners/pull/pull.go
  internal/runners/show/show.go
  internal/runners/tutorial/tutorial.go
  pkg/platform/authentication/auth.go
  pkg/platform/model/cve.go
Labels: Test: critical

#2891 Version 0.42.0-RC2
  pkg/platform/runtime/setup/setup.go
  version.txt
Labels: Test: all

#2900 Fixed version number on v43 branch.
  version.txt
Labels: Test: auth

#2899 Platform signup URL should be constructed based on any host override.
  internal/constants/constants.go
  internal/runbits/auth/login.go
  internal/runners/tutorial/tutorial.go
  pkg/platform/api/settings.go
Labels: Test: auth

#2905 Set non-PATH environment variables for tcsh.
  internal/assets/contents/shells/tcsh.sh
  internal/assets/contents/shells/tcsh_global.sh
  internal/assets/contents/shells/tcshrc_append.sh
Labels: Test: shell

#2904 Do not query for build when staging a commit
  pkg/platform/api/buildplanner/request/stagecommit.go
  pkg/platform/model/buildplanner.go
Labels: Test: package, Test: critical

#2901 Add more support for user-facing errors to `state init`
  internal/locale/locales/en-us.yaml
  internal/runners/initialize/init.go
  internal/runners/initialize/rationalize.go
  pkg/platform/api/buildplanner/model/buildplan.go
  test/integration/init_int_test.go
Labels: Test: init

#2907 Use `$script.name.path()` in activestate.yaml files.
  activestate.generators.yaml
  activestate.yaml
Labels: Test: critical

#2910 Add integration test for "runtime in use" error.
  test/integration/runtime_int_test.go
Labels: Test: critical

#2911 Better formatting for multi-line error messages
  internal/runbits/errors/errors.go
Labels: Test: critical

#2913 Fix install test
  test/integration/install_int_test.go
Labels: Test: install
