Repository ActiveState/cli, pull requests merged in 2023-02, with the labels that each got.

#2338 Fix state-svc logs not appearing in integration tests
  internal/logging/defaults.go
  internal/logging/formatter.go
  internal/logging/rotate.go
  internal/runbits/rtusage/rtusage.go
  internal/svcctl/comm.go
  internal/testhelpers/e2e/session.go
  test/integration/analytics_int_test.go
  test/integration/performance_int_test.go
Labels: Test: activate

#2341 Fix state-svc exiting prematurely
  cmd/state-svc/internal/resolver/resolver.go
  cmd/state-svc/internal/rtwatcher/watcher.go
  internal/analytics/client/async/client.go
  internal/analytics/client/sync/client.go
  internal/exeutils/exeutils.go
  internal/logging/defaults.go
  internal/logging/file.go
  internal/logging/logging_test.go
  internal/rollbar/rollbar.go
  internal/svcctl/comm.go
  internal/testhelpers/e2e/session.go
  test/integration/activate_int_test.go
Labels: Test: activate, Test: softlimit

#2325 State checkout has a `--set-cache` flag
  cmd/state/internal/cmdtree/checkout.go
  internal/assets/contents/activestate.yaml.cache.tpl
  internal/globaldefault/default.go
  internal/runbits/refresh.go
  internal/runbits/requirements/requirements.go
  internal/runbits/runtime/runtime.go
  internal/runners/activate/activate.go
  internal/runners/checkout/checkout.go
  internal/runners/exec/exec.go
  internal/runners/packages/import.go
  internal/runners/projects/projects.go
  internal/runners/pull/pull.go
  internal/runners/reset/reset.go
  internal/runners/revert/revert.go
  internal/runners/show/show.go
  internal/runners/swtch/switch.go
  internal/runners/use/show.go
  internal/scriptrun/scriptrun.go
  pkg/cmdlets/checkout/checkout.go
  pkg/platform/runtime/target/target.go
  pkg/project/project.go
  pkg/projectfile/projectfile.go
  test/integration/checkout_int_test.go
Labels: Test: checkout

#2343 Don't filter out noop artifacts too early; we still need to build them
  pkg/platform/runtime/artifact/recipe.go
  pkg/platform/runtime/artifact/test/integration/artifact_test.go
  pkg/platform/runtime/runtime.go
  pkg/platform/runtime/setup/buildlog/buildlog.go
  pkg/platform/runtime/setup/setup.go
Labels: Test: activate, Test: package

#2347 Ensure download progress is counted on cached artifacts
  internal/runbits/runtime/progress/decor.go
  internal/runbits/runtime/progress/progress.go
  pkg/platform/runtime/setup/setup.go
  test/integration/checkout_int_test.go
Labels: Test: checkout

#2352 Filter out artifact that can't be build
  pkg/platform/model/vcs.go
  pkg/platform/runtime/artifact/recipe.go
  pkg/platform/runtime/setup/setup.go
Labels: Test: activate, Test: package

#2356 Don't error out if progressbars could not finish
  internal/runbits/runtime/progress/progress.go
  pkg/platform/runtime/setup/events/events.go
  pkg/platform/runtime/setup/setup.go
Labels: Test: activate

#2354 Use median for performance tests instead of mean.
  test/integration/performance_expansion_int_test.go
  test/integration/performance_int_test.go
Labels: Test: performance

#2370 Check for valid commit ID for `state revert`.
  internal/runners/revert/revert.go
Labels: Test: revert

#2369 Fixed error message if `state import file` fails.
  internal/locale/locales/en-us.yaml
  internal/runners/packages/import.go
Labels: Test: import

#2376 `state use reset` with no project in use is a user error.
  internal/runners/use/reset.go
  test/integration/use_int_test.go
Labels: Test: use

#2375 Ensure authentication is synced when checking usage
  cmd/state-svc/internal/rtusage/rtusage.go
  pkg/platform/authentication/auth.go
Labels: Test: softlimit

#2374 Provide the correct build total
  internal/runbits/runtime/progress/progress.go
  pkg/platform/runtime/setup/buildlog/buildlog.go
  pkg/platform/runtime/setup/events/events.go
Labels: Test: package

#2377 Remove `state import --force` in favor of `state import --non-interactive`.
  cmd/state/internal/cmdtree/packages.go
  internal/locale/locales/en-us.yaml
  internal/runners/packages/import.go
Labels: Test: import

#2373 Fix executors not sending heartbeats
  internal/svcctl/comm.go
  test/integration/analytics_int_test.go
Labels: Test: analytics

#2366 Version 0.36.0-RC4
  cmd/state-svc/internal/rtusage/rtusage.go
  internal/logging/defaults.go
  internal/runbits/runtime/progress/progress.go
  internal/svcctl/comm.go
  pkg/platform/authentication/auth.go
  pkg/platform/runtime/setup/buildlog/buildlog.go
  pkg/platform/runtime/setup/events/events.go
  test/integration/analytics_int_test.go
  version.txt
Labels: Test: all

#2378 Always refresh JWT before attempting to use it
  cmd/state-svc/internal/rtusage/rtusage.go
  internal/cache/projectcache/projectid.go
  pkg/platform/authentication/auth.go
Labels: Test: softlimit

#2380 Removed `output.Heading` in favor of `output.Title`.
  cmd/state/autoupdate.go
  cmd/state/main.go
  internal/output/presets.go
  internal/prompt/prompt.go
  internal/runbits/refresh.go
  internal/runners/auth/auth.go
  internal/runners/auth/logout.go
  internal/runners/cve/cve.go
  internal/runners/cve/report.go
  internal/runners/deploy/deploy.go
  internal/runners/packages/info.go
  internal/runners/prepare/prepare.go
  internal/runners/pull/pull.go
  internal/runners/run/run.go
  internal/runners/show/show.go
  pkg/cmdlets/checker/checker.go
  pkg/cmdlets/errors/errors.go
  pkg/cmdlets/git/git.go
  test/integration/errors_int_test.go
Labels: Test: Critical

#2381 Check if paths were actually removed to show correct message.
  internal/assets/contents/scripts/removePaths.bat
Labels: Test: uninstall

#2383 Fixed error message attempting to add commit for private repository.
  pkg/platform/model/vcs.go
Labels: Test: package

#2384 Convert various rollbar errors to input errors.
  cmd/state-svc/internal/resolver/resolver.go
  internal/scriptrun/scriptrun.go
Labels: Test: scripts, Test: service

#2387 Prevent authentication errors to be reported if they are due to use input
  internal/analytics/client/sync/reporters/ga-state.go
  internal/condition/condition.go
  internal/poller/poller.go
  pkg/platform/authentication/auth.go
Labels: Test: auth

#2385 Version 0.36.0-RC6
  internal/analytics/client/sync/reporters/ga-state.go
  internal/condition/condition.go
  internal/poller/poller.go
  pkg/platform/authentication/auth.go
  version.txt
Labels: Test: all

#2386 Do not delete config and cache by default on uninstall.
  cmd/state/internal/cmdtree/clean.go
  internal/runners/clean/run_lin_mac.go
  internal/runners/clean/run_win.go
  internal/runners/clean/uninstall.go
  test/integration/uninstall_int_test.go
Labels: Test: uninstall

#2390 Cache path is absolute
  pkg/cmdlets/checkout/checkout.go
Labels: Test: checkout

#2393 Increase acceptable svc query duration to account for CI network latency.
  test/integration/performance_svc_int_test.go
Labels: Test: service

#2394 Temporarily remove expectation from some performance tests.
  test/integration/performance_expansion_int_test.go
  test/integration/performance_svc_int_test.go
Labels: Test: performance

#2396 Relax bad cmd handling in subshell
  internal/subshell/bash/bash.go
  internal/subshell/cmd/cmd.go
  internal/subshell/fish/fish.go
  internal/subshell/sscommon/sscommon.go
  internal/subshell/tcsh/tcsh.go
  internal/subshell/zsh/zsh.go
Labels: Test: activate, Test:installer, Test: shell

#2397 Add newline between errors and "Need More Help?" header.
  pkg/cmdlets/errors/errors.go
Labels: Test: Critical

#2398 Use different messages for `state clean uninstall` depending on whether or not `--all` is present.
  internal/locale/locales/en-us.yaml
  internal/runners/clean/uninstall.go
  test/integration/uninstall_int_test.go
Labels: Test: uninstall
