Repository ActiveState/cli, pull requests merged in 2024-09, with the labels that each got.

#3471 Add timeout for complex import test.
  test/integration/import_int_test.go
Labels: Test: import

#3479 Merge "PATH" with Window's "Path".
  internal/runners/exec/exec.go
Labels: Test: exec

#3475 Show short CVE warning if not prompting.
  internal/locale/locales/en-us.yaml
  internal/runbits/cves/cves.go
Labels: Test: package

#3482 Ignore log file for current process
  internal/runners/export/log.go
Labels: Test: export

#3480 Added marshaling and pre-unmarshaling hooks for buildscript <-> buildexpression.
  pkg/buildscript/marshal_buildexpression.go
  pkg/buildscript/unmarshal_buildexpression.go
Labels: test: buildscripts

#3466 Update shell detection
  internal/constants/constants.go
  internal/subshell/subshell.go
  internal/subshell/subshell_lin_mac.go
  internal/subshell/subshell_win.go
  internal/testhelpers/e2e/env_windows.go
  internal/testhelpers/e2e/spawn.go
  test/integration/install_scripts_int_test.go
  test/integration/shell_int_test.go
  test/integration/shells_int_test.go
Labels: Test: critical

#3486 Update deprecated GitHub Actions.
  .github/workflows/build.yml
  .github/workflows/propagate.yml
  .github/workflows/release.yml
  .github/workflows/verify.yml
  internal/subshell/subshell_win_test.go
Labels: Test: hello_example

#3495 Add ability for runners to ignore async runtimes.
  internal/runbits/runtime/runtime.go
  internal/runners/activate/activate.go
  internal/runners/deploy/deploy.go
  internal/runners/export/env.go
  internal/runners/refresh/refresh.go
  internal/runners/shell/shell.go
  internal/runners/use/use.go
  internal/scriptrun/scriptrun.go
  test/integration/shell_int_test.go
Labels: Test: critical, Test: shell, Test: refresh

#3496 Fix checkout/init change summaries
  internal/runbits/dependencies/summary.go
  pkg/buildplan/artifact.go
  pkg/buildplan/buildplan.go
  pkg/buildplan/filters.go
  pkg/buildplan/hydrate.go
  pkg/buildplan/hydrate_test.go
  pkg/buildplan/ingredient.go
  pkg/buildplan/ingredient_test.go
  pkg/buildplan/mock/mock.go
  pkg/buildplan/mock_test.go
  pkg/buildplan/raw/walk.go
  pkg/buildplan/raw/walk_test.go
  test/integration/checkout_int_test.go
Labels: Test: init, Test: checkout

#3506 Fix script test
  internal/scriptrun/test/integration/scriptrun_test.go
Labels: Test: scripts

#3507 If buildscripts are enabled, `state refresh` without a buildscript should error.
  internal/runners/refresh/refresh.go
Labels: Test: refresh

#3510 Skip integration test
  test/integration/install_int_test.go
Labels: Test: install

#3508 Map to ingredient when its source can be identified as a single straight path
  pkg/buildplan/buildplan.go
  pkg/buildplan/filters.go
  pkg/buildplan/hydrate.go
  pkg/buildplan/hydrate_test.go
  pkg/buildplan/mock/mock.go
  pkg/buildplan/raw/walk.go
  pkg/buildplan/raw/walk_test.go
  pkg/runtime/depot.go
Labels: Test: package, Test: critical, Test: install
