Repository ActiveState/cli, pull requests merged in 2024-03, with the labels that each got.

#3146 Fix download tests
  pkg/platform/runtime/runtime.go
  test/integration/builds_int_test.go
Labels: Test: builds

#3144 Use functions for buildscript version requirements instead of formatted strings.
  internal/runbits/buildscript/buildscript_test.go
  internal/runbits/buildscript/testdata/buildscript1.as
  internal/runbits/buildscript/testdata/buildscript2.as
  pkg/platform/model/version_constraints.go
  pkg/platform/runtime/buildscript/buildscript.go
  pkg/platform/runtime/buildscript/buildscript_test.go
  pkg/platform/runtime/buildscript/json.go
Labels: Test: commit

#3149 Support top-level "at_time" variable in buildscripts.
  internal/runbits/buildscript/buildscript.go
  internal/runbits/buildscript/buildscript_test.go
  internal/runbits/buildscript/testdata/buildscript1.as
  internal/runbits/buildscript/testdata/buildscript2.as
  internal/runbits/requirements/requirements.go
  internal/runners/packages/import.go
  internal/runners/pull/pull.go
  internal/runners/push/push.go
  internal/runners/revert/revert.go
  pkg/platform/api/buildplanner/model/buildplan.go
  pkg/platform/api/buildplanner/request/buildexpression.go
  pkg/platform/model/buildplanner.go
  pkg/platform/runtime/buildexpression/buildexpression.go
  pkg/platform/runtime/buildexpression/merge/merge_test.go
  pkg/platform/runtime/buildscript/buildscript.go
  pkg/platform/runtime/buildscript/buildscript_test.go
  pkg/platform/runtime/buildscript/file.go
  pkg/platform/runtime/buildscript/json.go
  pkg/platform/runtime/runtime.go
Labels: Test: pull, Test: critical, Test: commit

#3152 Disable buildscripts by default and make them an opt-in mechanic
  cmd/state/main.go
  internal/constants/constants.go
  internal/runbits/refresh.go
  internal/runbits/requirements/requirements.go
  internal/runbits/runtime/runtime.go
  internal/runners/builds/builds.go
  internal/runners/exec/exec.go
  internal/runners/initialize/init.go
  internal/runners/pull/pull.go
  pkg/platform/runtime/runtime.go
  pkg/platform/runtime/setup/setup.go
  test/integration/pull_int_test.go
Labels: Test: pull, Test: critical

#3155 Fix buildscript should only be created if opted in
  pkg/platform/api/buildplanner/model/buildplan.go
  pkg/platform/runtime/runtime.go
  test/integration/commit_int_test.go
Labels: Test: commit

#3159 Ensure commits only ever write the buildscript to a commit
  internal/locale/locales/en-us.yaml
  internal/runbits/buildscript/buildscript.go
  internal/runners/commit/commit.go
  internal/runners/pull/pull.go
  pkg/platform/runtime/buildscript/buildscript_test.go
  pkg/platform/runtime/buildscript/file.go
  pkg/platform/runtime/runtime.go
  test/integration/commit_int_test.go
  test/integration/pull_int_test.go
Labels: Test: pull, Test: commit

#3156 Remove `state export recipe` and its support routines.
  cmd/state/internal/cmdtree/cmdtree.go
  cmd/state/internal/cmdtree/export.go
  internal/locale/locales/en-us.yaml
  internal/runners/export/recipe.go
  pkg/platform/model/buildplanner.go
  pkg/platform/model/recipe.go
  pkg/platform/model/recipe_test.go
  pkg/platform/model/vcs.go
  test/integration/export_int_test.go
Labels: Test: critical, Test: export

#3153 Handle fast-forward merges of buildscripts.
  internal/runners/pull/pull.go
Labels: Test: pull

#3162 Show the full name of the artifact being downloaded.
  internal/locale/locales/en-us.yaml
  internal/runners/builds/progress.go
Labels: Test: builds

#3166 State commit communicates buildplan errors
  internal/runners/commit/commit.go
Labels: Test: commit

#3168 Don't update commit ID or buildscript unless runtime sourcing was succesful
  internal/runbits/runtime/runtime.go
  internal/runners/activate/activate.go
  internal/runners/builds/builds.go
  internal/runners/checkout/checkout.go
  internal/runners/commit/commit.go
  internal/runners/export/env.go
  internal/runners/languages/languages.go
  internal/runners/packages/list.go
  internal/runners/refresh/refresh.go
  internal/runners/shell/shell.go
  internal/runners/use/use.go
Labels: Test: commit

#3171 `state commit` does not source runtime
  internal/locale/locales/en-us.yaml
  internal/runners/commit/commit.go
  test/integration/commit_int_test.go
Labels: Test: commit

#3172 `state builds` and `state builds dl` can operate on failed builds
  internal/locale/locales/en-us.yaml
  internal/runners/builds/builds.go
  internal/runners/builds/download.go
  pkg/platform/runtime/buildplan/buildplan.go
  pkg/platform/runtime/buildplan/buildplan_test.go
  pkg/platform/runtime/runtime.go
Labels: Test: builds

#3173 Buildscript version functions should take name, value assignment arguments instead of just values.
  internal/runbits/buildscript/buildscript_test.go
  internal/runbits/buildscript/testdata/buildscript1.as
  internal/runbits/buildscript/testdata/buildscript2.as
  pkg/platform/runtime/buildscript/buildscript.go
  pkg/platform/runtime/buildscript/buildscript_test.go
  pkg/platform/runtime/buildscript/json.go
Labels: Test: commit

#3175 `state commit` should set the `at_time` specified in the buildscript.
  internal/constants/constants.go
  internal/runbits/buildscript/buildscript.go
  internal/runbits/buildscript/buildscript_test.go
  internal/runbits/requirements/requirements.go
  internal/runners/commit/commit.go
  internal/runners/packages/import.go
  internal/runners/pull/pull.go
  pkg/platform/model/buildplanner.go
  pkg/platform/runtime/buildexpression/buildexpression.go
  pkg/platform/runtime/buildexpression/merge/merge_test.go
  pkg/platform/runtime/buildscript/buildscript.go
  pkg/platform/runtime/buildscript/buildscript_test.go
  pkg/platform/runtime/buildscript/file.go
  pkg/platform/runtime/buildscript/json.go
  pkg/platform/runtime/runtime.go
  pkg/platform/runtime/setup/setup.go
  pkg/platform/runtime/store/store.go
  test/integration/commit_int_test.go
  test/integration/pull_int_test.go
Labels: Test: pull, Test: commit

#3185 `state reset` accepts a branch name.
  cmd/state/internal/cmdtree/reset.go
  internal/runners/reset/reset.go
  internal/testhelpers/tagsuite/tagsuite.go
  test/integration/reset_int_test.go
Labels: Test: reset

#3180 Add partial version detection back into `state init`.
  internal/runners/initialize/init.go
  test/integration/init_int_test.go
Labels: Test: init

#3139 Fix table spacing and `omitEmpty` option
  internal/output/plain.go
  internal/table/table.go
  internal/table/table_test.go
Labels: Test: critical

#3192 Added ability to set default timestamp in buildexpression if it matches a commit time.
  pkg/platform/runtime/buildexpression/buildexpression.go
  pkg/platform/runtime/buildscript/buildscript.go
Labels: Test: pull, Test: commit

#3187 Report CVE information for all dependencies
  internal/locale/locales/en-us.yaml
  internal/runbits/dependencies/changesummary.go
  internal/runbits/dependencies/changesummary_test.go
  internal/runbits/errors/errors.go
  internal/runbits/refresh.go
  internal/runbits/requirements/requirements.go
  internal/runbits/runtime/progress/dotprogress.go
  internal/runbits/runtime/refresh.go
  internal/runbits/runtime/runtime.go
  internal/runners/deploy/deploy.go
  internal/runners/exec/exec.go
  internal/runners/initialize/init.go
  internal/runners/packages/import.go
  internal/runners/prepare/prepare.go
  internal/runners/pull/pull.go
  internal/runners/reset/reset.go
  internal/runners/revert/revert.go
  internal/runners/swtch/switch.go
  internal/scriptrun/scriptrun.go
  pkg/platform/model/vulnerabilities.go
  pkg/platform/runtime/artifact/artifact.go
  pkg/platform/runtime/artifact/changeset.go
  pkg/platform/runtime/buildplan/changeset.go
  pkg/platform/runtime/runtime.go
  pkg/platform/runtime/setup/events/events.go
  pkg/platform/runtime/setup/implementations/alternative/runtime.go
  pkg/platform/runtime/setup/setup.go
  test/integration/install_int_test.go
  test/integration/package_int_test.go
Labels: Test: package, Test: init, Test: cve, Test: critical, Test: checkout, Test: refresh, Test: install

#3198 Rename builds to artifacts
  cmd/state/internal/cmdtree/artifacts.go
  cmd/state/internal/cmdtree/builds.go
  cmd/state/internal/cmdtree/cmdtree.go
  internal/runners/artifacts/artifacts.go
  internal/runners/artifacts/download.go
  internal/runners/artifacts/progress.go
  internal/runners/artifacts/rationalize.go
  internal/testhelpers/tagsuite/tagsuite.go
  test/integration/artifacts_int_test.go
Labels: Test: artifacts

#3200 Version 0.43.0-RC6
  cmd/state/internal/cmdtree/publish.go
  pkg/platform/model/vcs.go
  version.txt
Labels: Test: all
