Repository ActiveState/cli, pull requests merged in 2024-10, with the labels that each got.

#3517 Added ceremonial break.
  pkg/buildscript/unmarshal_buildexpression.go
Labels: test: buildscripts

#3523 Fixed failing integration test.
  test/integration/import_int_test.go
Labels: Test: import

#3522 Fixed test failure.
  test/integration/progress_int_test.go
Labels: Test: progress

#3526 Fix scriptrun test
  internal/scriptrun/test/integration/scriptrun_test.go
Labels: Test: scripts

#3530 Remove no-op pops.
  pkg/buildscript/unmarshal_buildexpression.go
Labels: test: buildscripts

#3531 Build scripts can distinguish between solve nodes for different targets.
  pkg/buildscript/queries.go
  pkg/buildscript/unmarshal.go
  pkg/buildscript/unmarshal_buildexpression.go
Labels: test: buildscripts

#3534 Set shell override on Windows
  installers/install.ps1
Labels: Test: install-scripts

#3528 Add config list
  cmd/state/internal/cmdtree/config.go
  internal/colorize/colorize.go
  internal/locale/locales/en-us.yaml
  internal/mediators/config/registry.go
  internal/runbits/runtime/runtime.go
  internal/runners/config/config.go
  test/integration/config_int_test.go
Labels: Test: config

#3540 Fix export buildplan
  internal/runners/export/buildplan.go
  test/integration/export_int_test.go
  version.txt
Labels: Test: export

#3542 Fix message integration tests
  test/integration/msg_int_test.go
Labels: Test: messaging

#3537 Implement ingredient function for buildscripts
  cmd/state-svc/gqlgen.yml
  cmd/state-svc/internal/hash/file_hasher.go
  cmd/state-svc/internal/resolver/resolver.go
  cmd/state-svc/internal/server/generated/generated.go
  cmd/state-svc/schema/schema.graphqls
  go.mod
  go.sum
  internal/fileutils/fileutils.go
  internal/graph/generated.go
  internal/graph/response.go
  internal/locale/locales/en-us.yaml
  internal/runners/commit/commit.go
  internal/runners/commit/ingredientcall.go
  internal/runners/commit/ingredientcall_test.go
  internal/runners/publish/publish.go
  pkg/buildscript/buildscript.go
  pkg/buildscript/buildscript_test.go
  pkg/buildscript/marshal.go
  pkg/buildscript/marshal_buildexpression.go
  pkg/buildscript/mutations.go
  pkg/buildscript/mutations_test.go
  pkg/buildscript/queries.go
  pkg/buildscript/queries_test.go
  pkg/buildscript/raw.go
  pkg/buildscript/raw_test.go
  pkg/buildscript/unmarshal_buildexpression.go
  pkg/buildscript/unmarshal_buildexpression_test.go
  pkg/platform/api/graphql/model/publish.go
  pkg/platform/api/graphql/request/publish.go
  pkg/platform/api/svc/request/hashglobs.go
  pkg/platform/model/buildplanner/build.go
  pkg/platform/model/buildplanner/buildengine.go
  pkg/platform/model/buildplanner/buildscript.go
  pkg/platform/model/buildplanner/commit.go
  pkg/platform/model/buildplanner/project.go
  pkg/platform/model/buildplanner/publish.go
  pkg/platform/model/svc.go
  pkg/platform/model/vcs.go
  scripts/git-hooks/buildscript-commit
  scripts/to-buildexpression/main.go
  scripts/to-buildscript/main.go
  test/integration/publish_int_test.go
  vendor/github.com/brunoga/deep/LICENSE
  vendor/github.com/brunoga/deep/README.md
  vendor/github.com/brunoga/deep/deep.go
  vendor/github.com/brunoga/deep/disable_ro.go
  vendor/modules.txt
Labels: test: buildscripts

#3535 Version 0.46.0-RC2
  internal/runbits/dependencies/changesummary.go
  internal/runners/export/buildplan.go
  test/integration/export_int_test.go
  version.txt
Labels: Test: all

#3543 Check process in use
  internal/locale/locales/en-us.yaml
  internal/runners/clean/cache.go
  internal/runners/clean/uninstall.go
Labels: Test: uninstall

#3544 Build scripts can distinguish between solve nodes for different targets.
  pkg/buildscript/queries.go
  pkg/buildscript/unmarshal.go
  pkg/buildscript/unmarshal_buildexpression.go
Labels: Test: artifacts, test: buildscripts

#3545 Add separate checkout info block to buildscripts.
  internal/captain/rationalize.go
  internal/locale/locales/en-us.yaml
  internal/migrator/migrator.go
  internal/runbits/buildscript/buildscript_test.go
  internal/runbits/buildscript/file.go
  internal/runbits/buildscript/testdata/buildscript1.as
  internal/runbits/buildscript/testdata/buildscript2.as
  internal/runbits/checkout/checkout.go
  internal/runbits/commits_runbit/time.go
  internal/runners/initialize/init.go
  internal/runners/reset/reset.go
  pkg/buildscript/buildscript.go
  pkg/buildscript/buildscript_test.go
  pkg/buildscript/marshal.go
  pkg/buildscript/marshal_buildexpression.go
  pkg/buildscript/merge.go
  pkg/buildscript/merge_test.go
  pkg/buildscript/mutations.go
  pkg/buildscript/queries.go
  pkg/buildscript/raw.go
  pkg/buildscript/raw_test.go
  pkg/buildscript/unmarshal.go
  pkg/buildscript/unmarshal_buildexpression.go
  scripts/to-buildscript/main.go
  test/integration/manifest_int_test.go
Labels: test: buildscripts

#3548 Fix path ordering
  internal/runners/exec/exec.go
  pkg/runtime/internal/envdef/collection.go
  test/integration/exec_int_test.go
Labels: Test: exec

#3546 Version 0.46.0-RC3
  internal/runners/exec/exec.go
  pkg/runtime/internal/envdef/collection.go
  test/integration/exec_int_test.go
  version.txt
Labels: Test: all

#3550 Fixed failing integration test.
  test/integration/manifest_int_test.go
Labels: Test: manifest

#3549 Fix change summary integration test
  test/integration/package_int_test.go
Labels: Test: package

#3551 Ensure remote installer can run within restricted powershells.
  activestate.yaml
  test/integration/remote_installer_int_test.go
Labels: Test: remote-installer

#3553 Runtime envdef handles case-insensitive environment variable names on Windows.
  internal/runners/exec/exec.go
  pkg/runtime/internal/envdef/collection.go
  pkg/runtime/internal/envdef/environment.go
  pkg/runtime/internal/envdef/environment_test.go
  test/integration/exec_int_test.go
Labels: Test: exec

#3555 Re-enable CheckoutFromArchive test.
  test/integration/checkout_int_test.go
  test/integration/testdata/checkout-from-archive/darwin.tar.gz
  test/integration/testdata/checkout-from-archive/darwin/4cfa45d0-ec48-524f-9f46-90c60bfb51ac.tar.gz
  test/integration/testdata/checkout-from-archive/darwin/bd3cdcd1-7b6c-5e5e-b144-6fa17dc28120.tar.gz
  test/integration/testdata/checkout-from-archive/darwin/buildexpression.json
  test/integration/testdata/checkout-from-archive/darwin/buildplan.json
  test/integration/testdata/checkout-from-archive/darwin/dc78166b-9088-5f4b-9ea2-637feba4f51b.tar.gz
  test/integration/testdata/checkout-from-archive/darwin/installer_config.json
  test/integration/testdata/checkout-from-archive/linux.tar.gz
  test/integration/testdata/checkout-from-archive/linux/59ea89fb-1b02-5798-b925-00b6a6297fa7.tar.gz
  test/integration/testdata/checkout-from-archive/linux/96e76974-81c5-5816-bff0-bd91840cf89c.tar.gz
  test/integration/testdata/checkout-from-archive/linux/buildexpression.json
  test/integration/testdata/checkout-from-archive/linux/buildplan.json
  test/integration/testdata/checkout-from-archive/linux/cd77e611-f70b-5aea-a2bb-35a2a21a612f.tar.gz
  test/integration/testdata/checkout-from-archive/linux/installer_config.json
  test/integration/testdata/checkout-from-archive/windows.tar.gz
  test/integration/testdata/checkout-from-archive/windows/242604ea-36aa-5ec4-a0c3-ee160b443ed8.tar.gz
  test/integration/testdata/checkout-from-archive/windows/24a59f2c-c3ec-5586-b389-07149b46ac90.tar.gz
  test/integration/testdata/checkout-from-archive/windows/2a2631ef-bcc2-5241-87e0-cbf9ee489bb9.tar.gz
  test/integration/testdata/checkout-from-archive/windows/buildexpression.json
  test/integration/testdata/checkout-from-archive/windows/buildplan.json
  test/integration/testdata/checkout-from-archive/windows/installer_config.json
Labels: Test: checkout

#3556 Use fixed timestamp when asserting package versions.
  test/integration/package_int_test.go
Labels: Test: package

#3557 Only assert one of each platform, as the number can change over time.
  test/integration/platforms_int_test.go
Labels: Test: platforms

#3558 Added runtime sourcing timeout opt to fix occasionally failing test.
  cmd/state-installer/test/integration/installer_int_test.go
Labels: Test: installer

#3559 Use runtime sourcing timeout opt to fix failing test.
  test/integration/activate_int_test.go
Labels: Test: activate

#3552 Fix merge integration test
  internal/runners/install/install.go
  internal/runners/platforms/add.go
  internal/runners/upgrade/upgrade.go
  pkg/buildscript/buildscript.go
  pkg/buildscript/buildscript_test.go
  pkg/buildscript/merge.go
  pkg/buildscript/testdata/buildexpression-roundtrip-legacy.json
  pkg/buildscript/unmarshal_buildexpression.go
  pkg/platform/model/buildplanner/build.go
  pkg/platform/model/buildplanner/buildscript.go
  pkg/platform/model/buildplanner/commit.go
  scripts/to-buildscript/main.go
Labels: test: buildscripts

#3563 Log %PATH% that did not contain powershell to aid in diagnosing rollbar issue.
  internal/osutils/shortcut/shortcut_windows.go
Labels: Test: prepare

#3562 Fixed incorrect commit message operations.
  internal/runners/platforms/remove.go
  internal/runners/uninstall/uninstall.go
Labels: Test: package

#3571 `state refresh` should not error if the runtime is up to date.
  internal/runners/refresh/refresh.go
  test/integration/refresh_int_test.go
Labels: Test: refresh

#3567 Re-enable test.
  internal/osutils/autostart/autostart_darwin.go
  test/integration/prepare_int_test.go
Labels: Test: prepare

#3572 Walk process tree to find cmd
  installers/install.ps1
Labels: Test: install-scripts

#3568 Do not log JSON output pipe errors to rollbar.
  internal/output/json.go
Labels: Test: json
