Repository ActiveState/cli, pull requests merged in 2024-01, with the labels that each got.

#2980 Ensure log file handle is closed on exit.
  internal/logging/file.go
Labels: Test: critical

#2983 Delete failed checkouts due to libc errors.
  internal/runners/checkout/checkout.go
Labels: Test: checkout

#2979 Use "channel" instead of "branch" when referring to State Tool versions.
  cmd/state-installer/cmd.go
  cmd/state-installer/installer.go
  cmd/state-remote-installer/main.go
  cmd/state-svc/internal/messages/messages.go
  cmd/state-svc/internal/resolver/resolver.go
  cmd/state-svc/internal/server/generated/generated.go
  cmd/state-svc/main.go
  cmd/state-svc/schema/schema.graphqls
  cmd/state/autoupdate.go
  cmd/state/main.go
  internal/analytics/client/sync/client.go
  internal/analytics/client/sync/reporters/ga-state.go
  internal/analytics/dimensions/dimensions.go
  internal/analytics/dimensions/dimensions_test.go
  internal/condition/condition.go
  internal/constants/constants.go
  internal/constants/preprocess/preprocess.go
  internal/graph/generated.go
  internal/installation/paths.go
  internal/installation/paths_darwin.go
  internal/installation/paths_linux.go
  internal/installation/paths_windows.go
  internal/installation/storage/storage.go
  internal/installation/versiondata.go
  internal/locale/locales/en-us.yaml
  internal/rollbar/rollbar.go
  internal/runbits/checker/checker.go
  internal/runners/state/state.go
  internal/runners/update/lock.go
  internal/runners/update/update.go
  internal/svcctl/svcctl.go
  internal/testhelpers/e2e/session.go
  internal/testhelpers/installation/fakeversioncmd/main.go
  internal/updater/updater.go
  pkg/platform/api/svc/request/version.go
  pkg/project/project.go
  pkg/projectfile/projectfile.go
  scripts/ci/deploy-generator/remote-installer/main.go
  scripts/ci/payload-generator/main.go
  scripts/ci/update-generator/main.go
  scripts/ci/update-version-list/main.go
  scripts/internal/workflow-helpers/github.go
  test/integration/activate_int_test.go
  test/integration/install_scripts_int_test.go
  test/integration/performance_svc_int_test.go
  test/integration/remote_installer_int_test.go
  test/integration/uninstall_int_test.go
  test/integration/update_int_test.go
  test/integration/update_lock_int_test.go
  test/integration/upgen_int_test.go
Labels: Test: activate

#2985 Quote missing branch label.
  pkg/platform/model/projects.go
  test/integration/checkout_int_test.go
Labels: Test: checkout

#2941 Sandbox test environment
  internal/constants/constants.go
  internal/osutils/exeutils.go
  internal/osutils/osutils_windows.go
  internal/testhelpers/e2e/dirs.go
  internal/testhelpers/e2e/env.go
  internal/testhelpers/e2e/env_unix.go
  internal/testhelpers/e2e/env_windows.go
  internal/testhelpers/e2e/session.go
  test/integration/activate_int_test.go
  test/integration/install_scripts_int_test.go
  test/integration/shells_int_test.go
  test/integration/uninstall_int_test.go
Labels: Test: install-scripts, Test: critical

#2989 Propagate extra test session environment variables.
  internal/testhelpers/e2e/session.go
Labels: Test: prepare

#2991 The CI environment sandbox needs to pass through `ACTIVESTATE_CI`.
  internal/testhelpers/e2e/env.go
Labels: Test: analytics

#2993 Fix failing integration tests
  internal/constants/constants.go
  internal/testhelpers/e2e/env.go
  pkg/project/events.go
  test/integration/install_scripts_int_test.go
  test/integration/run_int_test.go
  test/integration/shell_int_test.go
Labels: Test: run, Test: activate, Test: shell

#3005 Revert sandboxing
  internal/constants/constants.go
  internal/osutils/exeutils.go
  internal/osutils/osutils_windows.go
  internal/testhelpers/e2e/dirs.go
  internal/testhelpers/e2e/env.go
  internal/testhelpers/e2e/env_unix.go
  internal/testhelpers/e2e/env_windows.go
  internal/testhelpers/e2e/session.go
  pkg/project/events.go
  test/integration/activate_int_test.go
  test/integration/install_scripts_int_test.go
  test/integration/run_int_test.go
  test/integration/shell_int_test.go
  test/integration/shells_int_test.go
  test/integration/uninstall_int_test.go
Labels: Test: all

#3007 Merge `state security report` into `state security`.
  cmd/state/internal/cmdtree/cve.go
  internal/locale/locales/en-us.yaml
  internal/runners/cve/cve.go
  internal/runners/cve/report.go
  test/integration/cve_int_test.go
Labels: Test: cve

#3008 Added revision information to commit history.
  internal/runbits/commit/commit.go
  test/integration/history_int_test.go
Labels: Test: history

#3009 Added new analytic for resolving merge conflicts on pull.
  internal/analytics/constants/constants.go
  internal/runners/pull/pull.go
  test/integration/pull_int_test.go
Labels: Test: pull

#3012 Skip failing test.
  test/integration/import_int_test.go
Labels: Test: import

#3006 Reimplement integration test sandboxing
  internal/constants/constants.go
  internal/osutils/exeutils.go
  internal/osutils/osutils_windows.go
  internal/osutils/shortcut/shortcut_windows.go
  internal/testhelpers/e2e/dirs.go
  internal/testhelpers/e2e/env.go
  internal/testhelpers/e2e/env_unix.go
  internal/testhelpers/e2e/env_windows.go
  internal/testhelpers/e2e/session.go
  pkg/project/events.go
  test/integration/activate_int_test.go
  test/integration/analytics_int_test.go
  test/integration/condition_int_test.go
  test/integration/events_int_test.go
  test/integration/install_scripts_int_test.go
  test/integration/run_int_test.go
  test/integration/shell_int_test.go
  test/integration/shells_int_test.go
  test/integration/uninstall_int_test.go
Labels: Test: all

#3019 Use config for glibc version
  cmd/state/internal/cmdtree/checkout.go
  internal/constants/constants.go
  internal/runbits/refresh.go
  internal/runbits/requirements/requirements.go
  internal/runbits/runtime/runtime.go
  internal/runners/activate/activate.go
  internal/runners/checkout/checkout.go
  internal/runners/commit/commit.go
  internal/runners/deploy/deploy.go
  internal/runners/exec/exec.go
  internal/runners/export/env.go
  internal/runners/export/recipe.go
  internal/runners/initialize/init.go
  internal/runners/packages/import.go
  internal/runners/prepare/prepare.go
  internal/runners/pull/pull.go
  internal/runners/refresh/refresh.go
  internal/runners/reset/reset.go
  internal/runners/revert/revert.go
  internal/runners/shell/shell.go
  internal/runners/swtch/switch.go
  internal/runners/use/use.go
  internal/scriptrun/scriptrun.go
  pkg/platform/model/inventory.go
  pkg/platform/model/recipe.go
  pkg/platform/runtime/buildplan/buildplan.go
  pkg/platform/runtime/buildplan/changeset.go
  pkg/platform/runtime/runtime.go
  pkg/platform/runtime/setup/setup.go
  pkg/sysinfo/sysinfo.go
Labels: Test: critical

#3022 Update state import to use the buildplanner
  internal/locale/locales/en-us.yaml
  internal/runners/packages/import.go
  internal/testhelpers/e2e/session.go
  test/integration/import_int_test.go
Labels: Test: import

#3028 Fix failing integration test
  test/integration/update_lock_int_test.go
Labels: Test: update

#3025 Cherry pick 1d98d7e and fix conflicts
  internal/locale/locales/en-us.yaml
  internal/runners/packages/import.go
  internal/testhelpers/e2e/session.go
  test/integration/import_int_test.go
  test/integration/package_int_test.go
Labels: Test: import

#3032 Set timestamp to default on import
  internal/runners/packages/import.go
  pkg/platform/runtime/buildexpression/buildexpression.go
Labels: Test: import

#3034 Set default timestamp on package operations
  internal/testhelpers/e2e/session.go
  internal/testhelpers/e2e/session_unix.go
  internal/testhelpers/e2e/session_windows.go
  pkg/platform/model/buildplanner.go
  test/integration/package_int_test.go
Labels: Test: package

#3039 Fix version requirements only having one value
  pkg/platform/runtime/buildexpression/buildexpression.go
Labels: Test: import, Test: critical

#3046 Mark some `state fork` errors as input errors.
  pkg/platform/model/projects.go
Labels: Test: fork

#3038 Skip test that builds a language on macOS.
  test/integration/init_int_test.go
Labels: Test: init

#3058 Fix commits failing
  pkg/platform/api/buildplanner/request/stagecommit.go
Labels: Test: install

#3051 Update `state info` output
  cmd/state/internal/cmdtree/packages.go
  internal/colorize/colorize.go
  internal/output/colorstyle/ansi.go
  internal/output/colorstyle/colorstyle.go
  internal/output/plain.go
  internal/runners/packages/info.go
  pkg/platform/api/vulnerabilities/model/vulnerabilities.go
  pkg/platform/model/vulnerabilities.go
  test/integration/info_int_test.go
Labels: Test: info

#3057 Added top-level user-facing error rationalizer to captain package.
  internal/captain/command.go
  internal/captain/rationalize.go
  internal/runbits/requirements/rationalize.go
  internal/runners/refresh/refresh.go
Labels: Test: refresh

#3059 Fix failing info integration test
  test/integration/package_int_test.go
Labels: Test: package, Test: info

#3060 CVE Information for `state install`
  internal/constants/constants.go
  internal/locale/locales/en-us.yaml
  internal/runbits/requirements/requirements.go
  internal/testhelpers/e2e/session.go
  pkg/platform/model/vulnerabilities.go
  test/integration/package_int_test.go
Labels: Test: package, Test: critical

#3063 Attempt to determine version from filename to publish.
  internal/runners/publish/publish.go
Labels: Test: publish

#3061 Use '.as' extension for buildscripts.
  internal/constants/constants.go
  internal/runbits/buildscript/buildscript_test.go
  internal/runbits/buildscript/testdata/buildscript1.as
  internal/runbits/buildscript/testdata/buildscript2.as
Labels: Test: pull, Test: commit

#3066 Implement new migration flow for local orders
  internal/constraints/constraints.go
  internal/locale/locales/en-us.yaml
  internal/runbits/commitmediator/commitmediator.go
  internal/runbits/legacy/projectmigration/migrate.mac.bash
  internal/runbits/legacy/projectmigration/migrate.nix.bash
  internal/runbits/legacy/projectmigration/migrate.win.ps
  internal/runbits/legacy/projectmigration/projectmigration.go
  internal/testhelpers/tagsuite/tagsuite.go
  pkg/project/project.go
  pkg/projectfile/projectfield.go
  pkg/projectfile/projectfile.go
  test/integration/project_migration_int_test.go
  test/integration/push_int_test.go
  test/integration/switch_int_test.go
Labels: Test: critical

#3062 Implement 'state builds'
  cmd/state/internal/cmdtree/builds.go
  cmd/state/internal/cmdtree/cmdtree.go
  cmd/state/internal/cmdtree/hello_example.go
  internal/locale/locales/en-us.yaml
  internal/runners/builds/builds.go
  internal/runners/hello/hello_example.go
  internal/testhelpers/tagsuite/tagsuite.go
  pkg/platform/model/inventory.go
  pkg/platform/runtime/artifact/artifact.go
  pkg/platform/runtime/buildplan/buildplan.go
  pkg/platform/runtime/buildplan/buildplan_test.go
  pkg/platform/runtime/buildplan/dependencies.go
  pkg/platform/runtime/runtime.go
  pkg/platform/runtime/target/target.go
  test/integration/builds_int_test.go
Labels: Test: refresh, Test: builds
