Repository ActiveState/cli, pull requests merged in 2024-05, with the labels that each got.

#3278 Defined the color Orange for Windows console output.
  internal/output/colorstyle/console_windows.go
Labels: Test: cve

#3265 Async runtime sourcing
  internal/constants/constants.go
  internal/locale/locales/en-us.yaml
  internal/runbits/requirements/requirements.go
  internal/runbits/runtime/refresh.go
  internal/runners/checkout/checkout.go
  internal/runners/config/key.go
  internal/runners/config/key_test.go
  internal/runners/languages/languages.go
  internal/runners/packages/list.go
Labels: Test: critical

#3281 Fix failing integration tests
  internal/runbits/requirements/requirements.go
  internal/runbits/runtime/refresh.go
Labels: Test: package, Test: languages, Test: bundle, Test: critical

#3282 Fixed local changes not being preferred when resolving merge conflict.
  internal/runners/pull/pull.go
  test/integration/pull_int_test.go
Labels: Test: pull

#3280 Add ExternalErrors error type
  cmd/state-installer/installer.go
  cmd/state-remote-installer/main.go
  cmd/state-svc/main.go
  cmd/state-svc/service.go
  cmd/state/autoupdate.go
  internal/errs/errs.go
  internal/fileevents/watcher/watcher.go
  internal/installmgr/stop.go
  internal/keypairs/fetchers.go
  internal/locale/errors.go
  internal/poller/poller.go
  internal/prompt/prompt.go
  internal/retryhttp/client.go
  internal/runbits/errors/errors.go
  internal/runbits/invoke.go
  internal/runbits/requirements/requirements.go
  internal/runners/artifacts/artifacts.go
  internal/runners/clean/run.go
  internal/runners/clean/run_lin_mac.go
  internal/runners/cve/cve.go
  internal/runners/deploy/deploy.go
  internal/runners/deploy/link_lin_mac.go
  internal/runners/deploy/uninstall/uninstall.go
  internal/runners/initialize/init.go
  internal/runners/invite/org.go
  internal/runners/packages/import.go
  internal/runners/packages/info.go
  internal/runners/packages/list.go
  internal/runners/platforms/platforms.go
  internal/runners/prepare/prepare.go
  internal/runners/protocol/protocol.go
  internal/runners/publish/publish.go
  internal/runners/reset/reset.go
  internal/runners/scripts/edit.go
  internal/runners/shell/shell.go
  internal/runners/tutorial/tutorial.go
  internal/runners/update/lock.go
  internal/runners/update/update.go
  internal/subshell/sscommon/sscommon.go
  internal/updater/fetcher.go
  pkg/platform/api/buildplanner/model/buildplan.go
  pkg/platform/api/graphql/request/publish.go
  pkg/platform/api/secrets/secrets.go
  pkg/platform/authentication/auth.go
  pkg/platform/errors.go
  pkg/platform/model/auth/auth.go
  pkg/platform/model/buildplanner.go
  pkg/platform/model/checkpoints.go
  pkg/platform/model/inventory.go
  pkg/platform/model/organizations.go
  pkg/platform/model/projects.go
  pkg/platform/model/vcs.go
  pkg/platform/runtime/buildscript/buildscript.go
  pkg/platform/runtime/setup/setup.go
  pkg/project/expander.go
  pkg/projectfile/projectfile.go
Labels: Test: critical

#3284 State publish respects `EDITOR` environment variable
  activestate.yaml
  internal/osutils/openeditor.go
  internal/osutils/openeditor_test.go
  internal/runners/publish/publish.go
  internal/runners/scripts/edit.go
  internal/runners/scripts/edit_test.go
Labels: Test: edit

#3289 Fix state-svc debug info error
  internal/locale/locales/en-us.yaml
  internal/svcctl/debugdata.go
  internal/svcctl/svcctl.go
Labels: Test: critical

#3186 Remove unused function
  internal/runbits/buildscript/buildscript.go
  version.txt
Labels: Test: pull

#3290 Enable `state publish` integration tests.
  test/integration/publish_int_test.go
Labels: Test: publish

#3292 Fix installs not overriding previous installs
  internal/fileutils/fileutils.go
Labels: Test: install-scripts, Test: installer

#3299 Initial support for language-less Platform projects.
  internal/locale/locales/en-us.yaml
  internal/runbits/requirements/rationalize.go
  internal/runbits/requirements/requirements.go
  internal/runners/languages/languages.go
  internal/runners/packages/list.go
  internal/runners/packages/search.go
  internal/runners/push/push.go
  pkg/platform/model/inventory.go
  pkg/platform/model/projects.go
  test/integration/checkout_int_test.go
Labels: Test: init, Test: checkout

#3301 Add TargetNotFound Error Type
  pkg/platform/api/buildplanner/request/commit.go
  pkg/platform/api/buildplanner/response/commit.go
  pkg/platform/api/buildplanner/response/shared.go
  pkg/platform/api/buildplanner/types/errors.go
Labels: Test: critical

#3305 Revert allowing a "reconfigure" installation.
  cmd/state-installer/cmd.go
  cmd/state-installer/installer.go
Labels: Test: update, Test: installer

#3296 Buildscripts refactor
  activestate.yaml
  internal/condition/condition.go
  internal/constants/constants.go
  internal/migrator/migrator.go
  internal/runbits/buildscript/buildscript.go
  internal/runbits/buildscript/buildscript_test.go
  internal/runbits/buildscript/file.go
  internal/runbits/checkout/checkout.go
  internal/runbits/requirements/requirements.go
  internal/runners/commit/commit.go
  internal/runners/initialize/init.go
  internal/runners/manifest/manifest.go
  internal/runners/packages/import.go
  internal/runners/packages/rationalize.go
  internal/runners/pull/pull.go
  internal/runners/push/push.go
  internal/runners/reset/reset.go
  internal/runners/revert/revert.go
  internal/testhelpers/e2e/session.go
  pkg/buildscript/buildscript.go
  pkg/buildscript/buildscript_test.go
  pkg/buildscript/internal/buildexpression/buildexpression.go
  pkg/buildscript/internal/buildexpression/buildexpression_test.go
  pkg/buildscript/internal/buildexpression/merge.go
  pkg/buildscript/internal/buildexpression/merge_test.go
  pkg/buildscript/internal/buildexpression/testdata/buildexpression-alternate.json
  pkg/buildscript/internal/buildexpression/testdata/buildexpression-complex.json
  pkg/buildscript/internal/buildexpression/testdata/buildexpression-installer-complex.json
  pkg/buildscript/internal/buildexpression/testdata/buildexpression-installer.json
  pkg/buildscript/internal/buildexpression/testdata/buildexpression-nested.json
  pkg/buildscript/internal/buildexpression/testdata/buildexpression-unordered.json
  pkg/buildscript/internal/buildexpression/testdata/buildexpression.json
  pkg/buildscript/internal/raw/interpretation.go
  pkg/buildscript/internal/raw/marshal.go
  pkg/buildscript/internal/raw/raw_test.go
  pkg/buildscript/internal/raw/structure.go
  pkg/buildscript/internal/raw/transforms.go
  pkg/buildscript/internal/raw/translate.go
  pkg/buildscript/shared_test.go
  pkg/platform/api/buildplanner/request/createproject.go
  pkg/platform/api/buildplanner/request/stagecommit.go
  pkg/platform/model/buildplanner/build.go
  pkg/platform/model/buildplanner/buildexpression.go
  pkg/platform/model/buildplanner/buildplanner.go
  pkg/platform/model/buildplanner/buildscript.go
  pkg/platform/model/buildplanner/commit.go
  pkg/platform/model/buildplanner/project.go
  pkg/platform/runtime/buildexpression/merge/merge_test.go
  pkg/platform/runtime/runtime.go
  pkg/platform/runtime/setup/setup.go
  pkg/platform/runtime/store/store.go
  scripts/to-buildexpression/main.go
  scripts/to-buildscript/main.go
  test/integration/commit_int_test.go
  test/integration/pull_int_test.go
Labels: Test: all

#3302 Version 0.44.0-RC4
  cmd/state-installer/cmd.go
  cmd/state-installer/installer.go
  version.txt
Labels: Test: all

#3310 Increase terminal history size for all artifacts test.
  test/integration/artifacts_int_test.go
Labels: Test: artifacts

#3311 Fixed integration test expectations.
  test/integration/progress_int_test.go
  test/integration/use_int_test.go
Labels: Test: use, Test: progress

#3313 Added new `state export runtime` command.
  cmd/state/internal/cmdtree/cmdtree.go
  cmd/state/internal/cmdtree/export.go
  internal/assets/contents/list_map.tpl
  internal/locale/locales/en-us.yaml
  internal/runners/export/rationalize.go
  internal/runners/export/runtime.go
  pkg/platform/runtime/target/target.go
  test/integration/export_int_test.go
Labels: Test: export

#3309 Test output expectations should fail if the process has prematurely exited.
  go.mod
  go.sum
  vendor/github.com/ActiveState/termtest/expect.go
  vendor/github.com/ActiveState/termtest/helpers.go
  vendor/github.com/ActiveState/termtest/outputconsumer.go
  vendor/github.com/ActiveState/termtest/outputproducer.go
  vendor/github.com/ActiveState/termtest/termtest.go
  vendor/modules.txt
Labels: Test: critical

#3319 Fix merge conflict from v44-RC5 to v45-RC1.
  internal/runners/pull/pull.go
  internal/runners/pull/rationalize.go
  test/integration/pull_int_test.go
Labels: Test: pull

#3314 Use PowerShell for shortcuts
  cmd/state-installer/test/integration/installer_int_test.go
  internal/assets/contents/scripts/createShortcut.ps1
  internal/osutils/autostart/autostart_windows.go
  internal/osutils/shortcut/shortcut_windows.go
  test/integration/install_scripts_int_test.go
Labels: Test: install-scripts, Test: installer

#3297 Audit integration tests
  internal/testhelpers/e2e/session.go
  test/integration/activate_int_test.go
  test/integration/analytics_int_test.go
  test/integration/auth_int_test.go
  test/integration/branch_int_test.go
  test/integration/checkout_int_test.go
  test/integration/condition_int_test.go
  test/integration/cve_int_test.go
  test/integration/deploy_int_test.go
  test/integration/export_int_test.go
  test/integration/manifest_int_test.go
  test/integration/migrator_int_test.go
  test/integration/run_int_test.go
  test/integration/shell_int_test.go
  test/integration/use_int_test.go
Labels: Test: all

#3328 Fix `state reset LOCAL` buildscript failure
  pkg/platform/runtime/runtime.go
Labels: test: buildscripts

#3330 Do not report silent installer errors to Rollbar.
  cmd/state-remote-installer/main.go
  cmd/state/main.go
  internal/runbits/errors/errors.go
Labels: Test: installer

#3331 Test in-progress builds.
  internal/testhelpers/e2e/session_unix.go
  internal/testhelpers/e2e/session_windows.go
  internal/testhelpers/tagsuite/tagsuite.go
  test/integration/runtime_int_test.go
  test/integration/testdata/hello-world-1.0.0.tar.gz
Labels: Test: buildinprogress

#3335 Notify the user when the remote installer is running the downloaded installer.
  cmd/state-remote-installer/main.go
  test/integration/remote_installer_int_test.go
Labels: Test: remote-installer
