Repository ActiveState/cli, pull requests merged in 2024-06, with the labels that each got.

#3333 Surface activestate.yaml conditional errors as user input errors.
  internal/captain/command.go
  internal/constraints/constraints.go
  internal/events/cmdcall/cmdcall.go
  internal/runners/export/ghactions/ghactions.go
  internal/runners/run/run.go
  internal/runners/scripts/edit.go
  internal/runners/scripts/edit_test.go
  internal/runners/scripts/scripts.go
  internal/scriptrun/test/integration/scriptrun_test.go
  internal/subshell/sscommon/rcfile.go
  pkg/project/expander.go
  pkg/project/expander_test.go
  pkg/project/project.go
  pkg/project/project_test.go
  test/integration/edit_int_test.go
Labels: Test: scripts

#3329 Change error message when trying to make a commit with no buildscript changes.
  internal/runners/commit/commit.go
  test/integration/commit_int_test.go
Labels: Test: commit

#3343 Do not show `state commit` progressbar until we are sure there is something to commit.
  internal/runners/commit/commit.go
Labels: Test: commit

#3346 Verify a given commitIDs existence in the given project for `state artifacts`.
  internal/runners/artifacts/artifacts.go
  internal/runners/artifacts/rationalize.go
  pkg/platform/model/vcs.go
Labels: Test: artifacts

#3353 Fixed `state import` for projects with complex language version constraints.
  internal/locale/locales/en-us.yaml
  internal/runners/packages/import.go
  pkg/platform/model/checkpoints.go
  pkg/platform/model/inventory.go
Labels: Test: import

#3355 Fixed in-progress build detection.
  pkg/platform/runtime/setup/setup.go
Labels: Test: buildinprogress

#3356 State Tool does not call login API each invocation; uses JWT from svc
  cmd/state-svc/internal/resolver/resolver.go
  cmd/state-svc/internal/server/generated/generated.go
  cmd/state-svc/schema/schema.graphqls
  cmd/state/main.go
  go.mod
  go.sum
  internal/graph/generated.go
  internal/graph/response.go
  internal/locale/locales/en-us.yaml
  internal/testhelpers/e2e/session.go
  pkg/platform/api/svc/request/jwt.go
  pkg/platform/authentication/auth.go
  pkg/platform/authentication/auth_test.go
  pkg/platform/model/svc.go
  test/integration/progress_int_test.go
  vendor/golang.org/x/crypto/ssh/terminal/terminal.go
  vendor/modules.txt
Labels: Test: scripts, Test: auth, Test: critical, Test: secrets

#3359 JWT is received via state-svc - fix session reset
  pkg/platform/authentication/auth.go
Labels: Test: auth

#3358 Centralize condition for auto update checking.
  cmd/state/autoupdate.go
  cmd/state/main.go
  internal/analytics/constants/constants.go
  internal/captain/command.go
  internal/runbits/errors/errors.go
Labels: Test: update

#3320 Version 0.44.1-RC1
  activestate.yaml
  changelog.md
  cmd/state-svc/internal/resolver/resolver.go
  cmd/state-svc/internal/server/generated/generated.go
  cmd/state-svc/schema/schema.graphqls
  cmd/state/main.go
  go.mod
  go.sum
  internal/graph/generated.go
  internal/graph/response.go
  internal/locale/locales/en-us.yaml
  internal/runners/eval/rationalize.go
  internal/testhelpers/e2e/session.go
  pkg/platform/api/buildplanner/model/buildplan.go
  pkg/platform/api/buildplanner/request/evaluate.go
  pkg/platform/api/svc/request/jwt.go
  pkg/platform/authentication/auth.go
  pkg/platform/authentication/auth_test.go
  pkg/platform/model/buildplanner.go
  pkg/platform/model/svc.go
  test/integration/progress_int_test.go
  vendor/golang.org/x/crypto/ssh/terminal/terminal.go
  vendor/modules.txt
  version.txt
Labels: Test: all

#3370 Fix auth error interrupts user
  cmd/state/main.go
  pkg/platform/authentication/auth.go
Labels: Test: auth

#3361 Show dependency summary on `state commit`.
  internal/runners/commit/commit.go
  test/integration/commit_int_test.go
Labels: Test: commit

#3375 Logout if JWT request failed
  cmd/state/main.go
  pkg/platform/model/svc.go
Labels: Test: auth

#3367 Refactor integration tests to use empty project by default.
  .github/workflows/build.yml
  internal/testhelpers/e2e/env.go
  internal/testhelpers/e2e/session.go
  pkg/platform/runtime/setup/setup.go
  pkg/platform/runtime/store/store.go
  test/integration/activate_int_test.go
  test/integration/analytics_int_test.go
  test/integration/api_int_test.go
  test/integration/artifacts_int_test.go
  test/integration/auth_int_test.go
  test/integration/branch_int_test.go
  test/integration/buildscript_int_test.go
  test/integration/bundle_int_test.go
  test/integration/checkout_int_test.go
  test/integration/commit_int_test.go
  test/integration/condition_int_test.go
  test/integration/cve_int_test.go
  test/integration/deploy_int_test.go
  test/integration/events_int_test.go
  test/integration/exec_int_test.go
  test/integration/executor_int_test.go
  test/integration/export_int_test.go
  test/integration/fork_int_test.go
  test/integration/hello_int_example_test.go
  test/integration/history_int_test.go
  test/integration/import_int_test.go
  test/integration/info_int_test.go
  test/integration/init_int_test.go
  test/integration/install_int_test.go
  test/integration/invite_int_test.go
  test/integration/languages_int_test.go
  test/integration/manifest_int_test.go
  test/integration/migrator_int_test.go
  test/integration/msg_int_test.go
  test/integration/package_int_test.go
  test/integration/pjfile_int_test.go
  test/integration/platforms_int_test.go
  test/integration/prepare_int_test.go
  test/integration/progress_int_test.go
  test/integration/projects_int_test.go
  test/integration/pull_int_test.go
  test/integration/push_int_test.go
  test/integration/refresh_int_test.go
  test/integration/reset_int_test.go
  test/integration/revert_int_test.go
  test/integration/run_int_test.go
  test/integration/runtime_int_test.go
  test/integration/scripts_int_test.go
  test/integration/shell_int_test.go
  test/integration/shells_int_test.go
  test/integration/show_int_test.go
  test/integration/switch_int_test.go
  test/integration/update_lock_int_test.go
  test/integration/use_int_test.go
Labels: Test: commit

#3369 Version 0.44.1-RC2
  cmd/state/main.go
  pkg/platform/authentication/auth.go
  pkg/platform/model/svc.go
  version.txt
Labels: Test: all

#3372 Fixed `state manifest` to show resolved versions for non-auto packages.
  internal/runners/manifest/version.go
Labels: Test: manifest

#3377 Support new `Req()` function in buildexpression requirements.
  pkg/buildscript/internal/buildexpression/buildexpression_test.go
  pkg/buildscript/internal/buildexpression/testdata/buildexpression-new-objects.json
  pkg/buildscript/internal/raw/marshal.go
  pkg/buildscript/internal/raw/transforms.go
Labels: test: buildscripts

#3357 Update build expression to use state tool artifacts v1
  pkg/buildscript/internal/buildexpression/buildexpression.go
  test/integration/init_int_test.go
Labels: Test: init
