Repository ActiveState/cli, pull requests merged in 2024-08, with the labels that each got.

#3431 Do not assume there is a local history when checking if a commit is within project history.
  internal/runbits/buildplanner/buildplanner.go
  pkg/platform/model/vcs.go
Labels: Test: artifacts

#3435 Fixed failing integration test.
  test/integration/run_int_test.go
Labels: Test: run

#3439 Remove Windows shortcuts during uninstall.
  internal/osutils/autostart/autostart_windows.go
  internal/runners/prepare/prepare.go
  internal/runners/prepare/prepare_darwin.go
  internal/runners/prepare/prepare_linux.go
  internal/runners/prepare/prepare_windows.go
  test/integration/prepare_int_test.go
  test/integration/uninstall_int_test.go
Labels: Test: prepare, Test: uninstall

#3420 StateCommit returns a build
  internal/runbits/runtime/requirements/requirements.go
  internal/runners/commit/commit.go
  internal/runners/packages/import.go
  internal/runners/revert/revert.go
  pkg/platform/api/buildplanner/request/stagecommit.go
  pkg/platform/model/buildplanner/commit.go
  test/integration/revert_int_test.go
Labels: Test: revert, Test: init, Test: commit, Test: install

#3446 Fix panic in stage commit
  pkg/platform/model/buildplanner/commit.go
Labels: Test: package, Test: bundle, Test: import, Test: init, Test: commit, Test: install

#3451 Review iteration DX-2981
  internal/runners/checkout/checkout.go
  pkg/runtime/setup.go
Labels: Test: checkout

#3452 Fix dependency output on `state init`
  internal/runners/initialize/init.go
  test/integration/init_int_test.go
Labels: Test: init

#3449 Fix SBOM nightly failures
  internal/runners/packages/import.go
  pkg/platform/model/buildplanner/commit.go
Labels: Test: import

#3447 Fix dependency names on `state commit`
  internal/runbits/cves/cves.go
  internal/runbits/runtime/requirements/requirements.go
Labels: Test: package, Test: import, Test: commit, Test: install

#3453 Fixed regression in checking out with a specific commitID.
  internal/runbits/checkout/checkout.go
Labels: Test: pull, Test: interrupt

#3457 Fix manifest CVEs
  internal/runners/manifest/manifest.go
Labels: Test: manifest

#3459 Drop the commit progress spinner, instead everything is handled under "solve"
  internal/output/progress.go
  internal/runbits/runtime/requirements/requirements.go
  internal/runners/packages/import.go
  test/integration/import_int_test.go
Labels: Test: import

#3456 Add cycle support
  pkg/buildplan/artifact.go
  pkg/buildplan/artifact_test.go
  pkg/buildplan/hydrate.go
  pkg/buildplan/ingredient_test.go
  pkg/buildplan/mock_test.go
  pkg/buildplan/raw/mock_test.go
  pkg/buildplan/raw/walk.go
  pkg/buildplan/raw/walk_test.go
Labels: Test: all

#3467 Added `state upgrade`
  cmd/state/internal/cmdtree/cmdtree.go
  cmd/state/internal/cmdtree/upgrade.go
  internal/colorize/colorize.go
  internal/locale/locale.go
  internal/locale/locales/en-us.yaml
  internal/output/presets.go
  internal/runbits/commits_runbit/time.go
  internal/runbits/cves/cves.go
  internal/runbits/dependencies/changesummary.go
  internal/runbits/dependencies/summary.go
  internal/runners/artifacts/artifacts.go
  internal/runners/branch/tree.go
  internal/runners/cve/cve.go
  internal/runners/manifest/requirements.go
  internal/runners/packages/info.go
  internal/runners/packages/install.go
  internal/runners/packages/search.go
  internal/runners/packages/time.go
  internal/runners/packages/uninstall.go
  internal/runners/projects/projects.go
  internal/runners/show/show.go
  internal/runners/upgrade/upgrade.go
  internal/sliceutils/sliceutils.go
  internal/sliceutils/sliceutils_test.go
  internal/testhelpers/tagsuite/tagsuite.go
  pkg/buildplan/artifact.go
  pkg/buildplan/artifact_test.go
  pkg/buildplan/buildplan.go
  pkg/buildscript/buildscript.go
  pkg/platform/model/vcs.go
  pkg/runtime/setup.go
  test/integration/upgrade_int_test.go
Labels: Test: cve, Test: upgrade
