Repository ActiveState/cli, pull requests merged in 2024-04, with the labels that each got.

#3207 Communicate network errors when downloading state tool update.
  internal/locale/locales/en-us.yaml
  internal/retryhttp/client.go
  internal/updater/fetcher.go
Labels: Test: update

#3206 Correctly save to activestate.yaml the branch name for the given commit ID.
  internal/runbits/checkout/checkout.go
  internal/runbits/checkout/rationalize.go
  test/integration/checkout_int_test.go
Labels: Test: checkout

#3208 Use `state revert REMOTE` instead of `state revert HEAD`.
  internal/locale/locales/en-us.yaml
  internal/runners/revert/revert.go
  test/integration/revert_int_test.go
Labels: Test: revert

#3199 Transitioning to buildscript is handled explicitly
  cmd/state/main.go
  go.mod
  go.sum
  internal/assets/contents/activestate.yaml.tpl
  internal/config/instance.go
  internal/locale/locales/en-us.yaml
  internal/migrator/migrator.go
  internal/runbits/buildscript/buildscript.go
  internal/runbits/checkout/checkout.go
  internal/runbits/requirements/requirements.go
  internal/runbits/runtime/rationalize.go
  internal/runbits/runtime/refresh.go
  internal/runbits/runtime/runtime.go
  internal/runbits/runtime/runtimeevents.go
  internal/runners/activate/activate.go
  internal/runners/artifacts/artifacts.go
  internal/runners/checkout/checkout.go
  internal/runners/commit/commit.go
  internal/runners/deploy/deploy.go
  internal/runners/exec/exec.go
  internal/runners/export/env.go
  internal/runners/initialize/init.go
  internal/runners/languages/languages.go
  internal/runners/packages/import.go
  internal/runners/packages/list.go
  internal/runners/pull/pull.go
  internal/runners/refresh/refresh.go
  internal/runners/reset/reset.go
  internal/runners/revert/revert.go
  internal/runners/shell/shell.go
  internal/runners/swtch/switch.go
  internal/runners/use/use.go
  internal/scriptrun/scriptrun.go
  internal/testhelpers/tagsuite/tagsuite.go
  pkg/platform/api/buildplanner/model/buildplan.go
  pkg/platform/api/buildplanner/request/project.go
  pkg/platform/model/buildplanner.go
  pkg/platform/runtime/buildexpression/merge/merge_test.go
  pkg/platform/runtime/buildplan/buildplan.go
  pkg/platform/runtime/buildscript/buildscript.go
  pkg/platform/runtime/buildscript/buildscript_test.go
  pkg/platform/runtime/buildscript/file.go
  pkg/platform/runtime/runtime.go
  pkg/platform/runtime/setup/setup.go
  pkg/platform/runtime/store/store.go
  pkg/projectfile/projectfile.go
  pkg/projectfile/yamlfield.go
  pkg/projectfile/yamlfield_test.go
  test/integration/activate_int_test.go
  test/integration/buildscript_int_test.go
  test/integration/commit_int_test.go
  test/integration/migrator_int_test.go
  test/integration/pull_int_test.go
  test/integration/reset_int_test.go
  test/integration/runtime_int_test.go
  vendor/github.com/imacks/bitflags-go/.gitignore
  vendor/github.com/imacks/bitflags-go/LICENSE
  vendor/github.com/imacks/bitflags-go/README.md
  vendor/github.com/imacks/bitflags-go/bitflags.go
  vendor/modules.txt
Labels: Test: deploy, Test: activate, Test: init, Test: critical, Test: shell, Test: checkout, Test: refresh, Test: install, Test: reset, test: buildscripts

#3209 Enable wildcards for `state languages install`.
  internal/locale/locales/en-us.yaml
  internal/runbits/requirements/requirements.go
  internal/runners/languages/install.go
  internal/runners/languages/install_test.go
  pkg/platform/api/buildplanner/model/buildplan.go
  test/integration/languages_int_test.go
Labels: Test: languages

#3212 Prompt the user if they wish to continue running the installer as administrator.
  cmd/state-installer/cmd.go
  cmd/state-installer/installer.go
  cmd/state-installer/test/integration/installer_int_test.go
  internal/locale/locales/en-us.yaml
Labels: Test: installer

#3215 Install scripts should invoke installer non-interactively.
  test/integration/install_scripts_int_test.go
Labels: Test: install-scripts

#3210 Handle duplicate artifact events at the source
  pkg/platform/runtime/setup/buildlog/buildlog.go
  pkg/platform/runtime/setup/setup.go
Labels: Test: init, Test: checkout, Test: install

#3211 `state install` handles multiple requirements
  cmd/state/internal/cmdtree/bundles.go
  cmd/state/internal/cmdtree/packages.go
  internal/captain/values.go
  internal/locale/locales/en-us.yaml
  internal/runbits/requirements/rationalize.go
  internal/runbits/requirements/requirements.go
  internal/runners/languages/install.go
  internal/runners/packages/install.go
  internal/runners/packages/uninstall.go
  internal/runners/platforms/add.go
  internal/runners/platforms/remove.go
  pkg/platform/model/buildplanner.go
  pkg/platform/model/vulnerabilities.go
  test/integration/package_int_test.go
Labels: Test: package, Test: critical

#3220 Break up buildscript requirement name into separate name and namespace keys.
  internal/runbits/buildscript/buildscript_test.go
  internal/runbits/buildscript/testdata/buildscript1.as
  internal/runbits/buildscript/testdata/buildscript2.as
  pkg/platform/runtime/buildexpression/merge/merge_test.go
  pkg/platform/runtime/buildscript/buildscript.go
  pkg/platform/runtime/buildscript/buildscript_test.go
  pkg/platform/runtime/buildscript/json.go
Labels: Test: pull, test: buildscripts

#3217 Version 0.43.0-RC7
  internal/locale/locales/en-us.yaml
  internal/runbits/buildscript/buildscript_test.go
  internal/runbits/buildscript/testdata/buildscript1.as
  internal/runbits/buildscript/testdata/buildscript2.as
  internal/runners/artifacts/artifacts.go
  internal/runners/artifacts/download.go
  internal/runners/packages/uninstall.go
  internal/runners/publish/publish.go
  pkg/platform/api/buildplanner/model/buildplan.go
  pkg/platform/model/buildplanner.go
  pkg/platform/model/inventory.go
  pkg/platform/runtime/buildexpression/merge/merge_test.go
  pkg/platform/runtime/buildscript/buildscript.go
  pkg/platform/runtime/buildscript/buildscript_test.go
  pkg/platform/runtime/buildscript/json.go
  pkg/platform/runtime/setup/buildlog/buildlog.go
  pkg/platform/runtime/setup/setup.go
  version.txt
Labels: Test: all

#3227 Fix TestInUse integration test
  cmd/state-svc/internal/rtwatcher/entry.go
  test/integration/runtime_int_test.go
Labels: Test: critical

#3229 Allow arbitrary key=value assignments to buildscript Req function.
  pkg/platform/runtime/buildscript/json.go
Labels: Test: pull, test: buildscripts

#3230 Version 0.43.0-RC8
  pkg/platform/runtime/buildscript/json.go
  version.txt
Labels: Test: all

#3231 Fix executors test
  test/integration/prepare_int_test.go
Labels: Test: prepare

#3232 Fix TestWildcards
  test/integration/languages_int_test.go
Labels: Test: languages

#3234 Added --target behaviour to `state artifacts` and `state artifacts dl`
  cmd/state/internal/cmdtree/artifacts.go
  internal/runners/artifacts/artifacts.go
  internal/runners/artifacts/download.go
  pkg/platform/api/buildplanner/request/buildplan.go
  pkg/platform/api/buildplanner/request/commit.go
  pkg/platform/model/buildplanner.go
  pkg/platform/runtime/setup/setup.go
Labels: Test: artifacts

#3233 Version 0.43.0-RC9
  cmd/state/internal/cmdtree/artifacts.go
  internal/runners/artifacts/artifacts.go
  internal/runners/artifacts/download.go
  pkg/platform/api/buildplanner/request/buildplan.go
  pkg/platform/api/buildplanner/request/commit.go
  pkg/platform/model/buildplanner.go
  pkg/platform/runtime/setup/setup.go
  version.txt
Labels: Test: all

#3235 Fix TestReset
  test/integration/reset_int_test.go
Labels: Test: reset

#3240 Version 0.43.0-RC10
  internal/runners/artifacts/artifacts.go
  internal/runners/artifacts/download.go
  pkg/platform/api/buildplanner/request/buildplan.go
Labels: Test: all

#3253 Fix `state install/uninstall` output
  internal/runbits/requirements/requirements.go
Labels: Test: package

#3249 Update to merged commit even if buildscript merge failed.
  internal/runners/pull/pull.go
  test/integration/pull_int_test.go
Labels: Test: pull

#3258 Only raise an error about buildscript having local changes if the runtime commit matches the local commit.
  pkg/platform/runtime/runtime.go
  test/integration/commit_int_test.go
Labels: Test: commit

#3259 Still raise an error if the buildscript does not exist.
  pkg/platform/runtime/runtime.go
Labels: Test: pull, test: buildscripts

#3256 Do not print update/deprecation warnings/messages when running `state update`.
  cmd/state/internal/cmdtree/exechandlers/messenger/messenger.go
Labels: Test: update

#3260 Revert being able to pass a branch name to `state reset`.
  cmd/state/internal/cmdtree/reset.go
  internal/runners/reset/reset.go
  test/integration/reset_int_test.go
Labels: Test: reset

#3261 Mark top-level "state-install" payload dir as legacy, but still check for it.
  cmd/state-installer/test/integration/installer_int_test.go
  internal/constants/constants.go
  internal/updater/updater.go
  scripts/ci/payload-generator/main.go
  scripts/ci/update-generator/main.go
  test/integration/upgen_int_test.go
Labels: Test: update, Test: install-scripts, Test: installer, Test: remote-installer, Test: offline-install, Test: install

#3262 Show currently building artifacts in `state artifacts`.
  internal/locale/locales/en-us.yaml
  internal/runners/artifacts/artifacts.go
Labels: Test: artifacts

#3250 Add `state manifest` command
  cmd/state/internal/cmdtree/cmdtree.go
  cmd/state/internal/cmdtree/manifest.go
  internal/locale/locales/en-us.yaml
  internal/output/plain.go
  internal/runners/languages/languages.go
  internal/runners/manifest/manifest.go
  internal/runners/manifest/rationalize.go
  internal/runners/manifest/requirements.go
  internal/runners/manifest/version.go
  internal/runners/manifest/vulnerabilities.go
  internal/runners/packages/list.go
  internal/runners/packages/searchView.go
  internal/table/table.go
  internal/table/table_test.go
  internal/testhelpers/tagsuite/tagsuite.go
  pkg/platform/model/version_constraints.go
  pkg/platform/runtime/target/target.go
  test/integration/manifest_int_test.go
Labels: Test: manifest

#3269 Increase state-svc wait timeout and output a notice after 5 seconds of waiting.
  cmd/state-svc/main.go
  cmd/state/main.go
  internal/svcctl/svcctl.go
  test/integration/performance_svc_int_test.go
  test/pseudo/cmd/ipc-shutdown/main.go
  test/pseudo/cmd/tool/main.go
Labels: Test: service

#3268 Omit redundant dash in commit history output.
  internal/output/plain.go
  internal/runbits/commit/commit.go
Labels: Test: history

#3270 `state pull` checks for common ancestor
  internal/locale/locales/en-us.yaml
  internal/runners/pull/pull.go
  internal/runners/pull/rationalize.go
  test/integration/pull_int_test.go
Labels: Test: pull
