Repository ActiveState/cli, pull requests merged in 2024-02, with the labels that each got.

#3077 Greatly simplify local order migration mechanic
  cmd/state/main.go
  internal/constants/constants.go
  internal/constraints/constraints.go
  internal/locale/locales/en-us.yaml
  internal/runbits/checker/checker.go
  internal/runbits/commitmediator/commitmediator.go
  internal/runbits/legacy/projectmigration/migrate.mac.bash
  internal/runbits/legacy/projectmigration/migrate.nix.bash
  internal/runbits/legacy/projectmigration/migrate.win.ps
  internal/runbits/legacy/projectmigration/projectmigration.go
  internal/runbits/requirements/requirements.go
  internal/runners/activate/activate.go
  internal/runners/branch/add.go
  internal/runners/cve/cve.go
  internal/runners/export/recipe.go
  internal/runners/hello/hello_example.go
  internal/runners/history/history.go
  internal/runners/initialize/init.go
  internal/runners/languages/languages.go
  internal/runners/packages/import.go
  internal/runners/packages/list.go
  internal/runners/packages/search.go
  internal/runners/platforms/list.go
  internal/runners/prepare/prepare.go
  internal/runners/pull/pull.go
  internal/runners/push/push.go
  internal/runners/reset/reset.go
  internal/runners/revert/revert.go
  internal/runners/shell/shell.go
  internal/runners/show/show.go
  internal/runners/swtch/switch.go
  internal/runners/use/use.go
  internal/testhelpers/e2e/env.go
  pkg/localcommit/localcommit.go
  pkg/platform/runtime/target/target.go
  pkg/project/expander.go
  pkg/project/namespace.go
  pkg/project/project.go
  pkg/project/project_test.go
  pkg/projectfile/projectfield.go
  pkg/projectfile/projectfile.go
  test/integration/branch_int_test.go
  test/integration/project_migration_int_test.go
  test/integration/push_int_test.go
  test/integration/switch_int_test.go
Labels: Test: branches, Test: critical, Test: migrations

#3074 Always check for empty namespace
  internal/runners/publish/publish.go
Labels: Test: publish

#3081 Normalize name given in `state info`.
  internal/runners/packages/info.go
Labels: Test: info

#3080 Tests should always supply a commit ID
  internal/testhelpers/e2e/constants.go
  test/integration/branch_int_test.go
  test/integration/export_int_test.go
  test/integration/invite_int_test.go
  test/integration/languages_int_test.go
  test/integration/platforms_int_test.go
  test/integration/secrets_int_test.go
Labels: Test: languages, Test: platforms, Test: branches, Test: export, Test: invite, Test: secrets

#3084 Quote state executable with spaces in name for `state shell`.
  internal/subshell/sscommon/rcfile.go
Labels: Test: shell

#3072 Implement `state builds dl`
  cmd/state/internal/cmdtree/builds.go
  cmd/state/internal/cmdtree/cmdtree.go
  internal/output/progress.go
  internal/runbits/runtime/progress/decor.go
  internal/runbits/runtime/progress/progress.go
  internal/runners/builds/builds.go
  internal/runners/builds/download.go
  internal/runners/builds/progress.go
  internal/runners/builds/rationalize.go
  test/integration/builds_int_test.go
Labels: Test: builds

#3087 Revert localcommit mechanic, but preserve package for further refactors
  cmd/state/main.go
  internal/constants/constants.go
  internal/constraints/constraints.go
  internal/locale/locales/en-us.yaml
  internal/runbits/checkout/checkout.go
  internal/runbits/legacy/projectmigration/projectmigration.go
  internal/runbits/requirements/rationalize.go
  internal/runners/initialize/init.go
  internal/testhelpers/e2e/session.go
  pkg/localcommit/localcommit.go
  pkg/localcommit/localcommit_test.go
  pkg/project/expander.go
  pkg/project/namespace.go
  pkg/project/project_test.go
  pkg/project/testdata/activestate.yaml
  test/integration/checkout_int_test.go
  test/integration/install_int_test.go
  test/integration/project_migration_int_test.go
  test/integration/pull_int_test.go
  test/integration/push_int_test.go
  test/integration/switch_int_test.go
Labels: Test: branches, Test: critical, Test: all, Test: install

#3098 Add `--full-id` flag to `state builds`
  cmd/state/internal/cmdtree/builds.go
  internal/runners/builds/builds.go
Labels: Test: builds

#3102 Fixed `state commit` not updating the local commit ID.
  internal/runbits/buildscript/buildscript.go
  test/integration/commit_int_test.go
Labels: Test: commit

#3096 Update `state init` output to match the mock UI.
  cmd/state/internal/cmdtree/init.go
  internal/locale/locales/en-us.yaml
  internal/runners/initialize/init.go
  pkg/platform/runtime/setup/setup.go
  test/integration/init_int_test.go
Labels: Test: init

#3101 Added `--namespace` and `--commit` flags for `state builds` and subcommands.
  cmd/state/internal/cmdtree/builds.go
  internal/runners/builds/builds.go
  internal/runners/builds/download.go
  internal/runners/builds/rationalize.go
  test/integration/builds_int_test.go
Labels: Test: builds

#3110 Run build and verify on the HEAD of the PR, rather than the speculative merge
  .github/workflows/build.yml
  .github/workflows/verify.yml
  internal/constants/preprocess/preprocess.go
Labels: Test: critical

#3109 Rationalize project not found errors in `state builds --namespace`.
  internal/runners/builds/builds.go
  internal/runners/builds/download.go
  internal/runners/builds/rationalize.go
Labels: Test: builds

#3104 `state init` uses defaults for namespace
  cmd/state/internal/cmdtree/init.go
  internal/constants/constants.go
  internal/locale/locales/en-us.yaml
  internal/runners/initialize/init.go
  internal/runners/initialize/rationalize.go
  pkg/projectfile/projectfile.go
  test/integration/init_int_test.go
Labels: Test: init

#3112 Debug integration test failure
  test/integration/activate_int_test.go
Labels: Test: activate

#3116 Fix bundle tests
  test/integration/bundle_int_test.go
Labels: Test: bundle

#3111 Log build expression in buildplaner requests
  pkg/platform/model/buildplanner.go
Labels: Test: critical

#3119 Support the revision flag for `state install`
  cmd/state/internal/cmdtree/packages.go
  internal/captain/values.go
  internal/locale/locales/en-us.yaml
  internal/runbits/requirements/requirements.go
  internal/runners/languages/install.go
  internal/runners/packages/install.go
  internal/runners/packages/uninstall.go
  internal/runners/platforms/add.go
  internal/runners/platforms/remove.go
  internal/runners/publish/publish.go
  pkg/platform/api/buildplanner/model/buildplan.go
  pkg/platform/model/buildplanner.go
  pkg/platform/runtime/buildexpression/buildexpression.go
Labels: Test: install, Test: publish

#3124 Added "Operating on project..." notice to `state builds`.
  internal/runners/builds/builds.go
  internal/runners/builds/download.go
  test/integration/builds_int_test.go
Labels: Test: builds

#3125 Added namespace information to `state history`.
  internal/locale/locales/en-us.yaml
  internal/runbits/commit/commit.go
  test/integration/history_int_test.go
Labels: Test: history

#3120 Use a more informative name for downloaded artifacts if necessary.
  internal/runners/builds/download.go
  test/integration/builds_int_test.go
Labels: Test: builds

#3122 Remove top-level "let" buildscript key and rename "in" key to be an assignment to "main".
  internal/runbits/buildscript/buildscript_test.go
  internal/runbits/buildscript/testdata/buildscript1.as
  internal/runbits/buildscript/testdata/buildscript2.as
  pkg/platform/runtime/buildexpression/merge/merge_test.go
  pkg/platform/runtime/buildscript/buildscript.go
  pkg/platform/runtime/buildscript/buildscript_test.go
  pkg/platform/runtime/buildscript/json.go
Labels: Test: commit

#3129 Mark unrecognized language errors as user-facing.
  internal/runners/initialize/init.go
  internal/runners/initialize/rationalize.go
Labels: Test: init

#3115 Fixed artifact caching despite previously cached artifacts not existing.
  pkg/platform/runtime/artifactcache/artifactcache.go
Labels: Test: checkout

#3136 Directly invoke update checker from `state update` instead of asking state-svc.
  internal/runners/update/update.go
Labels: Test: update, Test: critical

#3138 Buildscript variable values should be converted to "$var" in build expressions and vice-versa.
  internal/runbits/buildscript/buildscript_test.go
  internal/runbits/buildscript/testdata/buildscript1.as
  internal/runbits/buildscript/testdata/buildscript2.as
  pkg/platform/runtime/buildscript/buildscript.go
  pkg/platform/runtime/buildscript/buildscript_test.go
  pkg/platform/runtime/buildscript/json.go
Labels: Test: commit

#3140 Mark "no deployed runtime" errors as input errors.
  internal/runners/deploy/uninstall/uninstall.go
Labels: Test: deploy

#3142 Mark `state revert` commit not in history errors as input errors.
  internal/runners/revert/revert.go
  pkg/platform/model/vcs.go
  test/integration/revert_int_test.go
Labels: Test: revert

#3143 Mark `state cve` project not found errors as input errors.
  internal/runners/cve/cve.go
  pkg/platform/model/cve.go
  test/integration/cve_int_test.go
Labels: Test: cve
