Repository ActiveState/cli, pull requests merged in 2024-11, with the labels that each got.

#3577 Handle more panics
  cmd/state-svc/internal/messages/messages.go
  cmd/state-svc/internal/resolver/resolver.go
  internal/runbits/panics/panics.go
Labels: Test: service

#3582 CVE report should include changed requirements.
  internal/runbits/cves/cves.go
Labels: Test: package

#3584 `state commit` should not poll for build result.
  internal/runners/commit/commit.go
  pkg/platform/model/buildplanner/build.go
Labels: Test: commit

#3585 Fix failing tests.
  test/integration/publish_int_test.go
Labels: Test: publish

#3586 `state commit`, `state push`, and `state reset` should not fail if there is no work to be done.
  internal/runners/commit/commit.go
  internal/runners/push/push.go
  internal/runners/push/rationalize.go
  internal/runners/reset/reset.go
  test/integration/commit_int_test.go
  test/integration/push_int_test.go
  test/integration/reset_int_test.go
Labels: Test: push, Test: commit, Test: reset

#3579 Implement user-facing errors for environment setup commands.
  internal/locale/locales/en-us.yaml
  internal/runbits/checkout/checkout.go
  internal/runners/checkout/checkout.go
  internal/runners/initialize/init.go
  internal/runners/initialize/rationalize.go
  internal/runners/swtch/switch.go
Labels: Test: init, Test: checkout, Test: switch

#3580 Update GraphQL Response Handling
  go.mod
  go.sum
  internal/gqlclient/gqlclient.go
  internal/graph/response.go
  internal/graphql/graphql.go
  internal/graphql/graphql_json_test.go
  internal/graphql/graphql_multipart_test.go
  internal/graphql/graphql_test.go
  internal/runners/packages/list.go
  pkg/platform/api/buildplanner/response/buildexpression.go
  pkg/platform/api/buildplanner/response/buildtarget.go
  pkg/platform/api/buildplanner/response/commit.go
  pkg/platform/api/buildplanner/response/commiterror.go
  pkg/platform/api/buildplanner/response/createproject.go
  pkg/platform/api/buildplanner/response/mergecommit.go
  pkg/platform/api/buildplanner/response/project.go
  pkg/platform/api/buildplanner/response/revertcommit.go
  pkg/platform/api/buildplanner/response/stagecommit.go
  pkg/platform/api/graphql/model/publish.go
  pkg/platform/api/graphql/model/vcs.go
  pkg/platform/api/graphql/request/vcs.go
  pkg/platform/api/hasura_inventory/model/inventory.go
  pkg/platform/api/mediator/model/cve.go
  pkg/platform/api/mediator/model/supportedlangs.go
  pkg/platform/api/vulnerabilities/model/vulnerabilities.go
  pkg/platform/model/buildplanner/build.go
  pkg/platform/model/buildplanner/buildplanner.go
  pkg/platform/model/buildplanner/buildscript.go
  pkg/platform/model/buildplanner/commit.go
  pkg/platform/model/buildplanner/project.go
  pkg/platform/model/buildplanner/publish.go
  pkg/platform/model/checkpoints.go
  pkg/platform/model/cve.go
  pkg/platform/model/inventory.go
  pkg/platform/model/organizations.go
  pkg/platform/model/projects.go
  pkg/platform/model/supportedlangs.go
  pkg/platform/model/svc.go
  pkg/platform/model/vulnerabilities.go
  vendor/github.com/ActiveState/graphql/.gitignore
  vendor/github.com/ActiveState/graphql/.travis.yml
  vendor/github.com/ActiveState/graphql/LICENSE
  vendor/github.com/ActiveState/graphql/README.md
  vendor/github.com/matryer/is/.gitignore
  vendor/github.com/matryer/is/.travis.yml
  vendor/github.com/matryer/is/LICENSE
  vendor/github.com/matryer/is/README.md
  vendor/github.com/matryer/is/is-1.7.go
  vendor/github.com/matryer/is/is-before-1.7.go
  vendor/github.com/matryer/is/is.go
  vendor/modules.txt
Labels: Test: all

#3587 Declining the security prompt should cancel `state commit`.
  internal/runners/commit/commit.go
Labels: Test: commit

#3592 Add a bit of lag to the JWT renewal time.
  pkg/platform/authentication/auth.go
Labels: Test: auth

#3591 Fix Publish Integration Test
  internal/gqlclient/gqlclient.go
Labels: Test: publish

#3596 Fixed failing integration test.
  internal/runbits/runtime/runtime.go
Labels: Test: checkout

#3597 Fixed interline diffs.
  internal/runbits/buildscript/buildscript.go
Labels: Test: buildscripts

#3601 Add Date Recognition To Messages
  cmd/state-svc/internal/messages/messages.go
  cmd/state-svc/internal/messages/messages_test.go
  cmd/state-svc/internal/server/generated/generated.go
  cmd/state-svc/schema/schema.graphqls
  internal/graph/generated.go
  test/integration/msg_int_test.go
Labels: Test: messaging

#3599 Reorganize BuildPlanner Error Handling
  pkg/platform/api/buildplanner/request/buildexpression.go
  pkg/platform/api/buildplanner/request/commit.go
  pkg/platform/api/buildplanner/request/createproject.go
  pkg/platform/api/buildplanner/request/evaluate.go
  pkg/platform/api/buildplanner/request/mergecommit.go
  pkg/platform/api/buildplanner/request/revertcommit.go
  pkg/platform/api/buildplanner/request/stagecommit.go
  pkg/platform/api/buildplanner/response/build.go
  pkg/platform/api/buildplanner/response/commit.go
  pkg/platform/api/buildplanner/response/commiterror.go
  pkg/platform/api/buildplanner/response/createproject.go
  pkg/platform/api/buildplanner/response/mergecommit.go
  pkg/platform/api/buildplanner/response/pushcommit.go
  pkg/platform/api/buildplanner/response/revertcommit.go
  pkg/platform/api/buildplanner/response/shared.go
  pkg/platform/api/buildplanner/response/solveerror.go
  pkg/platform/api/graphql/request/publish.go
Labels: Test: critical

#3604 Rename Messages To Notifications
  cmd/state-svc/internal/messages/messages.go
  cmd/state-svc/internal/notifications/condition.go
  cmd/state-svc/internal/notifications/notifications.go
  cmd/state-svc/internal/notifications/notifications_test.go
  cmd/state-svc/internal/resolver/resolver.go
  cmd/state-svc/internal/server/generated/generated.go
  cmd/state-svc/schema/schema.graphqls
  cmd/state/internal/cmdtree/exechandlers/messenger/messenger.go
  cmd/state/internal/cmdtree/exechandlers/notifier/notifier.go
  cmd/state/main.go
  internal/constants/constants.go
  internal/graph/generated.go
  internal/testhelpers/tagsuite/tagsuite.go
  pkg/platform/api/svc/request/messaging.go
  pkg/platform/api/svc/request/notification.go
  pkg/platform/model/svc.go
  test/integration/notification_int_test.go
Labels: Test: notifications

#3603 Unify graphQL client code
  internal/gqlclient/gqlclient.go
  internal/gqlclient/gqlclient_json_test.go
  internal/gqlclient/gqlclient_multipart_test.go
  internal/gqlclient/gqlclient_shared_test.go
  internal/gqlclient/gqlclient_test.go
  internal/graphql/graphql.go
  pkg/platform/model/buildplanner/build.go
  pkg/platform/model/buildplanner/buildplanner.go
  pkg/platform/model/svc.go
Labels: Test: critical

#3607 Do not run remote installer test in non-interactive mode.
  test/integration/remote_installer_int_test.go
Labels: Test: remote-installer
