Repository ActiveState/cli, pull requests merged in 2024-07, with the labels that each got.

#3388 Fix dependency calculation
  internal/runbits/dependencies/changesummary.go
  pkg/buildplan/ingredient.go
Labels: Test: critical, Test: install

#3385 Added change summary and CVE report to `state import`
  internal/locale/locales/en-us.yaml
  internal/runners/packages/import.go
  test/integration/import_int_test.go
Labels: Test: import

#3380 Update termtest to fix process exit race condition
  go.mod
  go.sum
  readme.md
  vendor/github.com/ActiveState/termtest/expect.go
  vendor/github.com/ActiveState/termtest/helpers.go
  vendor/github.com/ActiveState/termtest/outputconsumer.go
  vendor/github.com/ActiveState/termtest/outputproducer.go
  vendor/github.com/ActiveState/termtest/termtest.go
  vendor/github.com/ActiveState/termtest/termtest_other.go
  vendor/github.com/ActiveState/termtest/termtest_windows.go
  vendor/modules.txt
Labels: Test: critical

#3387 Output CVE report for `state commit`.
  internal/runners/commit/commit.go
  test/integration/commit_int_test.go
Labels: Test: commit

#3390 Implement powershell support
  internal/assets/contents/shells/pwsh.ps1
  internal/assets/contents/shells/pwsh_global.ps1
  internal/subshell/pwsh/pwsh.go
  internal/subshell/sscommon/rcfile.go
  internal/subshell/sscommon/sscommon.go
  internal/subshell/subshell.go
  internal/testhelpers/e2e/spawn.go
  test/integration/shell_int_test.go
Labels: Test: shell

#3392 UpdateByReference respect async runtimes
  internal/runbits/requirements/requirements.go
  internal/runbits/runtime/refresh.go
  internal/runners/checkout/checkout.go
  internal/runners/initialize/init.go
Labels: Test: critical, Test: checkout

#3395 Fixed nil pointer error with `state exec` and async runtimes.
  internal/runners/exec/exec.go
Labels: Test: exec

#3393 Do not use the default retryhttp client for `state update`; use a no-timeout client.
  internal/updater/fetcher.go
Labels: Test: update

#3396 Fix `state exec` unable to run complex arguments
  internal/osutils/exeutils_windows.go
  internal/runners/exec/exec.go
  internal/subshell/sscommon/sscommon.go
  test/integration/exec_int_test.go
Labels: Test: exec

#3397 Fix failing integration test
  internal/runbits/cves/cves.go
  internal/runbits/runtime/requirements/requirements.go
Labels: Test: package

#3398 Added `state export buildplan`.
  cmd/state/internal/cmdtree/cmdtree.go
  cmd/state/internal/cmdtree/export.go
  internal/locale/locales/en-us.yaml
  internal/runbits/buildplanner/buildplanner.go
  internal/runners/artifacts/artifacts.go
  internal/runners/artifacts/download.go
  internal/runners/artifacts/rationalize.go
  internal/runners/export/buildplan.go
  internal/runners/export/log.go
  internal/runners/export/rationalize.go
  internal/runners/export/runtime.go
  test/integration/export_int_test.go
Labels: Test: export, Test: artifacts

#3404 Don't wrap input errors in buildplanner errors
  pkg/platform/model/buildplanner/build.go
Labels: Test: critical

#3400 Implement advanced requirements for `state manifest`
  internal/constants/constants.go
  internal/locale/locales/en-us.yaml
  internal/migrator/migrator.go
  internal/output/plain.go
  internal/runbits/runtime/rationalize.go
  internal/runbits/runtime/runtime.go
  internal/runners/manifest/manifest.go
  internal/runners/manifest/requirements.go
  internal/runners/manifest/vulnerabilities.go
  pkg/buildscript/marshal.go
  pkg/buildscript/marshal_buildexpression.go
  pkg/buildscript/mutations_test.go
  pkg/buildscript/queries.go
  pkg/buildscript/queries_test.go
  pkg/buildscript/testdata/buildexpression_rev.json
  test/integration/manifest_int_test.go
Labels: Test: manifest

#3414 Only remove the installation.InstallDirMarker after binaries were successfully removed.
  internal/assets/contents/scripts/removePaths.bat
  internal/runners/clean/run_lin_mac.go
  internal/runners/clean/run_win.go
Labels: Test: uninstall

#3417 Fixed failing integration test.
  internal/scriptrun/test/integration/scriptrun_test.go
  internal/scriptrun/test/integration/testdata/printEnv/activestate.yaml
Labels: Test: scripts

#3415 Enrich 'installation path must be an empty directory' errors to help troubleshoot.
  cmd/state-installer/cmd.go
  cmd/state-installer/installer.go
Labels: Test: installer

#3418 `state import` with SBOMs should still update the commit.
  internal/runners/packages/import.go
  test/integration/import_int_test.go
Labels: Test: import

#3382 State export log ignores some log files
  internal/captain/command.go
  internal/logging/defaults.go
  internal/runners/export/log.go
  test/integration/export_int_test.go
Labels: Test: export

#3423 Add back mistakenly deleted locale message.
  internal/locale/locales/en-us.yaml
Labels: Test: pull

#3429 Bypass Execution Policy on Windows
  internal/osutils/shortcut/shortcut_windows.go
Labels: Test: installer, Test: remote-installer

#3428 Version 0.45.1-RC1
  changelog.md
  internal/osutils/shortcut/shortcut_windows.go
  version.txt
Labels: Test: all
