Repository ActiveState/cli, pull requests merged in 2025-02, with the labels that each got.

#3634 Recognize arm arch coming from the Platform.
  pkg/platform/model/checkpoints.go
Labels: Test: install-scripts

#3635 Temporarily disable failing integration test on Linux and macOS.
  test/integration/buildscript_int_test.go
Labels: Test: buildscripts

#3639 Version 0.47.0-RC3
  .github/workflows/build.yml
  go.mod
  version.txt
Labels: Test: all

#3647 Added integration test for `state checkout --portable`.
  test/integration/checkout_int_test.go
Labels: Test: checkout

#3657 Remove unused events shorthand `-f` that's conflicting with `--force` shorthand.
  cmd/state/internal/cmdtree/events.go
Labels: Test: prepare, Test: install-scripts, Test: installer, Test: remote-installer

#3658 Disable buildscript ingredient function integration test on Windows too.
  test/integration/buildscript_int_test.go
Labels: Test: buildscripts

#3645 Version 0.47.1-RC1
  .github/workflows/build.yml
  activestate.yaml
  cmd/state/internal/cmdtree/checkout.go
  installers/install.ps1
  internal/assets/contents/activestate.yaml.cache.tpl
  internal/runbits/checkout/checkout.go
  internal/runbits/runtime/runtime.go
  internal/runners/activate/activate.go
  internal/runners/checkout/checkout.go
  internal/runners/deploy/deploy.go
  pkg/buildscript/marshal.go
  pkg/buildscript/marshal_buildexpression.go
  pkg/project/project.go
  pkg/projectfile/projectfile.go
  pkg/runtime/options.go
  pkg/runtime/setup.go
  test/integration/buildscript_int_test.go
  test/integration/checkout_int_test.go
  version.txt
Labels: Test: all

#3659 Allow buildscript functions without arguments.
  pkg/buildscript/marshal.go
  pkg/buildscript/raw.go
  test/integration/buildscript_int_test.go
Labels: Test: buildscripts

#3661 Added runtime sourcing timeout for failing integration test.
  test/integration/checkout_int_test.go
Labels: Test: checkout
