Repository ActiveState/cli, pull requests merged in 2025-08, with the labels that each got.

#3699 Add `--ts dynamic` to `state import`
  cmd/state/internal/cmdtree/packages.go
  internal/runners/packages/import.go
  pkg/platform/api/reqsimport/reqsimport.go
Labels: Test: import

#3700 Added `--ts` flag to `state commit`
  cmd/state/internal/cmdtree/commit.go
  internal/captain/values.go
  internal/locale/locales/en-us.yaml
  internal/runbits/commits_runbit/time.go
  internal/runners/commit/commit.go
  internal/runners/install/install.go
  internal/runners/packages/import.go
  test/integration/commit_int_test.go
Labels: Test: commit

#3702 Added `state commit --skip-validation` flag
  cmd/state/internal/cmdtree/commit.go
  internal/locale/locales/en-us.yaml
  internal/runbits/reqop_runbit/update.go
  internal/runners/commit/commit.go
  internal/runners/packages/import.go
  internal/runners/revert/revert.go
  internal/runners/upgrade/upgrade.go
  internal/testhelpers/e2e/session.go
  pkg/platform/model/buildplanner/build.go
  pkg/platform/model/buildplanner/commit.go
  test/integration/commit_int_test.go
Labels: Test: commit

#3703 Prevent concurrent map writes
  pkg/runtime/depot.go
Labels: Test: checkout

#3704 Default to platform present if no timestamp input was provided
  internal/runbits/commits_runbit/time.go
Labels: Test: platforms

#3717 Allow configuration of API host
  cmd/state-svc/main.go
  cmd/state/main.go
  internal/constants/constants.go
  internal/runbits/checkout/checkout.go
  internal/runbits/runtime/runtime.go
  internal/runners/initialize/init.go
  internal/testhelpers/e2e/session.go
  internal/testhelpers/tagsuite/tagsuite.go
  pkg/platform/api/settings.go
  pkg/projectfile/create_test.go
  pkg/projectfile/projectfile.go
  test/integration/api_int_test.go
  test/integration/config_int_test.go
Labels: Test: config, Test: api

#3718 Allow configuration of analytics pixel URL
  internal/analytics/analytics.go
  internal/analytics/client/sync/client.go
  internal/analytics/client/sync/reporters/pixel.go
  internal/analytics/client/sync/reporters/test.go
  internal/constants/constants.go
  test/integration/analytics_int_test.go
Labels: Test: analytics
