Repository ActiveState/cli, pull requests merged in 2025-09, with the labels that each got.

#3725 Allow configuration of notifications URL
  cmd/state-svc/internal/notifications/notifications.go
  cmd/state/main.go
  internal/constants/constants.go
  internal/testhelpers/e2e/session.go
  test/integration/notification_int_test.go
Labels: Test: notifications

#3727 Update config to override correct URL
  cmd/state-remote-installer/main.go
  cmd/state/autoupdate.go
  internal/constants/constants.go
  internal/runners/update/update.go
  internal/updater/checker.go
  internal/updater/updater.go
  internal/updater/updater_test.go
  test/integration/update_int_test.go
Labels: Test: update

#3728 Fix syntax error in install.sh
  installers/install.sh
Labels: Test: install-scripts

#3737 Remote installer respects and forwards config-set
  cmd/state-installer/cmd.go
  cmd/state-remote-installer/main.go
  internal/config/instance.go
Labels: Test: installer, Test: remote-installer
